[2019-09-11 05:02] liggitt commented on #206
That's what I was thinking

[2019-09-11 05:04] lukaszgryglicki commented on #206
I've added another panel (on the test server), so now you have "per company stats" panel and "all companies combined" panel. See [here](https://k8s.teststats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1). Please let me know if that is ok for you, if so I'll update all CNCF projects (including K8s) on both test and prod servers.
@liggitt @dims

[2019-09-11 05:16] liggitt commented on #206
it's a little confusing to have a company filter on the page the doesn't apply to one of the panels. maybe two dashboards would be better

[2019-09-11 05:25] lukaszgryglicki commented on #206
That was my concern too, I'll create two dashboards and let you review that approach.

[2019-09-11 05:52] liggitt commented on #206
sounds good. if possible, when this is all resolved, let's keep the original dashboard URLs intact (I know many people link to them)

[2019-09-11 05:58] lukaszgryglicki commented on #206
Sure, please check this (currently on the test server):
- Original one: https://k8s.teststats.cncf.io/d/13/developer-activity-counts-by-repository-group
- A new one with companies: https://k8s.teststats.cncf.io/d/66/developer-activity-counts-by-companies
If this is OK, I'll update other projects and then prod site.

[2019-09-11 06:02] liggitt commented on #206
That looks good to me

[2019-09-11 06:04] lukaszgryglicki commented on #206
OK, so I'll update everything.

[2019-09-11 06:45] lukaszgryglicki commented on #206
OK, added on 'All CNCF': https://all.teststats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1, https://all.teststats.cncf.io/d/9/developer-activity-counts-by-repository-group-table?orgId=1, other projects will be updated soon, if all is fine then I'll update prod.

[2019-09-11 07:34] lukaszgryglicki commented on #206
Updated everywhere, prod & test, all projects.

[2019-09-11 07:34] #206 closed

[2019-09-11 07:35] lukaszgryglicki opened #208 "[Feature request] Please add a new first column with 1, 2, 3 to companies table and other similar tables"
Please add a new first column with 1, 2, 3 to https://all.devstats.cncf.io/d/5/companies-table?orgId=1&var-period_name=Last%20quarter&var-metric=contributions and other similar tables.

[2019-09-11 07:36] lukaszgryglicki commented on #208
Working on this.

[2019-09-11 09:08] lukaszgryglicki commented on #208
Done.

[2019-09-11 09:08] #208 closed

[2019-09-13 15:35] mfdii opened #209 "[feature request] Add CNCF Milestones"
It would be nice if we could overlay CNCF milestones (sandbox, incubation, graduation), much like we can overlay releases, onto the various graphs. This makes it easier to see the growth of a project since they hit a particular milestone.

[2019-09-13 15:45] mfdii opened #210 "[bug] Data missing for monthly rollups"
For some of [the Falco graphs](https://falco.devstats.cncf.io/d/24/prs-merged-repository-groups?orgId=1&from=now-1y&to=now&var-period=m&var-repogroups=All), monthly roll up data appears to be missing.

**How to recreate:**

1. Visit https://falco.devstats.cncf.io/d/24/prs-merged-repository-groups?orgId=1
2. Set the time period to `1 year`
3. Set the period to `Monthly`
4. Monthly data is missing f

[2019-09-16 05:02] lukaszgryglicki commented on #209
I will add this, but first of all I need those milestone dates for all CNCF projects (like for example Kubernetes: I already have join date, now I would need Sandbox join date, then Incubation date and finally graduation date, same for all other projects - not all projects would have Sandbox date, some started as Incubating).
cc @dankohn

[2019-09-16 05:04] lukaszgryglicki commented on #210
Thanks for reporting, I'll check this.

[2019-09-18 04:55] lukaszgryglicki commented on #210
Working on this.

[2019-09-18 06:17] lukaszgryglicki commented on #210
Fixed, also detected permission denied issue for `gha_vars` table for OPA - added script that ensures that read-only user has permissions to all tables that are needed.

[2019-09-18 06:17] #210 closed

[2019-09-18 06:19] lukaszgryglicki commented on #209
I will work on that, but I'm treating this as a low priority task and I also need a list of dates of joining Sandbox (if present), promoting to Incubation or joining as incubating (if present), promoting to Graduated (if present) for all CNCF projects.
I'm blocked on having all those dates first.

[2019-09-22 02:33] liggitt opened #211 "[bug] Data missing from "developer activity counts by repository group""
The quarter, year, and decade views display "No data to show"

The day view currently only shows a single contributor, though many were active

https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-country_name=All

[2019-09-23 09:53] lukaszgryglicki commented on #211
I'll take a look, thanks for reporting.

[2019-09-23 10:05] lukaszgryglicki commented on #211
I can't replicate, maybe you have hit the time-frame when I was rebuilding data. I've scheduled such update during the last weekend.

[2019-09-23 11:03] dankohn commented on #211
We have a goal of improving our processes so that we can rebuild data nightly (or so) without causing downtime.

[2019-09-23 16:19] SergeyKanzhelev opened #212 "[feature request] OpenTelemetry: finding active contributors with emails when possible"
For the upcoming election in OpenTelemetry we need to get a list of OpenTelemetry active contributors.

We defined active contributors in the [document](https://github.com/open-telemetry/community/blob/master/governance-charter.md) as following:

Since it's a first time we are doing it, it will also be great to get a full list of people ever contributed - writing comment, sending PR or reporting a

[2019-09-23 16:48] lukaszgryglicki commented on #212
Your contributor definition is non-standard. I can pull that data for you tomorrow, but there is no such dashboard defined. I will just run custom SQL for this.

[2019-09-23 16:51] SergeyKanzhelev commented on #212
Thank you!

@lukaszgryglicki what's the standard contributor definition? Is it code-contributions only?

[2019-09-23 16:55] lukaszgryglicki commented on #212
Standard contributor is someone who:
- Made a PR
- Created an issue
- Did a commit
- Commented on a PR/issue/commit

[2019-09-23 17:02] SergeyKanzhelev commented on #212
This is exactly what we need for the overall number of contributors. On top of it we have set a bar of 20 contributions to define an "active" contributors in the past year. So stale or occasional contributors will not receive unwanted link to vote unless they will explicitly register themselves.

Thank you again for your help!

[2019-09-23 17:17] lukaszgryglicki commented on #212
I'll provide data for you tomorrow, you will have a CSV file with the list of contributors with their emails and number of contributions - sorted by the number of contributions (all time). Another file will have the same, but only for the last year.

[2019-09-23 17:20] lukaszgryglicki commented on #212
cc @dankohn - not sure if I can paste CSV withe with email addresses here?

[2019-09-23 20:58] dankohn commented on #212
No, please don't. Instead, please email cncf-opentelemetry-maintainers@lists.cncf.io

[2019-09-24 05:19] lukaszgryglicki commented on #212
Email sent, data generated via:
[code]

[2019-09-24 05:21] #211 closed

[2019-09-24 05:21] lukaszgryglicki commented on #209
I've got data I need, starting to work on this.

[2019-09-24 09:07] lukaszgryglicki commented on #209
Updated code to handle new milestones, like moving to incubation, graduating, archiving. In charts/graphs dashboards you will have new annotation lines, for example:
![Screenshot 2019-09-24 at 10 58 32](https://user-images.githubusercontent.com/2469783/65497439-8e0cd600-deba-11e9-949c-0646622b0465.png)
![Screenshot 2019-09-24 at 10 59 17](https://user-images.githubusercontent.com/2469783/65497441-

[2019-09-24 10:07] lukaszgryglicki commented on #209
Data also generated, few examples:
- https://k8s.devstats.cncf.io/d/24/overall-project-statistics?orgId=1&var-period_name=CNCF%20join%20date%20-%20graduated&var-repogroup_name=All
- https://k8s.devstats.cncf.io/d/24/overall-project-statistics?orgId=1&var-period_name=Since%20graduating&var-repogroup_name=All
- https://rook.devstats.cncf.io/d/9/developer-activity-counts-by-repository-group-table?org

[2019-09-24 10:08] lukaszgryglicki commented on #209
I'm closing this feature request, please let me know if you want to reopen.

[2019-09-24 10:08] #209 closed

[2019-09-24 10:08] lukaszgryglicki commented on #212
Closing this, please let me know if you need to reopen.

[2019-09-24 16:58] SergeyKanzhelev commented on #212
Thank you @lukaszgryglicki !

In the generated files there are sometimes multiple e-mails for a member. Is there a way to find out which one of these e-mails is more active? Perhaps, which one was associated with Linux Foundation CLA?

[2019-09-24 17:03] SergeyKanzhelev commented on #212
Also, can this script mark people who are part of OpenTelemetry project and who is not? Mostly out of curiosity and so we can customize an e-mail to non-member voters

[2019-09-24 17:56] lukaszgryglicki commented on #212
All I did was removing all addresses ending with `@users.noreply.github.com`.
Many users have multiple emails used for the same GitHub account. Git allows you to put any email address when committing and only on `git push` you need to authenticate to GitHub by login/password/oauth etc. Many users changed their email without changing GitHub ID. For many contributor who didn't commit at all - we onl

[2019-09-24 18:08] SergeyKanzhelev commented on #212
My understanding that LF CLA check validates e-mails on commits and check if they are registered. @caniszczyk do you know if this information available anywhere? I would think that LF CLA e-mail should be more safe to send e-mail to if we have a choice of multiple e-mails.

For the people in OpenTelemetry - my understanding is that there are contributions by people who have not joined the org: htt

[2019-09-24 18:11] lukaszgryglicki commented on #212
So I don't have CLA info, and for https://github.com/orgs/open-telemetry/people you have list of GitHub IDs, you just need to filter my CSV and check if every contributor is on that list or not. I don't have that list anywhere in the open telemetry DevStats database.

[2019-09-24 18:11] SergeyKanzhelev commented on #212
thank you for checking!

[2019-09-24 18:11] #212 closed

[2019-09-25 19:24] caniszczyk opened #213 "teststats.cncf.io is down"
teststats.cncf.io is down

[2019-09-25 20:14] lukaszgryglicki commented on #213
Working on this - 16 hours already.

[2019-09-26 08:30] gmile commented on #213
FWIW https://devstats.cncf.io is down as well

[2019-09-26 08:59] lukaszgryglicki commented on #213
Working on this, didn't sleep this night.

[2019-09-26 09:02] gmile commented on #213
@lukaszgryglicki do you need any help?

[2019-09-26 09:21] lukaszgryglicki commented on #213
No, I'm reprovisioning the cluster and struggling with SSL/nginx-ingress right now.

[2019-09-26 10:15] gmile commented on #213
@lukaszgryglicki I see. Hope it won't take too much of your time! If you need any help, even if to vent off some steam over a call or chat – let me know.

[2019-09-26 18:57] kmova opened #214 "[bug] openebs dev status throwing errors."
https://openebs.devstats.cncf.io/d/8/dashboards?orgId=1&refresh=15m
throwing errors like:

pq: database "openebs" does not exist

[2019-09-26 19:21] lukaszgryglicki commented on #213
Hopefully all will be fixed today.

[2019-09-26 19:22] lukaszgryglicki commented on #214
See: https://github.com/cncf/devstats/issues/213#issuecomment-535649584, closing.

[2019-09-26 19:22] #214 closed

[2019-09-27 14:23] lukaszgryglicki opened #215 "[Feature request] not count Company 'All' as first Rank"
Already implemented in K8s dashboard: https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1, implement on all non-k8s dashboards, for example: https://all.devstats.cncf.io/d/5/companies-table?orgId=1

[2019-09-30 06:53] gmile commented on #213
@lukaszgryglicki were you able to have some sleep after all? How's `SSL/nginx-ingress` investigation going?

Again, not that devstats is causing me any trouble. Just wanted to see if there's anything I could help you.

[2019-10-07 15:11] howardjohn opened #216 "[Feature Request] Additional metrics in "User Statistics" page"
The User Statistics page has a lot of interesting metrics, but it would be interesting if there were some additional ones.

Some ideas:
* PRs merged - right now there is just PRs opened, but PRs that they opened and were merged maybe be useful as well
* Issues closed (the user clicking close)
* PRs closed (the user clicking close)
* PRs approved (the user clicking approve)
* PRs with requested cha

[2019-10-08 04:51] lukaszgryglicki commented on #216
I will take a look when I have time, thanks.

[2019-10-10 23:57] atoato88 opened #218 "[bug] index w/ same score is reverse"
When I access to [Companies table](https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1&var-period_name=v1.16.0%20-%20now&var-metric=contributions), I get table in which index order of same score companies is reverse.

Example screenshot following.
![screenshot-k8s devstats cncf io-2019 10 11-08_36_53](https://user-images.githubusercontent.com/748740/66614599-9d06be80-ec04-11e9-80cc-5b39cb7a3a

[2019-10-11 00:05] dankohn commented on #218
We need to push back on your kind of linear thinking. Who is to say what order ordinal numbers should be in.

(jk)

[2019-10-11 01:00] atoato88 commented on #218
@dankohn
Thank you for comment.
I've updated issue message about ordinal numbers.

[2019-10-11 05:22] lukaszgryglicki commented on #218
not sure what to do, those rows have the same number of contributions, so their order is not defined and if I click your link I see order number increasing in all records, so I can't replicate.

[2019-10-11 09:23] atoato88 commented on #218
@lukaszgryglicki
Sorry for my poor explanation..
I have 2 suggestions.

First one is following. (just example against  screenshot above)
[code]
I don't care about the order between CNCF and Intel. (same with TACC and Pivotal)
But the logic maybe complicate for implementation...

Second suggestion is following. (just example against screenshot above)
[code]
In this suggestion, ordinal number is sam

[2019-10-11 10:42] lukaszgryglicki commented on #218
The problem here is that order comes from Grafana UI (which only sorts by single column) and rank comes from`rownumber()` Postgres call which internally orders by the number of contributions desc, so this may require some clever tricks, I'll try to find some solution for that.

[2019-10-12 16:41] amye opened #219 "[feature request] Longhorn dashboard"
We have a new sandbox project, Longhorn!
https://github.com/longhorn/longhorn

[2019-10-13 07:52] lukaszgryglicki commented on #219
OK, will add DevStats pages on Monday/Tuesday.

[2019-10-14 07:54] lukaszgryglicki commented on #219
Working on this.

[2019-10-14 13:49] lukaszgryglicki commented on #215
This is implemented.

[2019-10-14 13:49] #215 closed

[2019-10-14 13:50] lukaszgryglicki commented on #213
All was fixed long time ago, just forgot to close this.

[2019-10-14 13:50] #213 closed

[2019-10-14 13:52] lukaszgryglicki commented on #219
Added on the headless server, adding on the test server now. I also want to test new functionality to merge just added `Longhorn` into `All CNCF` automatically and regenerate `All CNCF` dashboards via single `helm install` call, I'm testing this, if all is fine will do the same on prod tomorrow. In any case, DevStats pages for Longhorn will be ready tomorrow.

[2019-10-14 15:47] lukaszgryglicki commented on #219
Test page deployed (I will have to take a look at all dashboards to eventually adjust date ranges and default selections): https://longhorn.teststats.cncf.io, will continue tomorrow.

[2019-10-14 17:33] lukaszgryglicki commented on #219
Adjusted dashboards, test site ready.

[2019-10-15 14:56] lukaszgryglicki commented on #219
Prod page [added](https://longhorn.devstats.cncf.io/d/8/dashboards), also updated [first](https://all.teststats.cncf.io/d/54/project-health-table?orgId=1&var-repogroup_name=Longhorn) and [second](https://all.teststats.cncf.io/d/53/projects-health-table?orgId=1) project health table sin `All CNCF` project.
Please note missing `Longhorn` artwork, I'll update once I have it.

[2019-10-15 14:56] #219 closed

[2019-10-18 16:38] MarckK opened #220 "[bug] Use new Jenkins X logo"
Could we please replace the old Jenkins X logo (currently showing: https://jenkinsx.devstats.cd.foundation) with the new Jenkins X logo: https://github.com/cdfoundation/artwork/tree/master/jenkinsx/icon/color

[2019-10-21 07:11] lukaszgryglicki commented on #220
Done:
![Screenshot 2019-10-21 at 09 06 49](https://user-images.githubusercontent.com/2469783/67183855-b963e180-f3e2-11e9-8002-91ee41170357.png)
![Screenshot 2019-10-21 at 09 10 57](https://user-images.githubusercontent.com/2469783/67183856-b963e180-f3e2-11e9-880c-929109d7796d.png)

[2019-10-21 07:11] #220 closed

[2019-10-21 16:11] lizthegrey commented on #176
This has just come up with @opentelemetry with some members trying to "shame" each other with inaccurate data :/ https://twitter.com/smflanders/status/1184981670103080960

[2019-10-21 16:12] lizthegrey commented on #176
I would make the suggestion that disclaimers be added to the graphs indicating that they are potentially inaccurate, should not be used for comparing activity of companies, that there are other confounding factors such as company size, etc.

[2019-10-21 19:54] MarckK commented on #220
Awesome! Thank you, @lukaszgryglicki!

[2019-10-21 20:54] bhs commented on #176
(@lizthegrey thanks for the `@bhs` :)

There are at least two issues here:
- What these graphs say / don't say
- How OTel "members of standing" behave in regards to this sort of data

My overall feeling is that it's "net positive" to show the wide variety of OpenTelemetry employers. A common (and legitimate) complaint about much OSS software (especially "COSS" software) is that the committers all

[2019-10-21 21:05] iredelmeier commented on #176
(Happy to move the OpenTelemetry-specific conversation elsewhere if that makes the most sense!)

I'm wondering if there's a potential happy medium that captures the list of companies over a given time period, without exposing the number of contributions or otherwise _ranking_ them?

[2019-10-21 22:25] jberkus commented on #176
Let's keep the discussion here, because the OpenTel issues are the same issues that folks have raised with other projects.

[2019-10-21 23:53] tedsuo commented on #176
I can see how this graph can both be useful, and misused. Beyond the obvious bad behavior that @lizthegrey pointed out, I could see a company trying to game-ify this to boost their numbers... ugh. At the end of the day, everything we're talking about is petty behavior, but it matters.

I suspect the answer lies not in limiting visibility into the projects in question, but in community standards. T

[2019-10-27 11:44] dankohn commented on #216
@howardjohn one if the issues with DevStats is that it is already getting so large that it’s challenging to find the statistics you’re looking for. Since you don’t have an urgent need for these, I’m going to close the request for now. If you want to reopen in the future, I’d appreciate if you could raise first in the #devstats channel in K8s Slack.

[2019-10-28 08:25] jiangkaihua opened #221 "[bug] unable to fetch cncf database from backup"
I followed the [https://github.com/cncf/devstats/blob/master/INSTALL_UBUNTU18.md](url) to deploy devstats in Ubuntu18, and got stuck in `Automatic deploy of first database`. The log were as follows:

![image](https://user-images.githubusercontent.com/54176503/67662461-6ff53280-f99e-11e9-9a26-d95f08da78d3.png)

Then I checked the error code, which finally referred to
 `wget "https://teststats.cncf.

[2019-10-28 08:31] lukaszgryglicki commented on #221
Actually, You don't need any database dumps unless you want to deploy all CNCF projects which is probably not something you want to do. Please fork, edit scripts and deploy projects you want to track.

[2019-10-28 08:38] jiangkaihua commented on #221
So I can just modify the environment variables such as `ONLY=myProject` and so on, and follow the [https://github.com/cncf/devstats/blob/master/ADDING_NEW_PROJECT.md](url) file to track my own project that doesn't belong to cncf ?

[2019-10-28 08:41] lukaszgryglicki commented on #221
Yes.

[2019-10-28 08:43] jiangkaihua commented on #221
Thank you for your response. I'll try it : )

[2019-10-28 16:59] caniszczyk opened #222 "Misclassification of a user"
See: https://all.devstats.cncf.io/d/56/company-commits-table?orgId=1&var-repogroups=All&var-companies=Nokia&from=now-5y&to=now

See one of Max's contributions:
https://github.com/spiffe/java-spiffe/commit/fbae0043de050535eb1232b25ff6f8049dfa6fb2.patch

I couldn't find developer affiliation data that classifies him working for Nokia, why does he come up as a Nokia contribution?

[2019-10-28 17:32] CsatariGergely commented on #222
Thanks @caniszczyk for filing this. I can also add that @maxlambrecht is not working for Nokia at the moment.

[2019-10-29 06:48] lukaszgryglicki commented on #222
github_users.json defines this user affiliation to Nokia, I don't know why, maybe this is a mistake, in this case, please create a PR on `cncf/gitdm` to fix this.

[2019-10-29 16:39] caniszczyk commented on #222
@lukaszgryglicki I don't see them listed in github_users.json or any affiliation file?

[2019-10-30 05:44] lukaszgryglicki commented on #222
it's in `github_users.json`, see ```"login": "maxlambrecht"```.

[2019-10-30 09:51] #216 closed

[2019-10-30 18:52] tracymiranda opened #223 "[feature request]Please add in additional Jenkins X repos"
There are a few additional Jenkins X repos to include for Jenkins X stats, namely:
https://github.com/jenkins-x-quickstarts
https://github.com/jenkins-x-charts
https://github.com/jenkins-x-apps
https://github.com/jenkins-x-buildpacks

Could we please include these to the existing stats.
We can start tracking from now (unless regenerating historical data is relatively painless)

[2019-10-31 04:46] lukaszgryglicki commented on #223
Those are `orgs` not `repos`, please confirm that you want to track all those `orgs` (which means all their current/past and future `repos`).

[2019-10-31 05:50] lukaszgryglicki commented on #223
Assuming you just want to track 4 new repos, working on this.

[2019-10-31 19:13] lukaszgryglicki commented on #223
Done, including past history: https://jenkinsx.devstats.cd.foundation.

[2019-10-31 19:13] #223 closed

[2019-11-06 05:50] lukaszgryglicki commented on #218
Fixed, just changed the Rank type from `string` (which allowed an empty value for `All`) to `number` (so all have rank 0), then specified that Rank 0 should be hidden in dashboards options. So now default sort is by Rank. Fixed in all projects on both `test` and `prod` envs.

[2019-11-06 05:50] #218 closed

[2019-11-06 10:15] atoato88 commented on #218
Thanks to fix!
I'm really appreciate to this.

[2019-11-07 10:09] lukaszgryglicki commented on #221
Closing this, please let me know if you need to reopen.

[2019-11-07 10:09] #221 closed

[2019-11-14 03:07] jiangkaihua opened #224 "Failed to create relation "trepo_groups"."
I tried devstats on Ubuntu18.04 in a docker container, and succeeded to deploy and display CNCF programs on my server. But when I referred to my project, I got trouble in pq relations. I succeeded to sync my project to local postgresql database, then `gha2db_sync: select "repo_group_name" from "trepo_groups"` threw an error `Error: 'pq: relation "trepo_groups" does not exist'`. The logs are as fol

[2019-11-14 05:57] lukaszgryglicki commented on #224
You have no repo groups defined in any of your repositories. Repo groups are used to group similar repositories into logical groups, if you don't need such definition, you can fall back to defaults script: `scripts/shared/repo_groups.sql`

[2019-11-14 07:54] jiangkaihua commented on #224
Thanks for your reply!
The question is, I do copy the `repo_groups.sql` from old projects and update it following [ADDING_NEW_PROJECT.md](https://github.com/cncf/devstats/blob/master/ADDING_NEW_PROJECT.md). The `scripts/volcano/repo_groups.sql` is as follows:
![image](https://user-images.githubusercontent.com/54176503/68837180-fb88f600-06f6-11ea-8b29-a83574fd2960.png)

I added this sql to postgres

[2019-11-14 10:14] lukaszgryglicki commented on #224
You need to follow the workflow from `ADDING_NEW_PROJECTS.md`.

[2019-11-18 03:23] jiangkaihua commented on #224
I've repeated the guide of [ADDING_NEW_PROJECT.md](https://github.com/cncf/devstats/blob/master/ADDING_NEW_PROJECT.md) for several time but the error still exists. Could you please tell me which `.sh` file create the relations? Thank you!

By the way, there may be something wrong with server [devstats](https://devstats.cncf.io/) and [teststats](https://teststats.cncf.io/), I got `504 Gateway Time-

[2019-11-19 09:03] oleg-nenashev opened #225 "[feature request] - Add `jenkins-zh` and `stapler` GitHub organizations to CDF/Jenkins"
Currently there are 2 GitHub organizations for which the devstats are recorded: `jenkinsci` and `jenkins-infra`. It would be great to also add `jenkins-zh` and `stapler` which are also a part of the Jenkins project at the moment.

CC @LinuxSuRen @tracymiranda

[2019-11-19 09:15] LinuxSuRen commented on #225
Hi, @oleg-nenashev . Thanks to you take the initiative action.

Put all related projects into one organization is a good practice. I'm on it. The only thing that I'm not very sure is about the quality. I did some research work, for example, the [mirror of Jenkins Update Center](https://github.com/jenkins-zh?utf8=%E2%9C%93&q=mirror&type=&language=). I don't know if it could be the official infra.

[2019-11-19 09:35] donhui commented on #225
I think it will be very useful to view some statistics.
https://jenkins.devstats.cd.foundation/

[2019-11-19 09:40] LinuxSuRen commented on #225
It seems I have some misunderstanding. Part of my ideas beyond this scope of current discussion.

[2019-11-19 09:56] oleg-nenashev commented on #225
@LinuxSuRen yes, I think it is a separate discussion.

[2019-11-19 09:59] LinuxSuRen commented on #225
Put jenkins-zh and stapler here +1 from me.

[2019-11-19 12:12] lukaszgryglicki commented on #225
Will do but I'm now on KubeCon and then on the vacation. I'll work on this in December.

[2019-11-19 12:15] lukaszgryglicki commented on #224
Will do but I'm now on KubeCon and then on the vacation, fixed server issues and regarding your question: see any projects `psql.sh` script, for example `envoy/psql.sh`: it calls
[code]
See `shared/setup_repo_groups.sh` and then `scripts/shared/repo_groups.sql`.

[2019-11-19 14:15] jiangkaihua commented on #224
Thanks for your suggestions! I'll try it myself.
Enjoy your vacation! : )

[2019-12-03 04:48] lukaszgryglicki commented on #225
Orgs added. Closing.

[2019-12-03 04:48] #225 closed

[2019-12-03 05:48] oleg-nenashev commented on #225
Thanks a lot!

On Tue, Dec 3, 2019, 04:48 Łukasz Gryglicki <notifications@github.com>
wrote:

[2019-12-06 04:32] lukaszgryglicki commented on #181
Closing due to inactivity, please reopen if needed.

[2019-12-06 04:32] #181 closed

[2019-12-06 06:15] #224 closed

[2019-12-19 09:38] timyinshi opened #226 "[bug]the portal of devstats have no data"
when i use url "https://all.devstats.cncf.io/d/5/companies-table?orgId=1",i have no data

![image](https://user-images.githubusercontent.com/35130894/71162459-39dd7c00-2286-11ea-8863-23e076e83063.png)

the error is :
![image](https://user-images.githubusercontent.com/35130894/71162498-4e217900-2286-11ea-9f81-b01ea945ca06.png)

please fix the bug.

[2019-12-19 10:03] lukaszgryglicki commented on #226
Will fix that, this is because data is being regenerated due to new projects added. I'll let you know when it's done.

[2019-12-19 10:13] lukaszgryglicki commented on #226
For now you can use the alternate link: https://all.teststats.cncf.io/d/5/companies-table

[2019-12-19 18:56] lukaszgryglicki commented on #226
Fixed, closing.

[2019-12-19 18:56] #226 closed

[2019-12-30 23:25] gcolliso opened #227 "[Feature Request] Add dashboard with summed stars, forks for all repos for a project"
As we have 70 public repos, it would be nice to have a dashboard where we can sum the total number of stars (forks, or issues) for the entire organization for a given period of time.

Specific example: NATS would like to use total organization (nats-io) star count for all repos to determine progress in GitHub from 2018 - 2019.

Currently, we would need to look up each repo individually to compute

[2019-12-30 23:33] lukaszgryglicki commented on #227
Thanks, I'll implement that probably next week.

[2020-01-07 13:59] lukaszgryglicki commented on #227
Implemented as a 2nd-panel showing "Community stats combined", for example here:
https://nats.devstats.cncf.io/d/3/stars-and-forks-by-repository?orgId=1

Details:
This aggregates forks, stars and open issues/PRs for all repos from the project. Each point in time aggregates the most up-to-date stars, forks, open issues/PRs value for a given repo in given moment in time (so it takes last known value

[2020-01-07 14:00] lukaszgryglicki commented on #227
Closing, please reopen if needed.

[2020-01-07 14:00] #227 closed

[2020-01-07 15:18] gcolliso commented on #227
Thanks for the prompt implementation!

Just confirming this is for public repos only correct?

-g

*Ging**er Collison* | NATS Community & Ecosystem
ginger@synadia.com
www.nats.io

Maintained by the good people of Synadia Communications, Inc.

On Tue, Jan 7, 2020 at 8:00 AM Łukasz Gryglicki <notifications@github.com>
wrote:

[2020-01-07 15:28] lukaszgryglicki commented on #227
Yes, GitHub archives doesn't contain private repos data.

[2020-01-07 15:52] gcolliso commented on #227
Thanks - one more question for you.

The nats-io organization changed many of our repo names last year, e.g.
gnatsd -> nats-server. I see both listed in the dropdown which is fine, but
while I used to see the data stop on the old repo name on the date we
changed, I now see a line of data. Does the aggregate count the repo twice?

[image: image.png]

[image: image.png]

On Tue, Jan 7, 2020 at 9:28

[2020-01-07 15:55] lukaszgryglicki commented on #227
It may be the case, but I'm a bit busy to check that, I'll do follow up on this case when I have some time. Thanks for reporting.

[2020-01-07 16:35] lukaszgryglicki commented on #227
Yes, it can double count repo if repo changed its name. To solve that I need to move complex calculations out of Grafana into calc_metric part, so that will be complex and will calculate per repo data and overall sums separately. I'll definitely do that but next week the fastest, sorry :(.

[2020-01-07 16:42] gcolliso commented on #227
Thank you for your attention - it's much appreciated. Just keep me posted
if you could.

Thanks!

*Ging**er Collison* | NATS Community & Ecosystem
ginger@synadia.com
www.nats.io

Maintained by the good people of Synadia Communications, Inc.

On Tue, Jan 7, 2020 at 10:35 AM Łukasz Gryglicki <notifications@github.com>
wrote:

[2020-01-07 21:20] dmcgowan opened #228 "Affiliation not showing up as expected"
From the containerd devstats, one of our maintainers contributions don't seem to be reflected for their company.

See company contributions from the last year https://containerd.devstats.cncf.io/d/5/companies-table?orgId=1&var-period_name=Last%20year&var-metric=contributions . Alibaba is listed with 3 contributions.

See PR authors in the same time period https://containerd.devstats.cncf.io/d/22/p

[2020-01-08 06:55] lukaszgryglicki commented on #228
Thanks for reporting, I'll check that.

[2020-01-10 15:48] lukaszgryglicki commented on #222
This was fixed some time ago, closing.

[2020-01-10 15:48] #222 closed

[2020-01-10 15:51] lukaszgryglicki commented on #196
Worked on this today,  I now have a [new SQL](https://github.com/cncf/devstats/blob/master/metrics/shared/watchers_by_alias.sql) that will generate correct data (tested internally). This SQL will replace [the old one](https://github.com/cncf/devstats/blob/master/metrics/shared/watchers.sql) which was much simpler and didn't support aggregating sums and avoiding data duplication.

I'll probably fin

[2020-01-10 16:01] mrbobbytables commented on #196
Awesome, thanks so much @lukaszgryglicki :)

[2020-01-13 10:27] lukaszgryglicki commented on #227
implemented, now there are two panels in this dashboard. First is for a specified repo selected from the drop-down, 2nd is for summary across all repos.
https://nats.devstats.cncf.io/d/3/stars-and-forks-by-repository?orgId=1

[2020-01-13 14:18] CsatariGergely commented on #222
Sorry, but I had not yet time to fix this, so this is not fixed yet.

[2020-01-13 15:13] gcolliso commented on #227
This is awesome!! Thanks so much!

On Mon, Jan 13, 2020 at 4:27 AM Łukasz Gryglicki <notifications@github.com>
wrote:

[2020-01-14 07:25] lukaszgryglicki commented on #228
Working on this, `gitdm` affiliations and the final JSON are indeed correct for `fuweid` so trying to track why the final dashboard data is not reflecting this.

[2020-01-14 09:07] lukaszgryglicki commented on #228
The problem is that actor with login `fuweid` (current) had `fhfuwei` in the past:
[code]

[2020-01-14 09:42] lukaszgryglicki commented on #228
So doing *FULL* `containerd` reinit locally to check if that primary key change won't break anything.

[2020-01-14 12:34] lukaszgryglicki commented on #228
Local reinit went good, will test that on the prod k8s instance and finally will run on the prod.

[2020-01-14 17:19] lukaszgryglicki commented on #228
Fixed on the `test` server, `prod` data will be ready tomorrow. See `test` fixes:
-- https://containerd.teststats.cncf.io/d/5/companies-table?orgId=1&var-period_name=Last%20decade&var-metric=contributions
- https://containerd.teststats.cncf.io/d/21/prs-authors-companies-table?orgId=1&var-period_name=Last%20decade&var-repogroup_name=All
- https://containerd.teststats.cncf.io/d/56/company-commits-ta

[2020-01-14 21:43] lukaszgryglicki commented on #228
Prod data updates as well, closing this. Please reopen if needed.

[2020-01-14 21:43] #228 closed

[2020-01-14 21:45] #119 closed

[2020-01-14 21:46] #164 closed

[2020-01-14 22:39] parispittman opened #229 "[feature request] Community Dashboard"
Addition of other things outside of GitHub (and some that are from github but not dev counts)

-twitter stats for @kubernetesio (impressions, shares, etc)
-slack stats (messages sent, # of channels, etc)
-meetup stats (# of meetups, # of members, etc - this is on the website too)
-YouTube playlists - how many, link to last meeting on the list
-current release and other release stats
-chairs and te

[2020-01-15 06:51] lukaszgryglicki commented on #229
cc @dankohn - that would require devstats to explore new data sources in addition to GitHub archives, git and GitHub API.

[2020-01-16 09:28] #35 closed

[2020-01-16 09:32] lukaszgryglicki commented on #229
I would start simpler, say for example with slack.
Would need more detailed mockups of what is needed for slack.
I would need to implement entire workflow for the new backend (getting data from API or (possibly) some slack archivers, handling pool of API keys, retrieving a list of all channels for a given project, fetching data, support for incremental fetching, enriching, dashboards, possibly a l

[2020-01-16 16:33] parispittman commented on #229
[slack config](https://github.com/kubernetes/community/tree/60ab2cf2e35ba8f5906bad57a7b891d29ab632ec/communication/slack-config)
[slack infra](https://github.com/kubernetes-sigs/slack-infra/)

[2020-01-17 13:05] #196 closed

[2020-01-21 11:05] oleg-nenashev opened #230 "[feature request] - Add option to exclude bots in the "New PRs" dashboard"
https://github.com/cncf/devstats/blob/master/metrics/shared/new_prs.sql does not filter out bots at the moment. It generates nice trendy stats for communities which start adopting bots, but it would be great to have an option to get bots ignored.

Our graph:

![image](https://user-images.githubusercontent.com/3000480/72799791-46b70c00-3c46-11ea-9a1b-683935414113.png)

[2020-01-21 11:13] lukaszgryglicki commented on #230
This chart count PRs, you want to skip PRs that were created by bots?

[2020-01-21 13:35] oleg-nenashev commented on #230
Yes, skipping bot activity like other queries do

[2020-01-22 05:47] lukaszgryglicki commented on #230
The problem is that this particular dashboard is not counting "activity" or "comments" so skipping bots would make those numbers substantially lower. It counts distinct PRs created in specified periods. Skipping bots here means that we want to skip any PRs that were created by bots, which don't happen often. I'll implement this anyway but don't expect big changes due to that.

[2020-01-22 05:57] oleg-nenashev commented on #230
With Dependabot & Co bot-created PRs become quite common, and this is one if the reasons for such quick growth in the chart I provided

[2020-01-22 05:59] lukaszgryglicki commented on #230
OK, no problem. Can you tell me which project uses this very often? I'll also double-check my bots lists to be sure to exclude them, or maybe you can provide 3-4 most important bot's GitHub logins, so I can check if they're excluded?

[2020-01-22 06:12] oleg-nenashev commented on #230
@lukaszgryglicki bots lile dependabot are excluded from the most of the stats dashboards, the current filters address it well. This particular dashboard just does not apply filters from what I have seen in SQL

I will provide a list of bots later today when I get to the laptop

[2020-01-22 06:15] lukaszgryglicki commented on #230
OK, if they're already excluded from other dashboards then I'm all set, I'll let you know when this is implemented and data is regenerated. Thanks.

[2020-01-22 06:24] oleg-nenashev commented on #230
Thanks! Ideally it would be great to have 2 metrics: with and without bots.

[2020-01-22 06:36] lukaszgryglicki commented on #230
So now I've implemented without, to create a version that also counts with I need to update Grafana dashboards as well.

[2020-01-22 07:41] lukaszgryglicki commented on #230
OK, implemented displaying values with and without bots, example [here](https://all.devstats.cncf.io/d/15/new-prs-in-repository-groups?orgId=1&from=now-2y&to=1577833199000&var-period=q&var-repogroup_name=All).

[2020-01-22 07:41] #230 closed

[2020-01-29 18:14] jberkus commented on #229
@lukaszgryglicki I would say that slack would actually be the worst part to start with.  Slack, the company, does not support data collection efforts and will change their API and permissions to break it.

I'd start with SIG stats (which is just git/github), meetup stats (where we pay for the API already), and/or mailing list stats.

Paris, has anyone written up what *outcomes* we want from these

[2020-01-29 18:19] lukaszgryglicki commented on #229
So this is good that I've only initially researched Slack.
Please just let me know what is the most wanted one and give some specs, so the actual work can be started.

[2020-01-29 18:23] jberkus commented on #229
To be fair, slack stats are probably what we want the most.

It's just that anything involving slack is going to break frequently, and possibly permanently.

[2020-01-29 18:33] lukaszgryglicki commented on #229
That was my blind guess, but I'll start from something that I will have mockups/designs/requested outcomes.

[2020-01-29 18:46] jberkus commented on #229
let's have a chat about this.  Barring feedback from Paris, I know what *I* would want to see about Slack & mailing lists.

[2020-02-04 17:28] caniszczyk opened #232 "[feature request] Add dashboard to filter by language/license"
I'd love to learn different license type usage across languages, primarily for:
https://devstats.coreinfrastructure.org/d/1/activity-repository-groups?orgId=1

My thesis is that MIT/BSD is more popular in Javascript than say GPL etc.

You can get license info via:

1) GitHub has a built into API for each repo: https://developer.github.com/v3/licenses/
2) https://github.com/licensee/licensee agains

[2020-02-05 04:20] Kartik494 opened #233 "Affiliation not showing up as expected"
Company Affiliation of  github login 'kartik494' is not reflecting in devstat , shown as none as of now. It should be under NEC .

[2020-02-05 05:59] lukaszgryglicki commented on #233
Thanks for reporting, will work on that soon.

[2020-02-05 06:47] lukaszgryglicki commented on #233
Updated data in JSON, DevStats will auto-update dashboards on the next affiliations sync.

[2020-02-05 06:47] #233 closed

[2020-02-05 06:51] Kartik494 commented on #233
@lukaszgryglicki could you let me know timeframe of next affiliations sync, I will check accordingly.

[2020-02-05 08:40] lukaszgryglicki commented on #233
Affiliations imports are weekly, but each CNCF project (more than 40 of them) have different time to avoid collisions as much as possible and minimize DB load. Which project you are asking for?
Here are all affiliations cron jobs:
[code]

[2020-02-10 06:29] lukaszgryglicki commented on #158
New repos should be assigned to repo groups: https://github.com/kubernetes/community/issues/3305#issuecomment-583975176

[2020-02-10 08:33] lukaszgryglicki commented on #232
New licenses dashboard created, this is how it looks like:

- CII: https://devstats.coreinfrastructure.org/d/67/licenses?orgId=1 (MIT is by far the most popular in JS)
- All CNCF: https://all.devstats.cncf.io/d/67/licenses?orgId=1 (Apache 2.0 is dominant)
- CDF: https://allcdf.devstats.cd.foundation/d/67/licenses?orgId=1 (mostly no license and then MIT)

I didn't add this dashboard to Kubernetes D

[2020-02-10 15:25] lukaszgryglicki commented on #232
Will add programming language: https://developer.github.com/v3/repos/#list-languages, Single repo may have multiple languages according to that API.
Also need to add dashboard docs.

[2020-02-11 12:15] alban opened #234 "[feature request] Counting Co-authored-by tags in commit messages"
GitHub supports the [`Co-authored-by`](https://help.github.com/en/github/committing-changes-to-your-project/creating-a-commit-with-multiple-authors) tag in commit messages:

I would like devstats.cncf.io to keep track of contributions made by several authors.

In the source code ([gha2db.go](https://github.com/cncf/devstatscode/blob/69d1693d934e85a4b3cc916372445b1faa641b6d/cmd/gha2db/gha2db.go#L11

[2020-02-11 13:30] lukaszgryglicki commented on #234
That's a big change, touching all commits related dashboards and all commits analysis. There is no such field in GitHub API and git logs (but it is stored in the commit message). It requires parsing commit messages, eventually finding coauthor and updating database structure.
Will work on that but there is no ETA for this:
cc @dankohn

[2020-02-11 13:58] lukaszgryglicki commented on #232
So here are dashboards with filtering by licenses, programming languages and repository groups:
- CII: https://devstats.coreinfrastructure.org/d/67/licenses-and-programming-languages
- All CNCF: https://all.devstats.cncf.io/d/67/licenses-and-programming-languages
- GraphQL: https://graphql.devstats.graphql.org/d/67/licenses-and-programming-languages
- CDF: https://allcdf.teststats.cncf.io/d/67/lic

[2020-02-11 13:58] #232 closed

[2020-02-11 17:41] mrbobbytables opened #235 "[feature request] Create dashboard that shows repo -> repo group mappings"
Following up on https://github.com/kubernetes/community/issues/3305
We would like to operationalize the auditing of repo -> repo group mappings. Having a dashboard that lists which repos belong to which repo groups would enable that without having to ping a CNCF staff member for a dump directly.

[2020-02-11 17:48] lukaszgryglicki commented on #235
Great idea, will implement tomorrow.

[2020-02-12 09:22] lukaszgryglicki commented on #235
Created new dashboard "Repository groups" under "Other folder" [here](https://k8s.devstats.cncf.io/d/12/dashboards) (see new dashboard under "Other" folder): [Repository groups](https://k8s.devstats.cncf.io/d/68/repository-groups).
The default selection is to display repositories that are assigned to the "Other" repository group and those without repository group assigned "Not specified" (null or

[2020-02-12 09:22] #235 closed

[2020-02-12 09:26] lukaszgryglicki commented on #158
New dashboard showing repository groups - repositories assignments implemented: https://github.com/cncf/devstats/issues/235#issuecomment-585110324

[2020-02-12 18:55] caniszczyk opened #236 "[feature request] add stats for fluentd plugin ecosystem"
As we will be doing the fluentd project journey report, the maintainers would also like to include information on the fluentd plug-ins written.

[repos.txt](https://github.com/cncf/devstats/files/4194429/repos.txt)

[2020-02-12 19:07] lukaszgryglicki commented on #236
Not sure what to do with this file, many those plugins aren't tracked in DevStats...

[2020-02-14 17:29] bobcatfish opened #237 "[feature request] [cdf devstats] Ability to see 15 or more contributions"
In [Tekton](https://github.com/tektoncd) we have just kicked off our governing board election, and we've based our process on [the kubernetes election process](https://github.com/kubernetes/steering/blob/master/elections.md) but while kubernetes requires 20+ contributions to be eligible, we want to require 15+.

[This dashboard](https://tekton.devstats.cd.foundation/d/9/developer-activity-counts-b

[2020-02-17 06:22] lukaszgryglicki commented on #237
Workign on this.

[2020-02-17 06:23] lukaszgryglicki commented on #158
Blocked, awaiting data from the community.

[2020-02-17 06:36] lukaszgryglicki commented on #236
@caniszczyk do you want me to include all those repos in `Fluentd` DevStats and regenerate with that configuration added?

[2020-02-17 06:43] lukaszgryglicki commented on #237
Done.

[2020-02-17 06:43] #237 closed

[2020-02-17 12:34] bobcatfish commented on #237
Looks great, thanks @lukaszgryglicki !! ❤️

[2020-02-18 09:13] lukaszgryglicki commented on #236
New [script](https://github.com/cncf/devstats/blob/master/util_sh/check_github_repos.sh) detected that 78 URLs from this list are incorrect, so I won't add them (833 URLs are correct GitHub endpoints):
[code]
It is possible that I'll add regexp `org/repo`  support for this case.

[2020-02-18 10:37] lukaszgryglicki commented on #236
All but 17 repos match this regular expression `^(fluent|fluent-plugins-nursery\/.*fluent.*|.+\/fluentd?-plugin-.+)$`:
[code]
I've added support for regular expressions org/repos config to `gha2db` will try to include those 17 is some smart way and finally will regenerate `Fluentd` DevStats instance.

[2020-02-18 11:26] lukaszgryglicki commented on #236
Provisioning on the test server (only) using the following org/repo config: https://github.com/cncf/devstats/blob/master/projects.yaml#L66

[2020-02-18 12:31] lukaszgryglicki commented on #158
Working on this, [see](https://github.com/kubernetes/community/issues/3305#issuecomment-587296386). It will be implemented on the test server first.

[2020-02-19 05:58] lukaszgryglicki commented on #236
Implemented on the test server: https://fluentd.teststats.cncf.io
I'm checking if all is OK and then I'll reinitialize Fluentd on prod as well.

[2020-02-19 06:11] lukaszgryglicki commented on #236
Especially Licenses dashboard on plugins (3000+ repos) is interesting: https://fluentd.teststats.cncf.io/d/67/licenses-and-programming-languages?orgId=1&var-repogroups=Plugins&var-licenses=All&var-languages=All
cc @caniszczyk

[2020-02-19 14:08] lukaszgryglicki commented on #236
Implemented on both test & prod. Now Fluentd also tracks external plugins matching the following regexp:
[code]

[2020-02-19 14:08] #236 closed

[2020-02-19 14:08] lukaszgryglicki commented on #158
Implemented on both test & prod servers, closing.

[2020-02-19 14:08] #158 closed

[2020-02-26 08:13] lukaszgryglicki opened #238 "[Feature request] Request from DevStats Slack - API."
[code]

[2020-02-26 08:14] lukaszgryglicki commented on #238
Working on this.

[2020-02-26 15:56] lukaszgryglicki commented on #238
First two APIs created, they're described [here](https://github.com/cncf/devstatscode#api).
Example `curl` commands to use them (you can also follow examples [1](https://github.com/cncf/devstatscode/blob/master/devel/api_health.sh), [2](https://github.com/cncf/devstatscode/blob/master/devel/api_dev_act_cnt_repo_grp.sh), [3](https://github.com/cncf/devstatscode/blob/master/devel/api_dev_act_cnt_exa

[2020-03-04 17:49] gcolliso opened #239 "Main Repo update for NATS"
While diving into DevStats for graduation due diligence, we noticed that our main repo is still listed as `nats-io/gnatsd` which is the previous repo name. It was renamed to `nats-io/nats-server` in June 2019. I'm not sure if this will make a difference with our stats.
[https://github.com/cncf/devstats/blob/488dffe4b9be19587a1d298a203f99a7f2bd56c4/projects.yaml#L255](https://github.com/cncf/devsta

[2020-03-05 05:36] lukaszgryglicki commented on #239
I actually have 4 names for this repo: `gnatsd`, `apcera/gnatsd`, `nats-io/gnatsd` and `nats-io/nats-server`. They all have the same repo ID and reflect name changes in history. This is all OK and only the final name used as "main" is not updated yet to the newest name. I'll change this, this won't affect any stats.

[2020-03-05 06:03] lukaszgryglicki commented on #239
Fixed everywhere, closing.

[2020-03-05 06:03] #239 closed

[2020-03-05 14:46] duglin opened #240 "[bug] PRs should not include closed ones"
When I look at: https://cloudevents.devstats.cncf.io/d/9/developer-activity-counts-by-repository-group-table?orgId=1&var-period_name=Last%20decade&var-metric=prs&var-repogroup_name=cloudevents%2Fspec&var-country_name=All

I believe it is showing ALL PRS from each person and it also includes ones that were closed - which will skew the results. I would actually prefer if it only included "merged" me

[2020-03-05 17:08] gcolliso commented on #239
Thanks!

[2020-03-05 19:45] lukaszgryglicki commented on #240
This is [indeed true](https://github.com/cncf/devstats/blob/master/metrics/shared/project_developer_stats.sql#L193), but I will not change meaning of the existing metric, I will add new one instead - something like "Merged PRs".
Thanks for reporting.

[2020-03-05 19:46] lukaszgryglicki commented on #240
And BTW, we're in progress of [creating DevStats API](https://github.com/cncf/devstats/issues/238), so this kind of data (all possible dashboards data will be available via REST API). Currently, there are about 6 APIs defined (not all yet deployed).

[2020-03-05 19:47] duglin commented on #240
that would work- thanks!

[2020-03-05 19:47] duglin commented on #240
a REST API would be awesome!

[2020-03-06 09:48] lukaszgryglicki commented on #240
So there is not "Merged PRs" metric yet, but you can get exactly the same data as from your link by using DevStats REST API:
[code]
It returns:
[code]
You can pretty format this using jq:
`curl -H 'Content-Type: application/json' https://devstats.cncf.io/api/v1 -d'{"api":"DevActCntRepoGrp","payload":{"project":"CloudEvents","range":"Last decade","metric":"PRs","repository_group":"cloudevents/spec"

[2020-03-06 14:32] lukaszgryglicki commented on #235
You can now see repository/repository groups configuration using new DevStats REST API.

Example call to get that configuration for kubernetes and filter to show only repositories falling back to `Other` repository group:
- `curl -H "Content-Type: application/json" https://teststats.cncf.io/api/v1 -d'{"api":"Repos","payload":{"project":"kubernetes", "repository_group":["Other"]}}' 2>/dev/null | jq

[2020-03-06 14:44] lukaszgryglicki commented on #238
There are 9 APIs defined currently and I'm adding new ones all the time.

[2020-03-09 14:08] lukaszgryglicki commented on #240
@duglin "Merged PRs" approach implemented:
- Here on the dashboard: https://cloudevents.devstats.cncf.io/d/9/developer-activity-counts-by-repository-group-table?orgId=1&var-period_name=Last%20decade&var-metric=merged_prs&var-repogroup_name=cloudevents%2Fspec&var-country_name=All
- Here as a REST API call: curl -H 'Content-Type: application/json' https://devstats.cncf.io/api/v1 -d'{"api":"DevActCnt

[2020-03-09 14:15] duglin commented on #240
excellent! thanks!!!

[2020-03-09 14:29] #240 closed

[2020-03-30 16:29] caniszczyk opened #241 "[bug] github.com/buildpack to github.com/buildpacks rename causes devstats to no longer count"
we renamed our github org from github.com/buildpack to github.com/buildpacks recently, and it made the CNCF devstats page go stale. Could you point https://buildpacks.devstats.cncf.io at the new org? Thanks!

[2020-03-31 06:17] lukaszgryglicki commented on #241
Working on this.

[2020-03-31 07:35] lukaszgryglicki commented on #241
Fixed, data regenerated.

[2020-03-31 07:35] #241 closed

[2020-04-06 12:00] mrbobbytables opened #243 "[kubernetes] data export request"
We're doing a bit of auditing and clean up and would like to get a data export of the developer activity counts by repository group. Specifically, we would like the reports for each release cycle from 1.10 - 1.18 ([e.g. 1.10 - 1.11](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=v1.10.0%20-%20v1.11.0&var-metric=contributions&var-repogroup_na

[2020-04-06 12:02] lukaszgryglicki commented on #243
Will work on that tomorrow, thanks.

[2020-04-06 21:42] caniszczyk opened #244 "[bug] 7K contributors to fluentd?"
https://fluentd.devstats.cncf.io/d/5/companies-table?orgId=1&var-period_name=Last%20decade&var-metric=contributors

This seems high given the # of independent contributors.

Any thoughts here @lukaszgryglicki ?

[2020-04-07 05:04] lukaszgryglicki commented on #244
I think it's OK, please note that we have added *all* external plugins (see [here](https://github.com/cncf/devstats/blob/master/projects.yaml#L68) and that now Fluentd has [over 4500 repositories](https://fluentd.devstats.cncf.io/d/68/repository-groups?orgId=1) configured:
[code]

[2020-04-07 06:45] lukaszgryglicki commented on #243
Generated contributions report (lists anybody who contributed in given version range).
- Data file [here](https://devstats.cncf.io/backups/gha_contributions_stats.csv)
- Imported into google sheet [here](https://docs.google.com/spreadsheets/d/1wQMxSHy53ASWOcRljgtAg3KRK0f1EzkxiAUIaqcFJJ8/edit?usp=sharing).
- SQL used for this report [here](https://github.com/cncf/devstats-reports/blob/master/sql/co

[2020-04-07 06:45] #243 closed

[2020-04-11 05:49] lukaszgryglicki commented on #244
Closing because this data seems to be fine. Please reopen if needed.

[2020-04-11 05:49] #244 closed

[2020-04-13 10:36] kevin-wangzefeng opened #245 "[bug] KubeEdge commits data look not align with github contributions"
### From contributions page on github
https://github.com/kubeedge/kubeedge/graphs/contributors?from=2019-03-30&to=2020-04-13&type=c
![image](https://user-images.githubusercontent.com/6914660/79114190-39c53700-7db5-11ea-9507-8e33f8b773c1.png)

### Commits Repository Groups on devstats
https://kubeedge.devstats.cncf.io/d/2/commits-repository-groups?orgId=1&from=1553875200000&to=1586793599000&var-per

[2020-04-13 10:38] kevin-wangzefeng commented on #245
Any thoughts @lukaszgryglicki ?

[2020-04-13 11:02] lukaszgryglicki commented on #245
Contribution != Commit.
Commit is just a commit, while contribution is defined as: commit or comment (commit comment, issue/PR comment) or creating issue or PR or review.
So you are comparing totally different things.

[2020-04-13 11:06] lukaszgryglicki commented on #245
Or maybe GitHub chart indeed shows commits as contributions, anyway, cannot check this now, it's a holiday, I'll take a look tomorrow or any other day, but do you miss any commits?

[2020-04-13 12:22] kevin-wangzefeng commented on #245
"Contributions" in github here (https://github.com/kubeedge/kubeedge/graphs/contributors?from=2019-03-30&to=2020-04-13&type=c) only means commits I think. Github typically doesn't include comments when counting contributions.

I just checked with git command `git log --no-merges --since "Mar 30 2019" --pretty=oneline |wc -l` under main repo, there were 943 commits (merge commits excluded) checked-

[2020-04-13 12:26] kevin-wangzefeng commented on #245
Ps. the KubeEdge main repo is https://github.com/kubeedge/kubeedge.git

[2020-04-13 12:33] lukaszgryglicki commented on #245
If the main repo is wrong, I can check it. Numbers are quite OK IMHO because:
- DevStats skips all bots commits as defined [here](https://github.com/cncf/devstats/blob/master/util_sql/exclude_bots.sql).
- DevStats excludes merge commits, so when somebody created a PR (this is a commit to some feature branch), just merging that PR doesn't count as a new commit.

[2020-04-13 12:34] lukaszgryglicki commented on #245
But still, we can go down to single commits and count, I can generate an exact list from DevStats if that is a problem.

[2020-04-14 02:38] kevin-wangzefeng commented on #245
Both bot commits and merge commits are excluded, still quite different with those shown on devstats.

![image](https://user-images.githubusercontent.com/6914660/79180227-f8c43580-7e3b-11ea-8cdd-f777d3e960be.png)

Full data here: https://docs.google.com/spreadsheets/d/1sEHuUg2yyYOSf887mlFoZWNb6Y1dhk0xRyODxpiKi1M/edit?usp=sharing

[2020-04-14 06:18] lukaszgryglicki commented on #245
I see the problem, most commits are made by `kubeedge-bot` while the original author is different, so they're falsely identified as bot commits. I'll fix this and let you know when ready.

[2020-04-14 07:06] kevin-wangzefeng commented on #245
Thanks, using author info instead of committer info from git history should help.

[2020-04-14 11:23] lukaszgryglicki commented on #245
Fixed, now counting all commits excluding those where both author and somebody who merged that commit is not bot. Values will not be equal to GitHub because DevStats does not exclude merge commits

[2020-04-15 04:37] lukaszgryglicki commented on #245
Closing this now, please reopen if needed.

[2020-04-15 04:37] #245 closed

[2020-04-16 14:00] LappleApple opened #246 "[feature request]: move items to sig-cloud-provider for more accurate K8s/SIG data"
Hello: on behalf of some efforts underway in the K8s ContribEx SIG to understand and measure PR velocity, I'm wondering if we might move to `sig-cloud-provider` some items listed as SIGs on some of the K8s dashboards? The items to move would be:

These groups, which show up [here](https://k8s.devstats.cncf.io/d/34/pr-workload-per-sig-table?orgId=1):
- azure
- openstack
- aws
- gcp

From [this char

[2020-04-16 14:07] lukaszgryglicki commented on #246
I will take a detailed look tomorrow - those dashboards were not modified for a very long time, but one thing that I remember for sure:
- Some of those dashboards extract SIG from texts (like comments, reviews, issue/PR titles, etc.) from something like `@kubernetes/sig-...`
- Others get SIGs from GitHub labels

That was the original requirement. I don't think we can match data generated based on

[2020-04-17 08:50] lukaszgryglicki commented on #246
[This](https://github.com/cncf/devstats/commit/e423a9712a8c0a59cd8fa448055f8e48015684d6) would group `azure`, `openstack`, `aws` and `gcp` under `cloud-provider` for the [first](https://k8s.devstats.cncf.io/d/34/pr-workload-per-sig-table?orgId=1) dashboard requested.

I'll do the update only on the test server and will send you links to both `test` and `prod` dashboard version for review. If you l

[2020-04-17 10:08] lukaszgryglicki commented on #246
So [here](https://k8s.teststats.cncf.io/d/34/pr-workload-per-sig-table?orgId=1) is a new test dashboard that merges those 4 into `cloud-provider` - let me know if that works for you.

[2020-04-17 13:07] LappleApple commented on #246
LGTM, because now all the listed entities are SIGs. Thanks!

[2020-04-20 06:14] lukaszgryglicki commented on #246
Ok, continuing on this, will let you know when I implement the next steps.

[2020-04-20 06:29] lukaszgryglicki commented on #246
So in GitHub labels I can only see one typo: `cluster-fifecycle` (I'm working on the label based charts first), please let me know if you see any other label typo in those results:
[code]
Actually, I will merge those `labels` into `cloud-provider` everywhere (maybe I'll detect more), so for example for already fixed chart 1 I will also add `batchd`, `ibmcloud` and `vmware` as `cloud-provider`:
[co

[2020-04-20 08:32] LappleApple commented on #246
Hi @lukaszgryglicki -- thanks for your efforts. I have a list, will highlight the typos and share with you over Slack.

[2020-04-20 13:23] lukaszgryglicki commented on #246
Made [this commit](https://github.com/cncf/devstats/commit/2c0f7d9714c82d2470eb2bd265822533ed36f09c) and [that commit](https://github.com/cncf/devstats/commit/e2f52e921e52e0d0bc1c5abda1add9121cbdd246) - tested locally and that should generate data needed for this feature. I'll update test server tomorrow and will wait with prod until this is accepted.
This actually changes 3 drop-downs (5 tags) an

[2020-04-21 06:58] lukaszgryglicki commented on #246
So I'm providing *new* dashboards (implemented on the test server) versus *old* dashboards (current prod server), let me know if all is OK, so I will update prod ones:
- SIG mentions: [new](https://k8s.teststats.cncf.io/d/41/sig-mentions) vs. [old](https://k8s.devstats.cncf.io/d/41/sig-mentions).
- Issues age by SIG and repository group: [new](https://k8s.teststats.cncf.io/d/15/issues-age-by-sig-a

[2020-04-21 11:10] kundan2707 opened #247 "Affiliation not showing up as expected"
Company Affiliation of github login 'kundan2707' is not reflecting in devstat , shown as none as of now. It should be under NEC .

[2020-04-21 11:16] lukaszgryglicki commented on #247
That user is not defined in the [affiliation source](https://github.com/cncf/gitdm#addingupdating-affiliation). Please create a PR against `cncf/gitdm` - once merged it will show up as NEC in DevStats after new affiliations are imported.

[2020-04-21 11:16] #247 closed

[2020-04-22 06:23] lukaszgryglicki commented on #246
I see no rejections and data is OK (checked after 24 hours running), I'm updating prod as well.

[2020-04-22 07:08] LappleApple commented on #246
Thank you, this is great work!

[2020-04-22 09:10] lukaszgryglicki commented on #246
OK, prod regenerated too, closing this, but please feel free to reopen if needed.

[2020-04-22 09:10] #246 closed

[2020-05-05 10:22] LappleApple opened #248 "[Feature Request] PR Velocity-related dashboards for Kubernetes"
Hi there: Thank you for the previous set of changes to the Kubernetes dashboards. I am wondering if these could be added—most of them are meant to measure pull request velocity per SIG in real-time, instead of the manual point-in-time data collection I conducted a few weeks ago (and shared the results of via spreadsheet):

- Number of open PRs by SIG (comparative chart)
- Number of PRs open longer

[2020-05-05 10:28] lukaszgryglicki commented on #248
I'll review this one by one and will see what can I do. Definitely, all this data can be gathered just once, the question is does the community wants to have such dashboards added to official ones?
cc @jberkus @dankohn ?

[2020-05-06 17:41] mrbobbytables commented on #248
/cc

[2020-05-06 18:46] LappleApple commented on #248
Thank you, @lukaszgryglicki. Some of us pinged on this thread discussed this issue during the Contribex biweekly update just now. Some notes:

- These dashboards, and the metrics they collect, are great and useful
- However, feedback from SIG Chairs and Leads about them has been light, despite numerous requests for feedback in the past
- Based on the lack of feedback, we perceive that the SIG Chai

[2020-05-07 05:15] lukaszgryglicki commented on #248
So I can create such dashboards, but currently, I'm a bit busy and must postpone this a bit.

[2020-05-12 06:09] lukaszgryglicki commented on #248
Working on this.

[2020-05-12 09:10] lukaszgryglicki commented on #248
So:
- `Also: PM is no longer a SIG and can be removed from the overall list of SIGs.` - OK but not that DevStats is supposed to show *history* not only the current state, so it if *was* a SIG some time ago I would leave it.
- `Number of currently blocked PRs by SIG (comparative chart); there is this dashboard, but requires a SIG-by-SIG check to get specifics` - so I guess I need to wait for some f

[2020-05-12 09:34] LappleApple commented on #248
- On `PM`: Sounds good. But yes, PM is no longer active as of April 2020.

- `Number of currently blocked...`: I'm not sure what feedback is needed. Essentially the goal is to show all SIGs' blocked PRs in one chart. IIRC these are the labels currently captured in the blocked PR data:
      - All open PRs at that time
      - Needs OK to test
      - Release note label needed
      - No LGTM label

[2020-05-12 10:34] lukaszgryglicki commented on #248
OK will see some first preview soon - now clear on +2 weeks, +30 days and +90 days, thanks.

[2020-05-12 11:22] lukaszgryglicki commented on #248
Generally, date ranges are "aggregation periods" so for example quarter means data is aggregated over that quarter when you see PRs with "period" = "quarter" you will see the number of PRs opened in each quarter. There are also MA periods. MA = moving average. In that case (for example 7 Days MA) you have a "7 days long" window moving day by day and averaging results from that window (so usually d

[2020-05-12 12:05] lukaszgryglicki commented on #248
Ok so showing first few test previews (only running on the test server so URL address contains `teststats` instead of `devstats`):
- Number of open PRs by SIG (comparative chart) - [click](https://k8s.teststats.cncf.io/d/69/prs-opened-by-sig?orgId=1).
- Number of PRs open longer than 30 days, 60 days, 90 days by SIG (comparative chart) - [click](https://k8s.teststats.cncf.io/d/70/awaiting-prs-by-s

[2020-05-12 15:19] LappleApple commented on #248
Thank you so much. A few notes:

- I did a test of the `priority/critical-urgent` label [here](https://k8s.teststats.cncf.io/d/71/prs-labels-by-sig?orgId=1&var-sig_name=All%20SIGs%20combined&var-label_name=priority%2Fcritical-urgent) and the result is 18, but when I do a [GH query](https://github.com/kubernetes/kubernetes/issues?q=is%3Aissue+is%3Aopen+label%3Apriority%2Fcritical-urgent) on k/k, fo

[2020-05-12 15:44] lukaszgryglicki commented on #248
Will do next iteration tomorrow and then next and so on...

[2020-05-12 16:15] lukaszgryglicki commented on #248
Regarding this:
[code]
New dashboards only take PRs into account (as requested). So your query for `is:issue` has nothing to do here. Now, your query is for k/k repo, while my dashboards show all repos from "Kubernetes" project - which means at leats 200 repos not just k/k.
I'll do a very detailed analysis to see if my data is OK tomorrow (before proceeding to next dashboards) and will show you th

[2020-05-12 18:28] LappleApple commented on #248
Thanks for checking in on above. Wasn't sure if data was coming from all repos or just k/k (all repos is +1), and good to know that it's filtering out issues as well.

[2020-05-13 04:55] lukaszgryglicki commented on #248
[code]
Those columns are default Grafana columns - `avg` means avg of data from the chart for given column, `max` is maximum from datapoints, min is the minimum and `current` is the last data available (last timestamp - most recent).

So for the number of currently blocked PRs [this](https://k8s.teststats.cncf.io/d/71/prs-labels-by-sig?orgId=1&var-sig_name=All%20SIGs%20combined&var-label_name=need

[2020-05-13 10:20] LappleApple commented on #248
Hiya: I did a brief presentation on DevStats last night for the SIG Chairs and Leads, and based on the feedback it seems that we might increase our chances of getting the group to see these tools as useful instead of nice-to-have by `prioritizing k/k for the breakdown`. Another suggestion/outcome:

- SIG subprojects all have their own set of cadence. Maybe a dashboard display by sig for their indi

[2020-05-13 12:45] lukaszgryglicki commented on #248
Finished next round:

1) I've checked example with GitHub query you mentioned vs. the number of open PRs from the dashboard. Found one bug and regenerated data. My comment about counting all open PRs across Kubernetes (not only `k/k` repo) still applies.

2) Requested dashboard showing per-SIG number of issues inactive for 2 weeks +, 30 days +, 90 days + - [click](https://k8s.teststats.cncf.io/d/7

[2020-05-13 17:39] jberkus commented on #248
@LappleApple are any existing dashboards specifically cited as *not* useful?   Looking to prune here.

[2020-05-13 18:30] LappleApple commented on #248
Not cited to me personally. I could give my own recs but I think we'd prefer to have the Chairs/TLs' general assessment, no?

[2020-05-13 20:08] kris-nova opened #249 "Can someone help me understand where devstats gets my employer detail?"
Hi!

Can someone help me understand where devstats finds my "company" information.

I am pretty sure that DevStats currently thinks I work for VMware, but it should now be Sysdig.

I checked github and my profile there says Sysdig so I am not sure what else I can change on my end to fix this?

[2020-05-13 20:11] caniszczyk commented on #249
It's here @kris-nova: https://github.com/cncf/gitdm#addingupdating-affiliation

See this example from Julius who recently updated his info: https://github.com/cncf/gitdm/pull/332

[2020-05-13 20:11] kris-nova commented on #249
Yay thank you! this is what I was looking for!

[2020-05-13 20:11] #249 closed

[2020-05-14 04:13] lukaszgryglicki commented on #248
Before I start to address the newest [feedback](https://github.com/cncf/devstats/issues/248#issuecomment-627891984) (not yet fully specified, maybe after today's K8s call?) should I add 5 new dashboards implemented here to `prod`?

[2020-05-14 09:01] LappleApple commented on #248
@lukaszgryglicki I'm not sure who normally answers this for you, do you need me to ping someone?

[2020-05-14 09:15] lukaszgryglicki commented on #248
Hard to say, actually they're new so they should not harm, I'll add them to prod tomorrow, unless somebody objects. I can delete them anytime if needed.

[2020-05-14 09:19] LappleApple commented on #248
Thanks. I don't foresee any reason for us to delete them. :)

[2020-05-14 12:19] lukaszgryglicki commented on #248
All new dashboards ported to [prod](https://k8s.devstats.cncf.io). Will need to switch to some other task for a while, sorry.

[2020-05-17 15:55] haardikdharma10 opened #250 "Issue in README.md"
In the **Repository Groups** section, the words "kubernetes psql dump" are linked to an old and outdated link. When clicked, it shows:

<img width="1440" alt="Screenshot 2020-05-17 at 8 59 39 PM" src="https://user-images.githubusercontent.com/53044263/82153368-9f10ba00-9884-11ea-844f-7dacf2207416.png">

I guess it should link to kubernetes/psql.sh ?

[2020-05-19 06:24] lukaszgryglicki commented on #250
Fixed via https://github.com/cncf/devstats/commit/fddd5333e11374a71913d0ede37b625661297f34, thanks for reporting.

[2020-05-19 06:24] #250 closed

[2020-06-03 19:13] karnauskas commented on #108
What about contacting _every_ single person via collected email address, and asking if it's OK to scrap their LinkedIn account and store information on GitHub? I was always wondering why there was one of my emails popping up once a while there was data breach.

[2020-06-04 05:24] lukaszgryglicki commented on #108
We can do that and in the meantime, you can request your personal data to be removed if you want to.

[2020-06-07 19:21] roidelapluie opened #252 "Missing companies"
Please add `[feature request]` to the issue title when requesting new features, dashboards, projects etc.
Please add `[bug]` to the issue title when reporting a bug.

hello,

When looking at https://prometheus.devstats.cncf.io/d/5/companies-table?orgId=1&var-period_name=Last%20quarter&var-metric=commenters

I do not see the companies Inuits or Robust Perception. Is that expected? How to add them?

[2020-06-08 01:20] caniszczyk commented on #252
@roidelapluie you can see this for info: https://github.com/cncf/gitdm#addingupdating-affiliation

My guess is those companies don't have proper dev affiliation data

[2020-06-26 18:25] tsandall opened #253 "[bug] Commits Repository Groups not showing data beyond 1 week"
I was perusing devstats for OPA and noticed that the Commits Repository Groups dashboard shows no data beyond 1 week:

1 week (works):  https://opa.devstats.cncf.io/d/2/commits-repository-groups?orgId=1&var-period=w&var-repogroups=All

Month (or quarter/year/etc. does not work): https://opa.devstats.cncf.io/d/2/commits-repository-groups?orgId=1&var-period=m&var-repogroups=All

Am I doing something

[2020-06-27 09:02] lukaszgryglicki commented on #253
You have chosen month aggregation period, but date range (top right selector) is last 30 days, when you aggregate over "month" choose a longer date range, for example, 1 year: See "last 1 year" with "Period: month" aggregation: https://opa.devstats.cncf.io/d/2/commits-repository-groups?orgId=1&var-period=m&var-repogroups=All&from=now-1y&to=now

[2020-06-27 09:04] lukaszgryglicki commented on #253
Or for example "last 5 years" with "quarter aggregation" https://opa.devstats.cncf.io/d/2/commits-repository-groups?orgId=1&from=now-5y&to=now&var-period=q&var-repogroups=All
In general, an aggregation period must be shorter than date range selector on the date picker.

[2020-06-27 09:04] #253 closed

[2020-06-27 14:45] #252 closed

[2020-07-07 12:12] mrbobbytables opened #254 "[kubernetes] data export request"
Would it be possible to get a data export of the developer activity counts by repository group for the range [v1.18-now](
https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=v1.18.0%20-%20now&var-metric=contributions&var-repogroup_name=All&var-country_name=All), but for all contributions > 0?

For reference, this is similar to a previous request

[2020-07-07 12:30] lukaszgryglicki commented on #254
Will do tomorrow.

[2020-07-08 06:52] lukaszgryglicki commented on #254
Generated contributions report (lists anybody who contributed in given version range).
- Data file [here](https://devstats.cncf.io/backups/gha_contributions_stats.csv)
- Imported into google sheet [here](https://docs.google.com/spreadsheets/d/1wQMxSHy53ASWOcRljgtAg3KRK0f1EzkxiAUIaqcFJJ8/edit?usp=sharing). (requested data `v1.18.0 - now` from 51415 row).
- SQL used for this report [here](https://gi

[2020-07-08 06:54] #254 closed

[2020-07-20 22:54] kthoms opened #255 "[bug] INSTALL_UBUNTU18.md misses installation of github.com/rs/cors"
The build instructions are missing to mention the installation of package `github.com/rs/cors`.

Got this error during the build:
[code]

[2020-07-21 06:05] lukaszgryglicki commented on #255
Fixed by bffe43b42a22fed0b6b59a41060f6c65a0c4a4d9 - thanks for reporting.

[2020-07-21 06:05] #255 closed

[2020-07-30 15:59] craigbox opened #256 "[feature request] Custom time period"
I would like to be able to add a period of my choice, for example "1 Jan 2019 to 1 Jan 2020". I don't seem to be able to do this with a page like [this](https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1) for example.

[2020-07-30 16:06] lukaszgryglicki commented on #256
Unfortunately, this cannot be done in any easy way. All dashboards are precalculated, so the final data comes from a simple query from a table which contains preprocessed data. I cannot preprocess all possible time ranges, and the only solution for this would be to do full metrics queries on the fly, which is a lot too slow for usage.

cc @dankohn - the only possible solution would be to create a

[2020-07-30 16:11] lukaszgryglicki commented on #256
Or maybe add some more predefined periods, like 2-3 periods covering full years and "current year", so it will contain additional ranges: "2018-2019", "2019-2020", and "2020 so far" etc. The same can be defined for quarters, months maybe?
And we can calculate them once because they're in the past (like 2019-2020), so we can treat them as between versions in the past (like v1.17.0 - v1.18.0) - but

[2020-07-30 16:12] craigbox commented on #256
If there's no easy path then don't worry; is it documented how to do queries against the data source to generate these kind of tables in a one-off?

[2020-07-30 16:18] lukaszgryglicki commented on #256
The dashboard has a documentation panel that lists SQL file - this is the complex metric that is precalculated. The actual select which dashboard does is the precalculated table - you can see panel properties and see the query - everybody has a "read-only editor" role, so everybody can see everything but not edit.

[2020-07-30 16:20] craigbox commented on #256
I couldn't immediately see which data source the SQL file needs to be run against.  I assume I could use BigQuery or similar, as it has the GitHub archive?

[2020-07-30 16:35] lukaszgryglicki commented on #256
It uses its own Postgres database which is populated from GitHub archives, GitHub APIs, and git (each of those data sources has its own process that fetches data inside DevStats).
maybe you just need a spacial data request - like this exact dashboard but for your own data range.... if so, please give me your data range(s) and I'll generate that data for you and share in some google sheet.

[2020-07-30 16:58] craigbox commented on #256
I'll come back to you if we need this.  Thanks!

[2020-07-30 16:58] #256 closed

[2020-08-04 02:52] tcnghia opened #257 "[Feature Request] Please add knative-sandbox repositories to https://knative.teststats.cncf.io/"
Knative has two sets of repositories in https://github.com/knative/ and https://github.com/knative-sandbox respectively.

Can we please update https://github.com/cncf/devstats/tree/master/knative to include https://github.com/knative-sandbox in https://knative.teststats.cncf.io/ ?

Thanks

[2020-08-04 05:19] lukaszgryglicki commented on #257
Sure, will do.

[2020-08-04 08:06] lukaszgryglicki commented on #257
Regenerating all Knative data, including history.

[2020-08-04 11:31] lukaszgryglicki commented on #257
Done, all data regenerated. new org added.

[2020-08-04 11:31] #257 closed

[2020-08-04 17:15] tcnghia commented on #257
Thanks a lot for the quick turn around!

[2020-08-10 03:55] kevin-wangzefeng opened #258 "[feature request] Improve phrasing of "committer" in Overall Project Statistics Table"
The "committer" in Overall Project Statistics Table is actually counting contributors who submitted code, we should give more proper phrasing, e.g. "code contributor" etc.

Ref1: https://github.com/cncf/toc/blob/master/process/graduation_criteria.adoc#L28
*A committer is defined as someone with the commit bit; i.e., someone **who can accept contributions** to some or all of the project.*

Ref2: ht

[2020-08-10 06:26] lukaszgryglicki commented on #258
I'll rename to "Code committers" - code contributors may also mean "commit commenters" and reviewers IMHO.

[2020-08-10 06:56] lukaszgryglicki commented on #258
Done.

[2020-08-10 06:56] #258 closed

[2020-08-10 07:30] kevin-wangzefeng commented on #258
Cool, thanks.

[2020-08-18 21:47] MrHohn opened #259 "[Bug] Missing reviewers on the pr-reviews-by-contributor dashboard"
I was browsing the "PR reviews by contributor dashboard" and was unable to filter on a few existing reviewers including myself (it simply shows no data): https://k8s.devstats.cncf.io/d/46/pr-reviews-by-contributor?orgId=1&var-period=d7&var-repo_name=All&var-reviewers=MrHohn

I wonder if this is a setup issue, or is this dashboard deprecated and not maintained?

Thanks.

[2020-08-27 00:11] jberkus opened #260 "No graph for "all contributions" [feature request]"
In Contributor Growth for CNCF SIG-Contributor-Strategy we noticed that there is no graph showing all contributions by contribution type, or for all contributors by contribution type, that community managers can use to see if the general trends are going up or down.   We have ones for new contributors, and ones for just PRs, and tables listing contributors, but not trending graphs showing all type

[2020-08-27 00:13] jberkus commented on #260
Ref: https://github.com/cncf/sig-contributor-strategy/pull/53

[2020-08-27 05:06] lukaszgryglicki commented on #260
Contribution type, you mean to separate: Creating Issue, Creating PR, Commenting on Issue, Commenting on Commit, Reviewing a PR, Creating a Commit?
Can you provide a description of what data should be displayed and what should be the drop-down values?

[2020-08-27 07:58] LappleApple commented on #260
Thanks for filing and looping us in, @jberkus. Later today @castrojo and I will catch up on DevStats and we'll take a closer look at this.

[2020-08-27 18:24] jberkus commented on #260
Lukasz: the same set of options as https://k8s.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1

[2020-08-27 18:35] lukaszgryglicki commented on #260
Yes, OK, but how about the graph, what should be plotted o the Y-axis (X being the time).?

[2020-08-28 16:42] jberkus commented on #260
Either number of contributions or number of contributors, depending on which chart.

[2020-09-01 06:38] lukaszgryglicki commented on #260
OK, I'll work on this on Friday, thanks!

[2020-09-03 00:38] mwlang opened #261 "[bug] Cycle View Mode leads to unable to change view mode."
I was experimenting with cycling view modes when I suddenly lost the header bar altogether and could no longer cycle any more view modes.

The upper righthand corner completely loses the menu where this cycle view mode option lives:

![image](https://user-images.githubusercontent.com/18387/92055179-447c6a80-ed5c-11ea-8ea9-06d886c6505f.png)

I could find no ready way to get back to a working header

[2020-09-03 04:50] lukaszgryglicki commented on #261
Not sure how to replicate this, and this actually looks like a Grafana issue, not a DevStats issue.

[2020-09-03 18:50] gkarthiks opened #262 "[bug] Broken link in dev stats dashboard"
When clicking on the link `Metrics SQL File` under the `Dashboard Documentation` section  from the Dev Stats dashboard for `Stars and Forks by repository`, it results in 404 Page Not Found error.

Seems the file is missing. The link its trying to open is https://github.com/cncf/devstats/blob/master/metrics/kubernetes/watchers.sql but the `watchers.sql` file is present in https://github.com/cncf/de

[2020-09-04 05:05] lukaszgryglicki commented on #262
On it.

[2020-09-04 05:26] lukaszgryglicki commented on #262
Fixed.

[2020-09-04 05:26] #262 closed

[2020-09-04 05:27] lukaszgryglicki commented on #260
On it.

[2020-09-04 17:36] lukaszgryglicki commented on #260
The right y-axis always shows the number of contributions (reviews, approves, commits, PRs, comments, etc).

The left y-axis always shows the number of contributors (authors of contributions) (reviewers, approvers, committers, PR creators, commenters, etc.).

You can choose a moving average (7 Days MA). In that mode, it shows the number of distinct contributors in a moving 7 Days window and the av

[2020-09-04 17:44] lukaszgryglicki commented on #260
When you look at [this](https://k8s.teststats.cncf.io/d/74/contributions-chart?orgId=1&from=now-5y&to=now&var-period=m&var-metric=contributions&var-repogroup_name=Other&var-country_name=All&var-company_name=All&var-company=all) (repo group = Other), you can see that recently more and more repos fall to "Other" repo group - so repo group definitions should be revisited IMHO cc @jberkus

[2020-09-05 11:52] lukaszgryglicki commented on #260
Also added a new chart to `All CNCF`: [test server preview](https://all.teststats.cncf.io/d/74/contributions-chart?orgId=1).

[2020-09-07 03:08] kobaji opened #263 "Question: what the meaning of `last` (month, quarter, ...)?"
Hi there, I am reading this article.
https://github.com/cncf/devstats/blob/master/docs/periods.md#devstats-metrics-ranges-definitions

Then could you please tell me the meaning of `last`?
I could not find a document which describes this, although I am looking for...

Especially I am wondering the following.
If it is 2020-09-07-13:00:00 now, ...

- last week
  - from 2020-08-31-13:00:01 to now?
  -

[2020-09-07 03:15] kobaji commented on #263
I guess this issue can be related with [this](https://github.com/cncf/devstats/issues/29) but my question could not be resolved.

[2020-09-07 05:26] lukaszgryglicki commented on #263
DevStats is synced hourly. If the last sync was running say 30 minutes ago, then "last week" means "now-1week-30minutes - now-30minutes" and so on for a month, day, etc.

[2020-09-07 05:26] #263 closed

[2020-09-07 05:31] kobaji commented on #263
@lukaszgryglicki Thank you so much for your kind answer.
I understood completely!!

For example,
if the last sync was running 5min ago, the range says `Last year`, it mens the duration from "now-1year-5min" to "now-5min".

Thank you again for your kind help!!

[2020-09-07 09:43] lukaszgryglicki commented on #260
Added on `prod` server:
- [Kubernetes](https://k8s.devstats.cncf.io/d/74/contributions-chart?orgId=1).
- [All CNCF](https://all.devstats.cncf.io/d/74/contributions-chart?orgId=1).

Now adding on all remaining projects on the `test` env.

[2020-09-07 14:11] lukaszgryglicki commented on #260
Added this new dashboard for all CNCF project pages on both test & prod servers.
Closing, please reopen if needed.

[2020-09-07 14:11] #260 closed

[2020-09-09 20:02] jberkus commented on #260
looks great, thanks!

[2020-09-09 20:04] jberkus commented on #260
wait, question: if you search on Merged PRs, the number of contributors is 3X the number of PRs.  How does this work, exactly?  Is that all commentors on those PRs?

[2020-09-09 20:14] lukaszgryglicki commented on #260
See docs (bottom panel) about Moving averages.
For 7 days MA - it displays the number of distinct contributors over 7 days moving average window, but the number of contributions is the sum from that window divided by 7.

[2020-09-09 20:15] jberkus commented on #260
aha, I see!   Yah, I get what I expect if I switch to week summary.  Thanks!

[2020-09-14 05:40] #261 closed

[2020-09-14 05:42] lukaszgryglicki commented on #259
We only show some top reviewers, not all of them.

[2020-09-14 05:42] #259 closed

[2020-09-14 05:42] lukaszgryglicki commented on #248
Closing this, please reopen if needed.

[2020-09-14 05:42] #248 closed

[2020-09-14 05:42] #176 closed

[2020-09-14 06:21] lizthegrey commented on #176
https://www.splunk.com/en_us/blog/leadership/splunk-now-top-contributor-to-opentelemetry.html -- Splunk now issuing press releases based off the data

[2020-09-14 06:34] lukaszgryglicki commented on #176
Great news!

[2020-09-17 19:51] jberkus opened #265 "Replace hand-coded bot list with table [feature request]"
Lukasz,

I was just going to go ahead and do this, but I don't seem to have an R/W connection to the main GHA database.

Currently we screen out bots from the stats by adding in a long array of bot login patterns to many queries.  This is high-maintenance and error-prone.

Instead of that, we should use a gha_bot_logins table.

Here's how to create the table:

[code]

Here's how to use it:

[code]

[2020-09-18 01:44] kobaji opened #266 "[question]:How can I reflect my contribution to Tekton, to the ranking?"
Hi there, could you please help me my contribution to Tekton be reflected in the following ranking?
https://tekton.devstats.cd.foundation/d/5/companies-table?orgId=1&var-period_name=Last%2010%20days&var-metric=issues

Somehow I cannot find my contribution (published some issues) reflected in that ranking.

# What I have done

- added my information to developers_affiliations.txt (on 2020/Sept/16th

[2020-09-18 04:25] lukaszgryglicki commented on #265
Josh - added to my TODO list, will probably work on this on Monday.

[2020-09-18 04:29] lukaszgryglicki commented on #266
Affiliations are imported weekly. Data is already there in `cncf/gitdm` but it is possible its not in DevStats yet:
[code]
Last import was 2d1h ago, so it is possible it was before JSON was updated. Please wait a bit and check again.

[2020-09-18 04:58] kobaji commented on #266
Thanks again and again @lukaszgryglicki
I'm very grateful for your kind help!!

I understand I have already done all I need and just need to wait a bit!
I'll close this issue but can reopen if my contribution has not been reflected to the ranking within a week.

[2020-09-18 04:58] #266 closed

[2020-09-18 05:09] kobaji commented on #266
Btw should you have any documents about this in GitHub, I strongly hope to get it.

Those documents might be helpful for everyone need to know about this, as well as me.

[2020-09-18 05:14] lukaszgryglicki commented on #266
https://github.com/cncf/gitdm#addingupdating-affiliation
Please note this info `Please note that cncf/gitdm affiliations are imported into DevStats (cncf/devstats) weekly.`.

[2020-09-18 05:18] kobaji commented on #266
Thanks a lot!!

Though I have read that article but I misunderstood it!!
My information has been listed in [devstats/github_users.json](https://github.com/cncf/devstats/blob/master/github_users.json#L1731160), that's why I wondered why my contribution has not been reflected to the ranking.

Anyway, I'll inform some my fellows or Japanese engineers about this!!

Thank you again, @lukaszgryglicki !!

[2020-09-18 05:21] lukaszgryglicki commented on #266
Sure, if you have any suggestions on how to reformat the README so this is more clear to you - go ahead and create a PR.
Thanks!

[2020-09-22 05:04] lukaszgryglicki commented on #265
Added this table and partials that *can* be used to run metrics using this approach. But I've kept the old solutions as a default because it is 5 times faster when trying the simplest metric "activity in repo groups"
[code]

Details f8178cc3d07a13a75d3ccc4feb50428dabcf0b5d

[2020-09-22 05:07] #265 closed

[2020-09-23 07:26] kobaji commented on #266
Certainly I found my contribution has been listed in the ranking!!
Thank you @lukaszgryglicki again and again.

[2020-10-09 00:37] kobaji opened #267 "Companies don't seem to be listed in the Tekton ranking."
Hi there, thank you very much for every your kind help.

I am wondering something is wrong with [the tekton ranking](https://tekton.devstats.cd.foundation/d/5/companies-table?orgId=1
) because of the following reasons:

- Currently no companies' name is listed, like this:

Company | Number
-- | --
All | 58297

- In last week I found the ranking was like this:

Company|Number
-- | --
All | 4275
Red

[2020-10-09 04:57] lukaszgryglicki commented on #267
We had disk pressure issues, seems like affiliations import failed on Tekton, I'll fix this asap. Thanks for reporting.

[2020-10-09 05:28] lukaszgryglicki commented on #267
Fixed.
Thanks for reporting.

[2020-10-09 05:28] #267 closed

[2020-10-09 05:33] kobaji commented on #267
Thank you very much @lukaszgryglicki , it seems to be okay!!

Thank you again for your help.

[2020-10-09 18:12] mrbobbytables opened #268 "[feature request][kubernetes] Update kubernetes repo groups"
Would it be possible to update the repo group mappings for these groups? They were previously under 'Other'.
If it'd be easier I can cut a PR to the kubernetes/repo_groups.sql file directly :)

| Repo                                                                   | Repo Group                 |
|------------------------------------------------------------------------|----------------------------

[2020-10-10 06:09] lukaszgryglicki commented on #268
Will do on Monday.

[2020-10-10 14:24] mrbobbytables commented on #268
Thanks!

[2020-10-12 14:38] mrbobbytables opened #269 "[bug][kubernetes] Company Statistics by Repo Group error"
When viewing the [Company Statistics by Repository Group](https://k8s.devstats.cncf.io/d/8/company-statistics-by-repository-group) dashboard, it fails and surfaces this error:
[code]

Please let me know if I can provide more info or if theres anything I can do to help 👍

[2020-10-12 15:56] lukaszgryglicki commented on #269
Will fix tomorrow, thanks for reporting.

[2020-10-12 16:55] lukaszgryglicki commented on #269
Fixed.

[2020-10-12 16:55] #269 closed

[2020-10-12 16:55] lukaszgryglicki commented on #268
Implemented, data regenerated.

[2020-10-12 16:55] #268 closed

[2020-11-11 19:19] vielmetti opened #270 "[bug] Update "packet" and "packet.net" branding to Equinix Metal"
Packet has been acquired by Equinix, and the new brand is Equinix Metal.

Update references throughout the web site and the documentation to the new site, and to the new logo.

https://metal.equinix.com

[2020-11-11 19:27] vielmetti commented on #270
Reference https://github.com/cncf/devstats/commit/f8eed559f8f6ad94ef321eb12097778515f45cca which had the original acknowledgement (thanks!)

[2020-11-11 19:30] vielmetti commented on #270
Also see https://github.com/cncf/devstats/commit/8a4fd909d5fad3a95218af84e3719e3414e26bb0 with the ack in the README file.

[2020-11-11 19:47] lukaszgryglicki commented on #270
Will do after my PTO this week and KubeCon next week, thanks for reporting!

On Wed, Nov 11, 2020 at 8:30 PM Edward Vielmetti <notifications@github.com>
wrote:

[2020-11-16 10:58] lukaszgryglicki commented on #270
Updated references in [devstats repo](https://github.com/cncf/devstats/commit/5bbc4befcc4889f66622682ca9dd32ff39572f9f), [devstats-helm repo](https://github.com/cncf/devstats-helm/commit/9560d54ab7347f9c267fdbae5324bdbfb5aacecb), rebuilt docker images (grafana and pages) and redeployed with new branding.

See https://devstats.cncf.io (you may need to clear cache or do some similar operation depend

[2020-11-16 14:29] #270 closed

[2020-11-16 14:34] vielmetti opened #271 "[feature request] Add Tinkerbell (new sandbox project)"
https://tinkerbell.org and @tinkerbell are newly added sandbox projects to the CNCF. It would be great to see them on the DevStats pages.

[2020-11-16 14:45] lukaszgryglicki commented on #271
This one and 6 others are wip. Just returned from my PTO and because there are 6 projects at a time it will take a few days (also KubeCon is happening this week), so this will definitely be done, just wait a bit.
Thanks for reporting.

[2020-11-22 19:42] lukaszgryglicki commented on #271
Forgot this issue, added 5 days ago, closing.

[2020-11-22 19:42] #271 closed

[2020-11-23 13:52] fabiand opened #272 "[feature request] Classifying contributions"
Today the dashboard is showing contributions of people to CNCF related repos.

It would be nice to get a more fine grained understanding of where contributions are landing.
Assuming a repository that has a "core", "automation", "test", and "utilities", then it would be nice if there are graphs that classify contributions on these (repo defined) classes.

This would be nice to have on a repo level,

[2020-11-23 14:11] caniszczyk commented on #272
The kubernetes project accomplishes this via "repository groups" and wee
can do something a bit similar for you here.

Lukasz, how can folks accomplish that setup?

On Mon, Nov 23, 2020 at 7:52 AM Fabian Deutsch <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-11-23 14:37] lukaszgryglicki commented on #272
Yes, repository groups will do the job. I will just need a list of repos with their repository group classifications. This is for any particular project/devstats instance? Once I have such a list I can apply this definition to a particular DevStats instance(s) and regenerate data...

[2020-11-23 15:03] caniszczyk commented on #272
For Fabian it's KubeVirt

On Mon, Nov 23, 2020 at 8:38 AM Łukasz Gryglicki <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-11-23 15:27] fabiand commented on #272
Thanks Chris.

@lukaszgryglicki can you provide me a link to the Kubernetes mapping, then I can create a similar mapping for KubeVirt.

In addition: Can we etedn this pattern to have separate groups within a single repository?

[2020-11-24 06:33] lukaszgryglicki commented on #272
Kubernetes repo groups are defined [here](https://github.com/cncf/devstats/blob/master/scripts/kubernetes/repo_groups.sql).
It is possible to have different repo groups on the same repository (the granularity level is a file path within the repo then, but this can also distinguish contributions that actually touch files somehow - most probably commits, etc.), this is used only in kubernetes, for e

[2020-11-24 07:40] fabiand commented on #272
Lukasz, this is great, thanks. It will take me some time to come up with a
suggestion for KubeVirt, but it's enough to understand the mechanics.

[2020-11-25 00:30] craiglpeters opened #273 "[feature request] Cluster API and the Providers aren't represented"
It would be great to have both CAPI itself, and each of the providers represented on the [dashboard](https://k8s.devstats.cncf.io/d/12/dashboards?orgId=1&refresh=15m)

[2020-11-25 00:33] craiglpeters opened #274 "[feature request] Add Open Service Mesh to the dashboard"
It would be great if [OSM](https://github.com/openservicemesh/osm) was represented on the dashboard

[2020-11-25 06:51] lukaszgryglicki commented on #273
I think it's just a matter of [repo groups](https://github.com/cncf/devstats/blob/master/scripts/kubernetes/repo_groups.sql) definitions.

[2020-11-25 06:53] lukaszgryglicki commented on #274
This is probably a repository group definition request. I'm not quite sure where you want to update it... "All CNCF", "Open Service Mesh"?

[2020-11-25 18:30] caniszczyk commented on #274
@craiglpeters this already exists? https://openservicemesh.devstats.cncf.io/

[2020-11-25 18:30] #274 closed

[2020-11-30 11:17] fabiand opened #275 "[bug] User affilitation incorrect"
@maiqueb is now working for Red Hat, but his mapping is incorrect in https://github.com/cncf/devstats/blob/master/github_users.json.

How can this be fixed?

[2020-11-30 11:30] fabiand commented on #275
Ah, it can be addressed here:
https://github.com/cncf/gitdm#addingupdating-affiliation

@maiqueb can you please update your entry?

[2020-11-30 11:31] rmohr opened #276 "[feature request] Add a deshboard for PR merger"
It would be great for us the see who actually merges PRs in devstats. For instance in our case it would be intersting to see how much we merge via our robot and how much we merge by different people.

[2020-11-30 11:31] lukaszgryglicki commented on #275
Please create a PR against [cncf/gitdm](https://github.com/cncf/gitdm#addingupdating-affiliation).

[2020-11-30 11:32] lukaszgryglicki commented on #276
You need something like a table of PR mergers sorted by the number of merge PR right?
I can create such a dashboard.
Just need o confirm that this is something you want...

[2020-11-30 11:46] rmohr commented on #276
Yes a table similar to the PR Authors table: https://kubevirt.teststats.cncf.io/d/22/prs-authors-table?orgId=1

Thanks a lot.

[2020-11-30 11:48] rmohr commented on #276
I just see that our kubevirt-bot is not in this dashboard (is it explicitly removed?).

[2020-11-30 11:50] lukaszgryglicki commented on #276
Yes, bots are usually removed, but I can create a dashboard with bots included.

[2020-11-30 12:07] rmohr commented on #276
That would be awesome.Maybe they can be marked with `username (robot)` or so to make clear that it is a bot.

[2020-12-01 04:19] GsssC opened #277 "[bug] Move kubeedge to incubation project"
KubeEdge is in incubation according to https://www.cncf.io/blog/2020/09/16/toc-approves-kubeedge-as-incubating-project/
But now devstats show it is in sandbox as below:
![image](https://user-images.githubusercontent.com/29768082/100696791-57402300-33cf-11eb-87ba-06b9d3ee3f15.png)

How to move it? Thx! : )

[2020-12-01 09:36] lukaszgryglicki commented on #277
Will move on Friday, thanks for reporting.

[2020-12-01 09:38] lukaszgryglicki commented on #276
Will work on this on Friday.

[2020-12-01 09:38] #275 closed

[2020-12-04 12:55] lukaszgryglicki commented on #270
@vielmetti I've updated the main description of [DevStats](https://devstats.cncf.io) page to include information that we run on the Equinix platform.
See the screenshot attached:
![Screenshot 2020-12-04 at 13 54 33](https://user-images.githubusercontent.com/2469783/101166312-607ff880-3638-11eb-8062-4ef9a0ae858f.png)
![Screenshot 2020-12-04 at 13 54 43](https://user-images.githubusercontent.com/246

[2020-12-04 13:36] lukaszgryglicki commented on #277
Done, see [here](https://kubeedge.devstats.cncf.io/d/8/dashboards?orgId=1&refresh=15m) and [there](https://devstats.cncf.io).

[2020-12-04 13:36] #277 closed

[2020-12-07 06:14] lukaszgryglicki commented on #276
A bit late, but starting work on this.

[2020-12-07 12:53] lukaszgryglicki commented on #276
Ready, here is the [Mergers Table](https://all.devstats.cncf.io/d/75/prs-mergers-table?orgId=1) for All CNCF projects DevStats instance (the single project is a single repository group there), and [here](https://kubevirt.devstats.cncf.io/d/75/prs-mergers-table?orgId=1) is the Mergers Table for `KubeVirt`. Bot users are marked as `*bot: bot-name*`. Closing this, let me know if you need to reopen.

[2020-12-07 12:57] #276 closed

[2020-12-07 12:58] rmohr commented on #276
@lukaszgryglicki thanks a lot. That is very helpful.

[2020-12-09 10:05] GsssC commented on #277
@lukaszgryglicki  On behalf of the kubeedge community, thank you

[2021-01-04 19:20] xtreme-sameer-vohra opened #280 "[feature request] More granular range values for contribution chart"
## Description
The current graphs have a static set of values for the range drop down. It would be valuable to be able to define a custom range eg( start date to end date ) or if more granular data (monthly for the last year) that would be very helpful.

## Motivation
I'd like to generate monthly stats and aggregate them across custom 3 month periods and the current range values wouldn't be able t

[2021-01-04 19:23] lukaszgryglicki commented on #280
Hi, which chart, can you paste a link?
Some of those charts (like the tabular ones) are pre-calculated and we can only do that for a fixed set of values - data is not coming from a complex query that is too slow to calculate "on the fly" - I'll check what I can do here, but I can also do a one-time calculation of the exact data you need - I just need detailed specs what is needed.

[2021-01-04 19:25] xtreme-sameer-vohra commented on #280
I was trying to get monthly numbers from July-Dec for the stats for [this](https://knative.teststats.cncf.io/d/5/companies-table?orgId=1) chart

[2021-01-04 19:30] lukaszgryglicki commented on #280
The closest thing will be:
- monthly
- contributions
- last year
Selected those values [here](https://knative.teststats.cncf.io/d/4/company-statistics-by-repository-group?orgId=1&from=now-1y&to=now&var-period=m&var-metric=contributions&var-repogroup_name=All&var-companies=All). I can also pull the exact number manually from DB.

[2021-01-04 20:19] xtreme-sameer-vohra commented on #280
Thanks, thats perfect
I was able to download the tabulate data in csv format from that view

[2021-01-04 20:19] #280 closed

[2021-01-04 20:25] lukaszgryglicki commented on #280
Great, thanks...
BTW: you can download all dashboards data as CSV.

[2021-01-09 20:45] #273 closed

[2021-01-09 20:45] #272 closed

[2021-01-18 11:21] dhiller opened #282 "[bug] KubeVirt dashboard - very long urls lead to syntax errors/empty responses"
After [PR for KubeVirt repogroups](https://github.com/cncf/devstats/pull/281) was merged we played around with the dashboards.

It seems that selecting lots of companies does not work somehow. What we encountered were syntax errors and even empty responses. Can someone please have a look and help us understand what is wrong here?

Example URL:

https://kubevirt.devstats.cncf.io/d/55/company-prs-in

[2021-01-18 11:26] lukaszgryglicki commented on #282
Please report this to Grafana - DevStats uses Grafana and this is how it passes variable values in URL. There is nothing I can do here.

[2021-02-18 17:59] adamkane13 opened #284 "[Feature Request]"
Please add `[feature request]` to the issue title when requesting new features, dashboards, projects etc.
Please add `[bug]` to the issue title when reporting a bug.

Is there a way you can add company contribution totals to data like this? https://k8s.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&from=1447338914018&to=1605191714018&var-period_name=v1.19.0%20-%20v1.20.0&var-

[2021-02-18 19:27] lukaszgryglicki commented on #284
Will try to see what I can do next week, thanks for reporting.

[2021-02-19 06:30] lukaszgryglicki commented on #284
I think I can't add totals here, because the companies drop-down is a multi select, so there is no sinle total to be displayed there.
But you can just get all the data as a CSV file and then put it in some google sheet and manipulate in any way you want.

To export data click on thye panel header  "Kubernetes Developer statistics" - drop down menu will show up. Then choose "Inspect -> Data ->   Do

[2021-02-24 19:35] mrbobbytables opened #285 "[BUG][Kubernetes] Missing data from pre 2021 on PR Reviews Dashboard"
The [PR Reviews by Contributor Dashboard](https://k8s.devstats.cncf.io/d/46/pr-reviews-by-contributor?orgId=1) is missing data from pre-2021 for quite a few contributors.

Example query:
https://k8s.devstats.cncf.io/d/46/pr-reviews-by-contributor?orgId=1&from=1569913200000&to=1601535599000&var-period=d&var-repo_name=All&var-reviewers=All

If you scroll down in the list on the right, there will be

[2021-02-25 04:38] lukaszgryglicki commented on #285
I can take a look at this next week, this week I have a vacation.

[2021-02-28 01:23] kobaji opened #286 "503 Service Temporarily Unavailable"
Hi @lukaszgryglicki and all,
I tried to access the following URL but something seemed to be wrong.
https://tekton.devstats.cd.foundation/

It says "503 Service Temporarily Unavailable".

N.B.
Aside from Tekton, k8s or any other Devstats seem to have some problems.

Are there any server side problems??
Hope it will get well soon~

Please add `[feature request]` to the issue title when requesting ne

[2021-02-28 04:43] xtreme-sameer-vohra commented on #286
Seeing the same thing for https://devstats.cncf.io as well

[2021-02-28 06:18] lukaszgryglicki commented on #286
Investigating...

[2021-02-28 06:44] lukaszgryglicki commented on #286
This was a node failure, no idea why, will keep observing, fixed this for now by restarting a bare metal node.
The node was kinda misbehaving. Calling `df` command was never returning. Any ideas why `df` command can behave like this?

[2021-03-01 01:41] kobaji commented on #286
Thanks all,
First of all I am glad to be able to access the URLs.
Anyway I will look for the best way to solve this.

[2021-03-01 05:49] xtreme-sameer-vohra commented on #286
Were other commands that target the filesystem such as `ls` working ? Which file system is the bare metal node using ?

[2021-03-01 06:05] lukaszgryglicki commented on #286
`ls` was working just fine, root filesystem is on `ext4`, there is no swap, and all DevStats data lives in `OpenEBS` using local storage. `OpenEBS` is set up to use mount directory of `LVM`. LVM is made from two 3.5T `NVMe` disks. The `LVM` volume is formatted using `ext4` filesystem too. All 4 bare metal nodes have the same configuration, OS is Ubuntu 20.04 LTS.

[2021-03-01 08:52] kobaji commented on #286
Please let me ask you one. Is devstats working now?
Honestly, I found my fellow's commits in Feb/26th 12:00PM UTC does not seem to be appeared in the following ranking.
https://tekton.devstats.cd.foundation/d/5/companies-table?orgId=1&var-period_name=Last%20year&var-metric=commits

I would like to find out the cause (e.g. [My PR](https://github.com/cncf/gitdm/pull/463/files#diff-4350264dd72e265347

[2021-03-01 15:22] lukaszgryglicki commented on #286
I've been on the vacation, just two days, Friday and Monday, please give me some time to investigate this when I'm back, in the meantime, can you provide more details about what PRs/commits are wrong in your opinion? I'll check the DB, GitHub archives to see if I have that data, or GitHub archives have that data correct/incorrect, etc.

[2021-03-02 02:09] xtreme-sameer-vohra commented on #286
Gotcha, in the past have seen bugs with btrfs, however, that doesn't seem to be what you're running into. Sorry, I cant be of more help

[2021-03-02 11:46] lukaszgryglicki commented on #286
I think I've found something, I'll try to fix and get back to you @kobaji

[2021-03-02 14:59] lukaszgryglicki commented on #286
Should be fixed by [this commit](https://github.com/cncf/devstatscode/commit/b43c2dc0f07c826e6fd00b30a1e802bbe506dc87).
@kobaji let me know if the data looks OK now.

[2021-03-02 15:10] lukaszgryglicki commented on #285
I hope, I'll be able to check this tomorrow.

[2021-03-02 23:24] kobaji commented on #286
Hi @lukaszgryglicki , thank you very much for your comment.
The data looks OK now.

[2021-03-03 05:15] #286 closed

[2021-03-03 08:24] lukaszgryglicki commented on #285
Finally on it.

[2021-03-03 08:38] lukaszgryglicki commented on #285
I can see data for `johnbelamaric` and `divya-mohan0209`, see [this](https://k8s.devstats.cncf.io/d/46/pr-reviews-by-contributor?orgId=1&var-period=d7&var-repo_name=All&var-reviewers=%22johnbelamaric%22&var-reviewers=%22divya-mohan0209%22&from=now-90d&to=now).
I'll check `xmudrii` and also those 2 to be sure that the data is OK.
Note that (dashboard documentation):
[code]

So to [calculate](https:

[2021-03-03 09:09] lukaszgryglicki commented on #285
So `johnbelamaric` had 194 reviews in the last quarter, `divya-mohan0209` had 54, `xmudrii ` had 21.
This makes `xmudrii` about 330th reviewer - we're only [showing](https://github.com/cncf/devstatscode/blob/master/tags.go#L61-L65) top 255 reviewers from the last quarter, so thaty user is not listed. The first and the second rank is < 255th so they show up and you can see their reviews [here](http

[2021-03-03 12:53] mrbobbytables commented on #285
Ahhh, I did not realize that it was only the top 255.

Yup, should be good to close.

[2021-03-03 13:46] #285 closed

[2021-03-04 06:15] lukaszgryglicki commented on #284
Let me know if the data dump is enoght for you to get the data? I'll eventually reopen, but the feature as requested is hard to be implemented, see my previous post.

[2021-03-04 06:15] #284 closed

[2021-03-04 06:16] lukaszgryglicki commented on #282
Closing for now, action must be taken on the Grafana side, where I've already provided all info I have.

[2021-03-04 06:16] #282 closed

[2021-03-04 17:00] adamkane13 commented on #284
Awesome. Thank you. This is a good alternative I appreciate it

From: Łukasz Gryglicki <notifications@github.com>
Sent: Wednesday, March 3, 2021 10:16 PM
To: cncf/devstats <devstats@noreply.github.com>
Cc: Adam Kane (c) <adkane@vmware.com>; Author <author@noreply.github.com>
Subject: Re: [cncf/devstats] [Feature Request] (#284)

Let me know if the data dump is enoght for you to get the data? I'll

[2021-03-08 16:53] caniszczyk opened #288 "[feature request] create a dashboard for clone data"
GitHub has this info available via their builtin dashboards, e.g., https://github.com/cncf/devstats/graphs/traffic

I don't know what the API looks like to pull this but since we have data for stars and forks, maybe we add that to the dashboard: https://kubevirt.devstats.cncf.io/d/3/stars-and-forks-by-repository?orgId=1

Maybe we call it 'stars-forks-and-clones' ;)? or a separate one for just clon

[2021-03-09 01:59] mrbobbytables opened #289 "[Feature Request][Kubernetes] Add additional filters to dashboards"
## Problem

DevStats currently does not provide enough granular signal on many of the dashboards to make meaningful inferences from the data. This is largely because `repo_group` is not a good mapping to a particular SIG, and does not provide insight into the subprojects that are repo specific or reflect the work that occurs in shared repos such as [kubernetes/kubernetes], or [kubernetes/enhanceme

[2021-03-09 06:33] lukaszgryglicki commented on #288
I'll research this on Friday, is this OK? We don't use GitHub API in DevStats - we use GitHub archives data.

[2021-03-09 06:59] lukaszgryglicki commented on #289
So I can't just show repos and repo groups at the same time.
I can create a separate dashboard9s) that use repos instead of repo groups if that can help.
Also repo groups can have "file-level" granularity (it's already implemented) so the single repo like `k/k` can belong to different repo groups.
Actually, it's hard for me to decide what exactly should be done here.

[2021-03-09 12:41] mrbobbytables commented on #289
separate dashboards for repo vs repo_group would help, are the other items implementable? being able to add filters for sig/wg label and company? k/enhancements filepaths might work but for k/k it'd be much more of a challenge and things do change there :(

[2021-03-09 13:29] lukaszgryglicki commented on #289
Labels and company filter will be do-able, just need a list of dashboards to update, so I know which ones should have an additional filters and which ones should also be implemented per repo instead of per repo group. Anyway, will take a bit because I also need to implement LF items.

[2021-03-09 14:10] caniszczyk commented on #288
works for me, no rush

On Tue, Mar 9, 2021 at 12:33 AM Łukasz Gryglicki <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-03-09 14:41] mrbobbytables commented on #289
No worries, I can get you that list by the end of the week at the latest :)

On Tue, Mar 9, 2021 at 8:30 AM Łukasz Gryglicki ***@***.***>
wrote:

[2021-03-09 15:00] lukaszgryglicki commented on #289
OK, thanks.

[2021-03-10 11:03] lukaszgryglicki commented on #288
Doing some research, but I'm quite sure we don't have that data in GitHub archives (which is DevStats' data source), created this [issue/question/feature request)(https://github.com/igrigorik/gharchive.org/issues/248) in the meantime to confirm (now I'm digging several hundreds of megabytes of GHA JSONs to see if there were any data format updates to includ ethis info).

[2021-03-10 11:29] lukaszgryglicki commented on #288
I've checked few huge JSONs with a few grep-like approaches (they're over 2.5G in size when converted from ndjson to a correct JSONs) I don't see any data that makes this feature request possible, will also wait for any feedback on my feature request/issue from the previous post.

All I can consider here is to do a hybrid approach - make DevStats also call GitHub APi to get this data - but even if

[2021-03-10 22:55] mrbobbytables commented on #289
Here are the dashboards we'd like to be able to have an additional per-repo breakdown:

- Community sizing and health assessment dashboards
  - Companies contributing to repository groups
  - Company Statistics by Repository Group
  - GitHub Stats by Repository Group
  - Overall Project Statistics
- Contributor statistics dashboards
  - Bot commands by repository group
  - Company PRs in repositor

[2021-03-11 05:56] lukaszgryglicki commented on #289
Wow, a lot of them, can I just add another "repo" drop-down on each of them and then duplicate all panels on each of them, so for example if a given dashboard has repository group drop-down and 3 panels, it will have repository group and repository drop-downs and 6 panels - 3 for repo groups and 3 for repositories?
Otherwise the number of dashes will become so overwhelming...

Makes sense?

[2021-03-11 07:31] lukaszgryglicki commented on #288
So @caniszczyk [GHA maintainer](https://github.com/igrigorik) [confirmed](https://github.com/igrigorik/gharchive.org/issues/248#issuecomment-796505931) that GHA doesn't have that data, so the only possibility is the hybrid approach described [here](https://github.com/cncf/devstats/issues/288#issuecomment-795282524) - please let me know if we want to proceed that way? (but I think this is not a rea

[2021-03-11 12:06] lukaszgryglicki commented on #289
On it, at least in `data` level - so then I can decide about UI changes: new dashboards or new panels within existing dashboards (my preference).

[2021-03-11 12:09] mrbobbytables commented on #289
On the same dashboard in panels is fine 👍

[2021-03-11 12:19] lukaszgryglicki commented on #289
OK, so I'll be updating one by one (first to get data), then I'll update the UI and finally I'll let u know.

[2021-03-11 12:47] lukaszgryglicki commented on #289
Regarding [GitHub Stats by Repository Group](https://k8s.devstats.cncf.io/d/48/github-stats-by-repository-group?orgId=1) it already have repos version: [GitHub Stats by Repositories](https://k8s.devstats.cncf.io/d/49/github-stats-by-repository?orgId=1).

[2021-03-11 13:03] mrbobbytables commented on #289
Oh woops, I might have accidentally included that on my list^^;;

[2021-03-11 14:53] caniszczyk commented on #288
let's hold off on this feature for now, leave the issue open though and put
it on the backlog

On Thu, Mar 11, 2021 at 1:31 AM Łukasz Gryglicki ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-03-11 15:31] lukaszgryglicki commented on #288
OK.

[2021-03-19 06:02] lukaszgryglicki commented on #289
Back on this...

[2021-03-19 06:45] lukaszgryglicki commented on #289
`Community sizing and health assessment dashboards` data part finished, now updating `Contributor statistics dashboards` dashboards... when I finish data part for all dashboards I'll run data-sync and add new panels (per-repo basis) in all of them.

[2021-03-19 11:29] lukaszgryglicki commented on #289
`PR Reviews by Contributor` is already bease on repo not repo group - [see this](https://k8s.devstats.cncf.io/d/46/pr-reviews-by-contributor?orgId=1), skipping.

[2021-03-19 11:36] lukaszgryglicki commented on #289
`Contributor statistics dashboards` section finished (data part), proceeding to `Issue velocity dashboards`.

[2021-03-19 12:27] lukaszgryglicki commented on #289
@mrbobbytables for `Inactive Issues by SIG` I will need some feedback. This dashboard has no repository groups nor repositories dropdown. So this is not about adding "repositories" in addition to "repository groups" - but considering both options. Should I create a dashboard for repo groups? repos? both? separate dashboard? new panels within this one?

This will also be a case for some other dashb

[2021-03-19 13:45] mrbobbytables commented on #289
Repos I think would be the preferred option - the main thing this would let us do is get a break down for the larger shared repos such as kubernetes/kubernetes and kubernetes/enhancements. As far as separate dashboard or panel, that shouldn't matter too much - whichever method is easiest to implement.

I thought most of those dashboards were filtering by the `sig/*` and `wg/*` labels based off thi

[2021-03-19 13:50] lukaszgryglicki commented on #289
@mrbobbytables yes you're right, some dashboards distinguish SIG via labels, some via sig-metions. Repo groups are defined sets of repos just named "SIG XYZ" - I'll do what you suggested. I'll just take each dashboard one-by-one and try to figure out the best approach for all of them. WIll continue on this on Monday, but because I also work on other projects it may take a bit to completely finish

[2021-03-22 07:51] lukaszgryglicki commented on #289
So for example `Inactive Issues by SIG` I'll add another dashboard `Inactive Issues by SIG & Repository`.

[2021-03-22 11:10] lukaszgryglicki commented on #289
Looks like I'm finishing the data part, next I'll generate the data and finally update dashboards - will continue this today and then on Friday.

[2021-03-26 08:23] lukaszgryglicki commented on #289
SQLs for all new dashboards finished, now data is being added to `test` DevStats instance, and while data is adding I'm updating dashboards (adding `repo` drop-down, `repo` related panels and updating docs), 1st dashboard finished (on the `test` instance).
- [PR Time to Engagement](https://k8s.teststats.cncf.io/d/14/pr-time-to-engagement?orgId=1).

If all new SQL works c orrectly I'll update the h

[2021-03-26 09:22] lukaszgryglicki commented on #289
2nd dashboard (and fixed two SQL bugs on the way): https://k8s.teststats.cncf.io/d/11/companies-contributing-in-repository-groups?orgId=1.

[2021-03-26 10:10] lukaszgryglicki commented on #289
3rd dashboard: https://k8s.teststats.cncf.io/d/8/company-statistics-by-repository-group?orgId=1 (a bit more complex, per-repo panels on the bottom).

[2021-03-26 11:39] mrbobbytables commented on #289
Thanks! The per repo break down is a big improvement already - I do have a few follow-up questions:
1) For some of these do you still plan to do a separate dashboard for repo + sig/wg label? e.g. for the `PR Time to Engagement` dashboard, the per-repo breakdown solves the problem for subprojects that have their own repo, but not issue for the large shared repos where a SIG would like to view how t

[2021-03-26 11:43] lukaszgryglicki commented on #289
1. So I would have to create other panels with SIG data
2. I can, but will need a list of dashboards for that.

I suggest that I'll finish with adding repo where requested, you'll check it then, and let me know where else I need to add SIG and/or company filters.

[2021-03-26 11:49] mrbobbytables commented on #289
I can do that, but as a heads up it will be most of them - similar to https://github.com/cncf/devstats/issues/289#issuecomment-796263127

kk

[2021-04-08 12:02] LappleApple commented on #289
Seconding @mrbobbytables' point that the filters would pretty much apply to most of the dashboards listed in [#289 (comment)](https://github.com/cncf/devstats/issues/289#issuecomment-796263127).

[2021-04-08 12:36] lukaszgryglicki commented on #289
I'm working on that, but only Fridays and Mondays. Last Monday was a holiday and I had some family emergency on Friday - so no progress was made, but I will finish this and let you know.

[2021-04-08 12:39] LappleApple commented on #289
Sounds good @lukaszgryglicki -- and I hope everything is ok with your family.

[2021-04-08 12:41] lukaszgryglicki commented on #289
Yeah, my son fell from a fence with a sharp metal ending. He had a very big arm would - we called 911 and an ambulance took him to a hospital. Tomorrow we have another visit to remove 18 stitches.

[2021-04-08 12:52] LappleApple commented on #289
Oh my, that sounds stressful for you and painful for him. Sending you both best wishes for tomorrow.

[2021-04-11 00:19] cjyabraham opened #290 "[feature request] API for getting key CNCF metrics"
Could you create an API call where we can get the metrics used at the top of [cncf.io](https://www.cncf.io/):
- Number of contributors across all CNCF projects
- Number of contributions across all CNCF projects
- Number of lines of code in all CNCF projects

[2021-04-12 09:36] lukaszgryglicki commented on #290
API implemented, you can call it like this:
`curl -s -H 'Content-Type: application/json' https://devstats.cncf.io/api/v1 -d'{"api":"SiteStats","payload":{"project":"all"}}'`
Response:
[code]

One note: I don't have LOC (lines of code) info, GitHub only gives BOC (bytes of code), so API is returning BOC instead of LOC.

As you can see there is a `project` parameter - when you specify `all` you will

[2021-04-12 11:46] lukaszgryglicki commented on #290
Let me know if you need any other stats, everything that is present in DevStats can also be returned from an API call.

[2021-04-14 12:15] cjyabraham commented on #290
Any idea where LOC is pulled from?  Where did 261M come from?

[2021-04-14 12:18] lukaszgryglicki commented on #290
No, I don't know where it comes from, you can do some tricky assumption that a line of code usually has say 60 bytes or whatever, but in this case, I don't think it comes from DevStats.

[2021-04-14 12:21] lukaszgryglicki commented on #290
See [here](https://docs.github.com/en/rest/reference/repos#list-languages):
[code]
`bytes of code` - I don't have anything else.

[2021-04-16 08:23] lukaszgryglicki commented on #290
Closing this now, please reopen if you want some more metrics or if there is any other problem with this.

[2021-04-16 08:23] #290 closed

[2021-04-16 08:26] lukaszgryglicki commented on #289
Back on this - needed to add 5 new CNCF projects in the meantime (so I had no time to work on this).

[2021-04-16 08:52] lukaszgryglicki commented on #289
Bot commands on the [test site](https://k8s.teststats.cncf.io/d/5/bot-commands-repository-groups?orgId=1).

[2021-04-16 09:33] lukaszgryglicki commented on #289
- [Contributions chart](https://k8s.teststats.cncf.io/d/74/contributions-chart) updated.
- [New and episodic PR contributors](https://k8s.teststats.cncf.io/d/18/new-and-episodic-pr-contributors) updated.
- [New and episodic Issue creators](https://k8s.teststats.cncf.io/d/19/new-and-episodic-issue-creators) updated.

[2021-04-16 10:40] lukaszgryglicki commented on #289
- [New conributors](https://k8s.teststats.cncf.io/d/52/new-contributors?orgId=1) updated.
- [PRs authors](https://k8s.teststats.cncf.io/d/30/prs-authors-repository-groups) updated.

[2021-04-16 10:54] lukaszgryglicki commented on #289
Finishing data generation part for other dashboards (it failed due to some bug, investigating).

[2021-04-16 13:07] mrbobbytables commented on #289
Thanks for all your effort on this @lukaszgryglicki :) It's very much appreciated.

[2021-04-16 13:12] lukaszgryglicki commented on #289
I will continue on Monday, then I need to switch to LF tasks and then again Friday and so on...

[2021-04-20 08:09] OrkoHunter opened #291 "[bug] Devstats for Backstage is outdated"
Hello from @spotify and @backstage !

We noticed that Backstage's stats on https://all.devstats.cncf.io/d/53/projects-health-table?orgId=1 is not being updated since November 2020.

It's possible that this is due to us moving the project from `github.com/spotify/backstage` to `github.com/backstage/backstage`.

I'm not familiar with how this project is setup, but my initial guess is that on line
ht

[2021-04-20 09:25] lukaszgryglicki commented on #291
yes, this will be the reason, I'll fix this - thanks for reporting.

[2021-04-20 09:51] OrkoHunter commented on #291
Awesome, thank you so much! 🤞

[2021-04-20 10:36] lukaszgryglicki commented on #291
This is also because the release tag format changed around here: https://github.com/backstage/backstage/tags?after=release-2021-01-09
DevStats was expecting somethis like `vX.Y.Z` [here](https://github.com/cncf/devstats/blob/master/projects.yaml#L935).

[2021-04-20 10:43] OrkoHunter commented on #291
Aah, I see!

[2021-04-20 10:44] lukaszgryglicki commented on #291
Updated regexp, will reinit that DevStats instance and let you know when ready.

[2021-04-23 11:41] OrkoHunter commented on #291
Hi @lukaszgryglicki ! Wondering if the investigation on this is still ongoing? Thank you!

[2021-04-23 12:55] lukaszgryglicki commented on #291
yes, but I can only work on this in some limited time, so I've fixed the config and regenerated a backstage DevStats instance, now I will also need to update "All CNCF" to include new versions - will do when I can - added to my TODO list for the next week.

[2021-04-23 12:57] OrkoHunter commented on #291
Thanks for sharing the update @lukaszgryglicki - appreciate it. 🙏

[2021-04-26 06:25] #291 closed

[2021-04-26 07:59] OrkoHunter commented on #291
Thank you so much for your swift actions on resolving this. 👏

[2021-04-27 09:29] lukaszgryglicki commented on #289
- [Overall Project Statistics](https://k8s.teststats.cncf.io/d/24/overall-project-statistics?orgId=1) updated.
- [Company PRs](https://k8s.teststats.cncf.io/d/55/company-prs-in-repository-groups?orgId=1) updated.
- [Developer Activity Counts by Repository Group](https://k8s.teststats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1) updated.
- [Developer Activity Counts by Compan

[2021-04-27 11:26] lukaszgryglicki commented on #289
- [Blocked PRs](https://k8s.teststats.cncf.io/d/4/blocked-prs-repository-groups?orgId=1) updated.
- [Open PR Age](https://k8s.teststats.cncf.io/d/25/open-pr-age-by-repository-group?orgId=1) updated.
- [PRs approval](https://k8s.teststats.cncf.io/d/26/prs-approval-repository-groups?orgId=1) updated.
- [PR Time to Approve and Merge](https://k8s.teststats.cncf.io/d/44/pr-time-to-approve-and-merge?org

[2021-04-27 11:56] lukaszgryglicki commented on #289
9 dashboards updated on the `test` also updated in `prod`.

[2021-04-29 12:27] justincormack opened #292 "[bug] typos in company affiliations"
https://argo.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1

A bunch of contributions are marked as "Innuit" not "Intuit".

[2021-04-29 12:40] lukaszgryglicki commented on #292
Thanks for reporting I'll add a mapping that will fix this.

[2021-05-03 17:25] LappleApple opened #293 "[feature request][Kubernetes] Adding SIG Security to dashboards"
Hello: While using DevStats I noticed that SIG Security is [missing from here](https://k8s.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1). Could you please add this SIG to all the dashboards? Thanks much.

[2021-05-03 17:46] lukaszgryglicki commented on #293
I can't do it, it's not me who knows which repositories fall into `SIG Security` repository group. Somebody must create a PR updating [this file](https://github.com/cncf/devstats/blob/master/scripts/kubernetes/repo_groups.sql#L68) adding SIG Security definition there.

[2021-05-04 08:49] LappleApple commented on #293
Thank you @lukaszgryglicki -- I've asked the chairs and currently SIG Security does not have any repos to add to this list, so I'm closing the issue.

[2021-05-04 08:49] #293 closed

[2021-05-18 05:08] lukaszgryglicki commented on #292
This is already fixed.

[2021-05-18 05:08] #292 closed

[2021-05-18 07:06] lukaszgryglicki commented on #289
- [PRs labels by repository](https://k8s.teststats.cncf.io/d/76/prs-labels-repositories) added.

[2021-05-18 07:32] lukaszgryglicki commented on #289
Few more complex dashboards need some data format fixes - just detected this, so I'm regenerating data for them and fixing SQLs first.

[2021-05-18 08:59] lukaszgryglicki commented on #289
- [Iactive Issues by SIG and repository](https://k8s.teststats.cncf.io/d/77/inactive-issues-by-sig-and-repository?orgId=1).
-

[2021-05-18 11:46] lukaszgryglicki commented on #289
- [Inactive PRs by SIG and repository](https://k8s.devstats.cncf.io/d/78/inactive-prs-by-sig-and-repository).

[2021-05-19 04:47] lukaszgryglicki commented on #289
- [Awaiting PRs by SIG and repository](https://k8s.devstats.cncf.io/d/79/awaiting-prs-by-sig-and-repository).

[2021-05-19 08:34] lukaszgryglicki commented on #289
- [PR workload per SIG and repository Chart](https://k8s.teststats.cncf.io/d/80/pr-workload-per-sig-and-repository-chart).

[2021-05-19 09:46] lukaszgryglicki commented on #289
- [Issues age by SIG and repository groups](https://k8s.teststats.cncf.io/d/15/issues-age-by-sig-and-repository-groups).

[2021-05-19 10:11] lukaszgryglicki commented on #289
- [Issues age by SIG and repository groups](https://k8s.devstats.cncf.io/d/15/issues-age-by-sig-and-repository-groups).
- [Issues opened/closed by SIG](https://k8s.devstats.cncf.io/d/39/issues-opened-closed-by-sig).
- [PRs opened by SIG](https://k8s.devstats.cncf.io/d/69/prs-opened-by-sig).

[2021-05-19 10:24] lukaszgryglicki commented on #289
With this, all requested dashboards now have `Repository` drop-down added.

[2021-05-19 10:39] mrbobbytables commented on #289
Thank you @lukaszgryglicki \o/

[2021-05-19 10:40] lukaszgryglicki commented on #289
Sorry for being a bit slow on this one, but I also have other projects...

[2021-05-19 10:41] mrbobbytables commented on #289
No worries, I understand - it was also a big one^^;;;

[2021-05-19 11:18] mrbobbytables commented on #289
btw...not to immediately add more work :x but for problem 3 (companies), would you still like a list of dashboards where it'd be desired?

[2021-05-19 11:20] lukaszgryglicki commented on #289
Yeah, give me a list of those that need a company drop-down too - I can try to handle by similar approach (add company drop-down where needed)

[2021-05-19 11:23] mrbobbytables commented on #289
I'll get you that list by end of the week 👍

[2021-05-19 12:25] LappleApple commented on #289
Thank you @lukaszgryglicki

[2021-05-21 05:36] lukaszgryglicki commented on #289
Can we close this and continue adding the company filter in a separate feature request?

[2021-05-21 13:59] mrbobbytables commented on #289
I think so, I'll copy out the part about it in the original comment

[2021-05-21 14:11] lukaszgryglicki commented on #289
Thanks.

[2021-05-21 14:11] #289 closed

[2021-05-23 15:08] mrbobbytables commented on #293
(just saw this)
sig-security primarily works out of two locations:
https://github.com/kubernetes/community/tree/master/sig-security
https://github.com/kubernetes/enhancements/tree/master/keps/sig-security

They will have issues and PRs in both those locations as well in k/k

[2021-05-23 22:06] mrbobbytables opened #295 "[feature request][kubernetes] Add Company filter for the following charts"
Follow up from #289

**NOTE:** This is it for now, I need to think a bit on some of the other dashboards on how best to represent company involvement.

---

## Problem 3 - Companies cannot reasonably measure their involvement

**Feature Request:** On dashboards where `repo_group` is present, allow further filtering by Company.

As a company trying to gauge our involvement within a particular SIG o

[2021-05-23 22:08] mrbobbytables commented on #289
I know this is closed, but going through and using several this weekend I have a few follow ups where it'd be ideal to add additional filters for sig labels (e.g. on the [contributions chart](https://k8s.devstats.cncf.io/d/74/contributions-chart?orgId=1) for breakdown in large shared repos)

I'll think about it and put together a follow up issue, but wanted to give a heads up 👍

[2021-05-24 03:48] lukaszgryglicki commented on #293
So you need to provide updates to repo group definitions, you can also define file-level divisions at `k/k` repo (but only data elated to commits can distinguish this, obviously this is not possible with, say, issue comment added on `k/k` repo.
Please also note that I'm on PTO starting tomorrow till the end of this week.

[2021-05-24 03:51] lukaszgryglicki commented on #289
OK, no problem. Please reopen then.

[2021-05-24 04:46] lukaszgryglicki commented on #295
On it now.

[2021-05-24 05:00] lukaszgryglicki commented on #295
Not quite sure what changs should be added to those two dashes, see you have [Company activity by repos/repo groups](https://k8s.devstats.cncf.io/d/8/company-statistics-by-repository-group?orgId=1), if I add company drop-down there, they wil just become this one.
If you really need this, please specify EXACTLY:
- What drop-downs are needed (repo?, repo group? company? contribution type?)
- Multi-v

[2021-05-25 13:21] mrbobbytables commented on #295
That was my bad, I did completely miss that chart when reviewing them the other day :(

TL;DR I think we can close this, small rant ahead

It is actually a harder than I first anticipated. Initially when looking at all the dashboards there was a significant amount of boards that would be beneficial for company data, but then REALLY thinking about how to get meaningful or actionable data out of it,

[2021-06-03 08:57] sighingnow opened #296 "[bug] Sandbox project vineyard has been migrated to v6d-io/v6d"
Hi @lukaszgryglicki,

I'm from the team behind project vineyard. During our [onboarding process](https://github.com/cncf/toc/issues/645), we have transfer our repo from `alibaba/v6d` to a neutral org [`v6d-io/v6`](https://github.com/v6d-io/v6d).

Could you please us to update related devstats settings to make it work again?

Thanks in advance!

[2021-06-03 16:22] lukaszgryglicki commented on #296
Will do on Monday, today is a holiday.

[2021-06-07 05:48] lukaszgryglicki commented on #296
Done.

[2021-06-07 05:48] #296 closed

[2021-06-07 05:52] sighingnow commented on #296
Thank you Łukasz!

[2021-06-10 18:16] amye opened #297 "[feature request] Argoproj-albs added to Argo"
From @edlee2121:
Is it possible to do a devstat dashboard for the https://github.com/argoproj-labs org similar the one that exists for the main argo (aroproj) org at https://argo.devstats.cncf.io/dashboards?

[2021-06-10 18:22] caniszczyk commented on #297
@lukaszgryglicki will add it to the argo dashboard but have argoproj-labs as a repogroup to allow filtering

[2021-06-11 04:51] lukaszgryglicki commented on #297
On it now.

[2021-06-11 05:38] lukaszgryglicki commented on #297
All files updated, now generating historical data for all `argoproj-labs` repos starting at 2019-04-12 (which is the first activity date for any repo from that org according to BigQuery).

[2021-06-11 10:50] lukaszgryglicki commented on #297
Done.

[2021-06-11 10:50] #297 closed

[2021-06-14 15:22] tdcmeehan opened #298 "[feature request] Add companies filter to Opened to Merge chart"
I am looking at Presto's  dashboards: https://prestodb.devstats.prestodb.io/d/8/dashboards?orgId=1&refresh=15m (I reached this repository by following the link on the top right.)

It would be very useful to filter by company in the Opened to Merged chart:

https://prestodb.devstats.prestodb.io/d/16/opened-to-merged?orgId=1

The reasoning is, we want to make sure all community contributors have a g

[2021-06-14 15:26] lukaszgryglicki commented on #298
Makes sense, I'll try to implement asap, expect something around few days.

[2021-06-15 14:21] mrbobbytables opened #299 "[feature request][kubernetes] Add wg/sig label filter to Contributions chart"
This is a follow up from #289, #293, and #295

Adding a filter for sig/wg labels to the [Contributions chart](https://k8s.devstats.cncf.io/d/74/contributions-chart?orgId=1) will allow SIGS and WGs that work out of shared repos to look at their metrics. With that change it should resolve all our current asks and give sig leads, subproject owners and companies the info they need 👍

[2021-06-15 14:21] mrbobbytables commented on #295
closing in favor of #299

[2021-06-15 14:21] #295 closed

[2021-06-18 05:11] lukaszgryglicki commented on #298
On it now.

[2021-06-18 06:31] lukaszgryglicki commented on #298
Done [click](https://prestodb.devstats.prestodb.io/d/16/opened-to-merged?orgId=1).

[2021-06-18 06:31] #298 closed

[2021-06-21 05:11] lukaszgryglicki commented on #299
So the first problem is that `filter for sig/wg labels` - this means it can only be applied to issues/PR, not for everything - only issue/PR objects have label(s).

[2021-06-21 05:23] lukaszgryglicki commented on #299
Is this OK for you?

[2021-06-21 05:37] lukaszgryglicki commented on #299
I can have one more option - trying to connect commit event (which has commit SHA) with a PR (by using either PR head SHA or PR merge commit SHA), that way I can *try* to correlate PR with commit... but there is no other dashboard doing so, and, actually, I'm not 100% sure if that kind of connection is correct?

That would mean that a commit belongs to a particular SIG when:
- There is a PR that i

[2021-06-21 05:41] lukaszgryglicki commented on #299
let me know if I should continue with that approach, which means
- Issue belongs to SIG if it has a `SIG/xyz` label.
- PR belongs to SIG if its issue has `SIG/xyz` label.
- Approval belongs to SIG if it's an approval of PR described above.
- Review belongs to SIG if it's an approve of PR described above.
- Comment belongs to a SIG if it's a comment on the issue/PR described above.
- Commit belongs

[2021-06-21 18:09] mrbobbytables commented on #299
On the commits/commit comments, do you currently do that by file path? and your own internal mapping of which file paths belong to which sig?

[2021-06-22 04:16] lukaszgryglicki commented on #299
We have per-file repo groups for [kubernetes](https://github.com/cncf/devstats/blob/master/util_sql/postprocess_repo_groups.sql) - it means that repo group can be different depending on file paths within a single repository (this is for commits, obviously).

But we don't read OWNERS - I cannot do that from SQL level, I only have file path, not its contents there, also those metrics are already qui

[2021-06-22 13:22] mrbobbytables commented on #299
Thanks for the path to the repo_groups file, I wasn't sure if that was it or not when I stumbled across it, it only has a couple SIG Cluster Lifecycle stuff in there. >_<  I wasn't trying to push the parsing of owners files on you, I can take a follow up to update that with paths for other SIGs. I was more so just curious about how its currently done. My apologies, that wasn't clear :(

I do like

[2021-06-22 13:25] lukaszgryglicki commented on #299
OK so do the updates - ideally to file paths in that file, so we could avoid parsing `OWNERS`, please also note that I'm on PTO (the only longer PTO this year) since the weekend (two weeks).

[2021-06-22 13:28] mrbobbytables commented on #299
No worries, hope you have a good vacation!

[2021-06-22 13:36] lukaszgryglicki commented on #299
Thanks, maybe weren't clear enough - since the next weekend, so if we have file-level changes specified by then, I may at least start working on this.

[2021-07-01 06:02] kristydv opened #300 "How to use devstats on a Cloud Grafana instance?"
Hi there. I am a community manager with limited developer knowledge. Devstats looks awesome and exactly what I need.. I have a Grafana cloud instance though - I couldn't find any instructions on how I use this on on cloud? I've read https://github.com/cncf/devstats/blob/master/GRAFANA.md but that doesn't seem to apply.

Would love to get a bit of help on how I would set this up on my cloud instanc

[2021-07-01 21:01] lukaszgryglicki commented on #300
Devstats is designed to run on Kubernetes, it includes Grafana then (no need for cloud instance), older Devstats implementation used a Grafana deployed locally (on your machine) - I have no knowledge about what Grafana Cloud is and how to use it, you can always try to adopt Devstats to it - it's totally open source so you can just fork and make any changes that are necessary.

[2021-07-06 08:45] RA489 opened #301 "[feature request] remove independent from Ranking it in devstat"
Independent is given 6th on company ranking as per https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1&var-period_name=v1.21.0%20-%20now&var-metric=prs

we can keep independent and number but can we just remove from ranking it like we do in openstack community https://www.stackalytics.io/

[2021-07-06 08:46] RA489 commented on #301
/kind discussion

[2021-07-06 08:48] RA489 commented on #301
/kind support

[2021-07-06 08:50] RA489 commented on #301
/assign @lukaszgryglicki

[2021-07-06 08:51] RA489 commented on #301
cc @lukaszgryglicki

[2021-07-08 03:03] RA489 commented on #301
/assign @lukaszgryglicki

[2021-07-08 15:27] caniszczyk commented on #301
uh I'd like to leave it in

[2021-07-08 15:39] lukaszgryglicki commented on #301
Same with me, what's the problem with subtracting just `1`.

[2021-07-08 17:26] xmulligan commented on #301
I agree. I think it is important to show how valuable individual contributors are to the community

[2021-07-08 17:26] #301 closed

[2021-07-09 17:21] tracymiranda opened #303 "[bug] Tekton stats suddenly stop in May (CDF devstats)"
Tekton folks noticed that devstat data suddenly stops at some point in May https://tekton.devstats.cd.foundation/d/48/users-statistics-by-repository-group?orgId=1 - any idea what happened or how we can fix it?

[2021-07-09 17:31] lukaszgryglicki commented on #303
Will take a look after my PTO.

[2021-07-09 18:21] jberkus opened #304 ""New & Occasional PR" chart displaying issues, not PRs, and vice-versa"
[bug]

See: https://kubevirt.devstats.cncf.io/d/14/new-and-episodic-pr-contributors?orgId=1&var-period=w&var-repogroup_name=All

The chart is at least showing labels for issues and not for PRs.  Not sure what the data is.

And the Issue chart is displaying PRs as labels:

https://kubevirt.devstats.cncf.io/d/13/new-and-episodic-issue-creators?orgId=1

[2021-07-09 19:01] lukaszgryglicki commented on #304
I'm on PTO- will investigate this when I'm back, but every PR is also an issue - and labels can (technically) be only added on issues, not PRs - so each PR has a corresponding issue-type object (issue with a PR flag).

[2021-07-09 20:29] afrittoli commented on #303
@vdemeester

[2021-07-09 22:53] jberkus commented on #304
Look at it when you're back, if you actually look at the charts, the problem is obvious.

[2021-07-13 07:50] lukaszgryglicki commented on #303
On it.

[2021-07-13 08:02] lukaszgryglicki commented on #303
[Fixed](https://tekton.devstats.cd.foundation/d/48/users-statistics-by-repository-group?orgId=1). Thanks for reporting!

[2021-07-13 08:02] #303 closed

[2021-07-14 08:32] lukaszgryglicki commented on #304
Ohhh I've checked the data and is OK - this is just an UI labels issue - right, will fix it and let u know.

[2021-07-14 09:08] lukaszgryglicki commented on #304
Fixed.

[2021-07-14 09:08] #304 closed

[2021-07-15 01:55] howardjohn opened #305 "`column "perezjasonr" does not exist` on teststats user statistics page"
https://istio.teststats.cncf.io/d/48/users-statistics-by-repository-group gives error `db query error: pq: column "perezjasonr" does not exist`. Other pages seem to load fine.

This was working at least a few weeks ago, so seems like something recently may have broken things?

[2021-07-15 04:46] lukaszgryglicki commented on #305
Works fine for me - there is a `columns` program that makes sure all columns needed on UI are present - maybe there was just a temporary issue? can you eventually confirm that you can still replicate the issue?

[2021-07-15 17:16] howardjohn commented on #305
Hmm, seems good now. I think `perezjasonr` is a github user btw. When it was not working, I manually switched "Users: all" to "Users: (some single user)" and it worked. Closing since it seem to be temporary...

[2021-07-15 17:16] #305 closed

[2021-07-16 14:28] caniszczyk opened #306 "https://all.devstats.cncf.io/d/50/countries-statistics-in-repository-groups is broken"
no data

https://all.devstats.cncf.io/d/50/countries-statistics-in-repository-groups?

[2021-07-16 14:52] Mini256 commented on #306
I think it's because this metric has not been calculated yet, and it should be accessible correctly after a period of time.

Similar issue: https://github.com/cncf/devstats/issues/305

[2021-07-19 05:28] lukaszgryglicki commented on #306
Seems so, because it is available now, and "All CNCF" was being fully regenerated due to new Sandbox projects.

[2021-07-19 05:28] #306 closed

[2021-07-19 18:22] tracymiranda commented on #303
Awesome, thank you so much!

[2021-07-22 05:54] Jeffwan opened #307 "[Question] How to know the top x contributors by company?"
Please add `[feature request]` to the issue title when requesting new features, dashboards, projects etc.
Please add `[bug]` to the issue title when reporting a bug.

https://k8s.devstats.cncf.io/d/9/companies-table

I am checking this table and I would like to know the top x contributors of my current company. Is there's a page I can find the information?

[2021-07-22 06:21] lukaszgryglicki commented on #307
The closest thing would be [click - example for IBM](https://k8s.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-repo_name=kubernetes%2Fkubernetes&var-country_name=All&var-companies=IBM).

You can select a company there, then keep "repository group = all" (so it will count all kubernetes repos ac

[2021-07-22 07:26] Jeffwan commented on #307
@lukaszgryglicki Thanks for your quick response. I just check the example you gave to me and it works fine. Seems there're only "kubernetes" and probably sig repos. checkbox doesn't show other CNCF projects. I am not sure if that's expected? Does CNCF have another global dashboard?

[2021-07-22 07:34] lukaszgryglicki commented on #307
You are on the `Kubernetes` DevStats instance (see URL, it starts k8s.devstats). Each CNCF project has its own instance, for example [gRPC](https://grpc.devstats.cncf.io).

There is also a "summary" instance for [All CNCF](https://all.devstats.cncf.io) projects combined - in this instance, each CNCF project is defined as a separate repository group, so you can use [this](https://all.devstats.cncf.

[2021-07-28 08:19] kristydv commented on #300
Thanks for the info @lukaszgryglicki

[2021-07-28 08:19] #300 closed

[2021-08-03 10:38] #307 closed

[2021-08-03 16:31] Jeffwan commented on #307
Thanks @lukaszgryglicki a lot!

[2021-08-05 16:18] mewzherder opened #308 "[bug] Specifics of "last quarter" doesn't show up"
When I look up "last quarter" here:
https://all.devstats.cncf.io/d/5/companies-table?orgId=1&var-period_name=Last%20quarter&var-metric=contributions

I can't tell if it means the last 90 days starting today, or if it means April 1 - June 30, 2021. Maybe I'm missing something but it seems that the dev stats isn't showing this clarification. Maybe an error?

I hope my question makes sense and thanks

[2021-08-06 05:38] lukaszgryglicki commented on #308
Hmm, I do have data in that chart... maybe you hit a moment when new affiliations were being imported?

[2021-08-06 08:09] Mini256 commented on #308
@mewzherder, If I understand correctly, it means the last 90 days starting today.

You can refer to the documentation on [annotations](https://github.com/cncf/devstats/blob/master/docs/annotations.md):

[code]
The format of `quick_ranges_data` is `suffix;period;from;to`, `Last quarter` corresponds to period `3 months`, this period value will eventually be passed to the metric SQL statement:

https

[2021-08-06 09:07] lukaszgryglicki commented on #308
Actually, this is "last 90 days" starting when that metric was actually calculated - we pre-compute some data, otherwise, this won't be able to run live. So that data might be "Last 90 days" calculated say 2 days ago.

[2021-08-23 04:24] RA489 opened #309 "[feature request] Allow any arbitrary date range based data."
K8s devstat dashboard should allow contribution or PR data based on any arbitrary date range.
https://k8s.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&from=now-7d&to=now
It should respect data based on any arbitrary date range.

PS:  Currently dashboard is pre-calculated for some specified date ranges from range dropdown.

[2021-08-23 04:24] RA489 commented on #309
/kind feature

[2021-08-23 04:25] RA489 commented on #309
/assign @lukaszgryglicki

[2021-08-23 04:29] RA489 commented on #309
/priority high

[2021-08-23 05:57] lukaszgryglicki commented on #309
This dashboard (as all other tabular dashboards) is pre-calculated for a set of date ranges (Last X periods and between versions etc.). This is because they are complex and calculating them in real-time/on the fly is too slow. I cannot *guess* all possible date periods needed, so it's impossible to allow any date range there unless I rebuild the entire dashboard not to use any kind of pre-calculat

[2021-08-24 03:11] RA489 commented on #309
+1 on adding this in Devstats API.

[2021-08-24 03:11] RA489 commented on #309
/kind support

[2021-08-24 04:34] lukaszgryglicki commented on #309
OK, I'll add this in API, I'll try to do this till end of this week.

[2021-08-24 04:37] RA489 commented on #309
Thanks!!

[2021-08-25 11:40] lukaszgryglicki commented on #309
Implemented, also updated API [documentation](https://github.com/cncf/devstatscode/blob/master/API.md), APIs that you will need are called:
- `DevActCnt` (search for `Companies contributing in Repository Groups/Repositories` in the docs).
- `DevActCntComp` (search for `"Developer Activity Counts by Companies" DevStats dashboards` in the docs).

There are also example `cURL` scripts (note that scri

[2021-08-25 11:40] #309 closed

[2021-08-25 11:44] RA489 commented on #309
Thanks for the API @lukaszgryglicki . Much appreciated.

[2021-09-03 13:31] caniszczyk opened #310 "[Feature Request] Company Contributor Table"
It would be nice to have the Company Commits Table, e.g., https://keda.devstats.cncf.io/d/56/company-commits-table

Also to be able to filter by contributions, not just commits.

"Contributor is defined as somebody who made a review, comment, commit, created PR or issue"

[2021-09-03 13:34] lukaszgryglicki commented on #310
I will work on this on Monday. This is for all projects? Excluding Kubernetes (Kubernetes usually requires special process to approve any new dashboards)? Only KEDA?

[2021-09-03 13:40] caniszczyk commented on #310
all projects

On Fri, Sep 3, 2021 at 8:35 AM Łukasz Gryglicki ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-09-06 04:52] lukaszgryglicki commented on #310
Chris, we already have something like this [here](https://all.teststats.cncf.io/d/5/companies-table?orgId=1&var-period_name=Last%20decade&var-metric=contributions) - are you sure want me to create another dashboard just for this.
KEDA version is [here](https://keda.devstats.cncf.io/d/5/companies-table?orgId=1&var-period_name=Last%20decade&var-metric=contributions).

[2021-09-09 13:12] xmulligan opened #311 "[bug] Countries don't list"
Both the countries table and map don't work under all CNCF projects
![image](https://user-images.githubusercontent.com/29048870/132692251-99b42c45-be7f-46bd-b2c6-05ac68c95aaa.png)

[2021-09-09 13:45] lukaszgryglicki commented on #311
On it...

[2021-09-09 14:40] lukaszgryglicki commented on #311
Should be [fixed](https://all.devstats.cncf.io/d/50/countries-statistics-in-repository-groups?orgId=1) now.

[2021-09-09 14:40] #311 closed

[2021-09-09 17:04] xmulligan commented on #311
Thanks!

[2021-09-09 20:58] lukaszgryglicki commented on #308
You can request this as an API.

[2021-09-09 20:58] #308 closed

[2021-09-10 13:58] caniszczyk opened #312 "[bug] help with historical data devstats query"
Hello, we need some help with a DevStats query.

We would like to see historical trend data for:

Stargazers
PR Reviewers
Issue Creators
Issue Commenters

The current values are visible here:

https://kyverno.devstats.cncf.io/d/18/overall-project-statistics-table?orgId=1

Seems like the data exists, but we are not able to build a query either via Grafana or via Curl, etc. (https://github.com/cncf/

[2021-09-10 14:37] Mini256 commented on #312
Stargazers:
https://kyverno.devstats.cncf.io/d/3/stars-and-forks-by-repository?orgId=1

Issue Commenters:
https://kyverno.devstats.cncf.io/d/25/repository-commenters?orgId=1&var-period=w&var-repogroup_name=All

[2021-09-10 19:01] JimBugwadia commented on #312
This is great! Thanks @Mini256! As project maintainers, do we have have access to customize and save dashboards?

[2021-09-11 02:31] Mini256 commented on #312
You can export the customized dashboard in JSON format, add it to the [grafana/dashboards/kyverno](https://github.com/cncf/devstats/tree/master/grafana/dashboards/kyverno) directory and submit a Pull Request.

In fact, before you add a new dashboard about historical data, you need to define a new metric to calculate historical data, you need to refer to the documentation: https://github.com/cncf/d

[2021-09-13 10:37] atoato88 opened #313 "[bug] Certificate on devstats.cncf.io is expired"
when I access to devstats page as following:
https://devstats.cncf.io

It says certificate is expired.
And I could not get the page.

[2021-09-13 10:45] lukaszgryglicki commented on #313
There was a problem with `cert-manager` auto-renewal. No idea why it failed and didn't auto-retry. I've dropped the cert and then `cert-manager` succeeded with another auto-renewal.

[2021-09-13 10:45] #313 closed

[2021-09-13 10:46] gaius-qi opened #314 "[Question] Replace the dragonfly github repo"
The Dragonfly project will migrate the github repo from https://github.com/dragonflyoss/Dragonfly to https://github.com/dragonflyoss/Dragonfly2.

I have changed the repo address of dragonfly in the project [cncf/landscape](ttps://github.com/cncf/landscape/pull/2272).

Do I need to change the repo address associated with general(https://github.com/cncf/devstats) statistics?

[2021-09-13 10:48] lukaszgryglicki commented on #314
No changes should be needed inside devstats because it tracks the entire `dragonflyoss` org.

[2021-09-13 10:48] lukaszgryglicki commented on #314
Closing, please reopen if needed.

[2021-09-13 10:48] #314 closed

[2021-09-13 11:00] lukaszgryglicki commented on #312
@caniszczyk - do you mean you want me to implement a new API that can data from [this dashboard](https://kyverno.devstats.cncf.io/d/18/overall-project-statistics-table?orgId=1) but for any arbitrary data range (like it was [recently added](https://github.com/cncf/devstats/issues/309) for a different dashboard?

Or do you just want to download data from [this](https://kyverno.devstats.cncf.io/d/18/

[2021-09-13 11:31] atoato88 commented on #313
Thank you to quick fix! 😄

[2021-09-14 04:56] lukaszgryglicki commented on #310
I'm closing this, please reopen if needed.

[2021-09-14 04:56] #310 closed

[2021-09-17 04:57] coderanger opened #316 "[kubernetes] Data export request"
Hi there, we're setting up the voter rolls for the next Kubernetes elections round. Can I get a dump of everyone who has at least 50 contributions in the system between 2020-09-15 and 2021-09-15? Alternatively if this is a thing I can write SQL for myself in Grafana, I'm happy to :)

[2021-09-17 05:06] lukaszgryglicki commented on #316
I'll generate this data and send it to you.

[2021-09-17 06:56] lukaszgryglicki commented on #316
generated spreadsheet for you - shared on the slack channel.
Also providing CSV:
[k8s_yearly_contributors_with_50.csv](https://github.com/cncf/devstats/files/7183327/k8s_yearly_contributors_with_50.csv)

[2021-09-17 06:56] #316 closed

[2021-10-11 17:50] dims opened #318 "[bug] developer-activity-counts-by-companies for kubernetes/kubernetes"
pondering a bit at https://k8s.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&var-period_name=Last%20quarter&var-metric=contributions&var-repogroup_name=All&var-repo_name=kubernetes%2Fkubernetes&var-country_name=All&var-companies=VMware%20Inc. I don’t see the first 4 people active in https://github.com/kubernetes/kubernetes repository. could be a problem with what exactly i s

[2021-10-27 20:59] imjasonh opened #324 "[bug] Tekton stats stopped after October 24 (CDF devstats)"
Similar: https://github.com/cncf/devstats/issues/303

https://tekton.devstats.cd.foundation/d/1/activity-repository-groups?orgId=1 shows:

<img width="505" alt="Screen Shot 2021-10-27 at 4 58 47 PM" src="https://user-images.githubusercontent.com/210737/139146088-f6dfa551-9fb0-4d98-afd7-1e0e70db520f.png">

[2021-10-30 05:34] lukaszgryglicki commented on #324
GitHub archives are up again - new data started to show up, there is a "few days data gap" that *cannot* be fixed - those data files are not on GitHub archives - so I cannot re-fetch them. All I can do is close this issue and hope that such outage won't happen again - no fixes were needed on the `DevStats` side.

[2021-10-30 05:34] #324 closed

[2021-10-30 07:20] lukaszgryglicki commented on #312
Closing this, please reopen if needed.

[2021-10-30 07:20] #312 closed

[2021-11-12 21:33] parispittman opened #325 "[bug] can't get a working share link"
I'm trying to pull a chart for all PR reviewers in all repos in the last two years and getting a super long URL that doesn't resolve (below) and I tried the shortener as well and that also doesn't load on safari or chrome. http://kubernetes.devstats-grafana-kubernetes-6c45bfb94d-kqd6b:3000/goto/EqRCUpcnz?orgId=1. I've also tried a few other charts and can't seem to get a working link on anything t

[2021-11-16 06:18] lukaszgryglicki commented on #325
Hi @parispittman - you can try to use [this](https://k8s.devstats.cncf.io/d/46/pr-reviews-by-contributor?orgId=1&var-period=d7&var-repo_name=All&var-reviewers=All) instead (just select All) or [just select 5 first](https://k8s.devstats.cncf.io/d/46/pr-reviews-by-contributor?orgId=1&var-period=d7&var-repo_name=All&var-reviewers=%22sbueringer%22&var-reviewers=%22liggitt%22&var-reviewers=%22fabriziop

[2021-11-17 07:29] SergeyKanzhelev opened #334 "grpc maintainers: Bogdan Drutu affiliation is incorrect"
https://github.com/cncf/foundation/blob/master/project-maintainers.csv

Bogdan Drutu's affiliation is now Splunk

cc: @bogdandrutu

[2021-11-19 08:25] lukaszgryglicki commented on #325
I'm closing this, let me know if you want me to report this or to do anything - you can also reopen if needed.

[2021-11-19 08:25] #325 closed

[2021-12-06 23:41] howardjohn opened #326 "Missing data since 11/15"
https://istio.teststats.cncf.io/d/48/users-statistics-by-repository-group?orgId=1&from=now-30d&to=now&var-period=d7&var-metric=contributions&var-repogroup_name=istio%2Fistio&var-users=All

Starting on 11/15 we stopped getting data for this dashboard. Other dashboards for Istio seem to work, as does the same dashboard for other projects (ex https://envoy.teststats.cncf.io/d/1/activity-repository-gr

[2021-12-07 06:11] lukaszgryglicki commented on #326
On it.

[2021-12-07 06:45] lukaszgryglicki commented on #326
Dashboard [fixed](https://istio.teststats.cncf.io/d/48/users-statistics-by-repository-group?orgId=1), thanks for reporting.

[2021-12-07 06:45] #326 closed

[2021-12-07 14:52] howardjohn commented on #326
Awesome, thanks!

On Mon, Dec 6, 2021, 10:45 PM Łukasz Gryglicki ***@***.***>
wrote:

[2021-12-16 01:29] ankatare opened #327 "[bug] Data lost for My contributions"
I am not able to see my data from range [ 5 Oct/21 - 5 Nov/21 approx ] . It is Maninly Contributions Parametrs from dashboard.

My dashboard details https://envoy.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&var-period_name=v1.20.0%20-%20now&var-metric=contributions&var-repogroup_name=All&var-country_name=All&var-companies=NEC%20Corporation

Please help !!!

[2021-12-16 05:30] lukaszgryglicki commented on #327
I can see your contributions in this very link:
![Screenshot 2021-12-16 at 06 29 05](https://user-images.githubusercontent.com/2469783/146313602-0a95e7b5-290e-4046-b281-87e9113ad3a5.png)
I'm struggling with a cert issue right now it may be related, please check again in a day or so and let me know.

[2021-12-16 06:38] ankatare commented on #327
@lukaszgryglicki This link does not contains full data as i mentioned in issue section data from 5th Oct to 5 Nov (approx 1 month) is missing. i shared this url for your ref to fetch my details.

[2021-12-16 06:39] ankatare commented on #327
ideally this count should be approx 75 which is showing 42.

[2021-12-16 06:43] lukaszgryglicki commented on #327
Ok will check the data again, but in the meantime please note that there was a GHA (GitHub archives) [outage](https://github.com/cncf/devstats/issues/324) around 24-30 Oct - so all I can do is to force-regenerate this dashboard and check if the number change - if not, that means we don't have GHA data for missing contributions and there is nothing more I can do with it, will let you know when I re

[2021-12-16 07:07] lukaszgryglicki commented on #327
I've regenerated this dashboard data and it seems that the number is 43 and I don't have more data, I'm including all data I have:
[code]
You can include some contribution that you think is missing and I'll search for that exact contribution then (in GHA archives JSONs) - but if I don't find it in GHA it means that I cannot create that data for you, because the data source is missing it.

[2021-12-16 07:14] ankatare commented on #327
@lukaszgryglicki Thnaks a lot for all your support. This time i can show you below examp,e of my PR contributions whose data is missing

https://github.com/envoyproxy/envoy/pull/18702

[2021-12-16 07:40] lukaszgryglicki commented on #327
Definitely in the period of GHA outage, sorry, had a lot of issues due to that, and I would really do 8everything* to fix that, but I just can't. I just don't have that data in my data-source/data-provider. You can even see the data gap in my `data` output post - it is sorted by `dup_created_at` column and there is a few days gap that cannot be fixed, not even for Envoy, but fr all projects.

[2021-12-16 07:45] ankatare commented on #327
@lukaszgryglicki Ok. Thnaks for all your effort and help !!!

[2021-12-16 07:56] #327 closed

[2021-12-22 17:03] oomichi opened #328 "[bug] Duplicated accounts on "Developer Activity Counts""
According to current https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=v1.23.0%20-%20now&var-metric=contributions&var-repogroup_name=All&var-country_name=All&var-repo_name=kubernetes%2Fkubernetes
there are duplicated accounts on the table.
For example, `oomichi`, `justaugustus` and `YuikoTakada` are there twice.

[2021-12-23 07:15] lukaszgryglicki commented on #328
It's not a bug - there are two views in this dashboard - one is for selected "repository group" (1st panel), another is for selected "repository" (2nd panel) - at the beginning, there was just one panel for repository groups, but then, there was a feature request to add a separate view where you can select single repositories instead of repository group - this is the second panel.
Check the docume

[2021-12-23 07:15] #328 closed

[2021-12-23 17:45] oomichi commented on #328
Ah, I got it.
Thanks for your explanation, @lukaszgryglicki

[2022-01-04 19:06] caniszczyk opened #329 "[feature request] add a section to the README about which CNCF + open source projects devstats depends on"
Excuse me if I missed this anywhere, but it would be great to have a list of CNCF and other open source projects that devstats depends on somewhere, maybe in a simple architecture diagram.

[2022-01-05 09:07] lukaszgryglicki commented on #329
We actually have something like [this](https://github.com/cncf/devstats-helm#architecture).

Let me know if that is enough or not - I can refactor this and put it in the `devstats` repo as well (by refactoring I mean make it shorter, mainly just listing software that DevStats is using).

Let me know your thoughts @caniszczyk

[2022-01-05 15:00] caniszczyk commented on #329
I think this is good, sorry missed the helm repo :)

I'd leave the original content in devstats-helm, but make a shorter list in
the devstats README that points to the helm repo for more details.

On Wed, Jan 5, 2022 at 3:07 AM Łukasz Gryglicki ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-01-05 15:02] lukaszgryglicki commented on #329
OK will do tomorrow.

[2022-01-06 07:34] lukaszgryglicki commented on #329
Added a [new section](https://github.com/cncf/devstats#architecture) [here](https://github.com/cncf/devstats/commit/bce4f47673cab3719a23b627992b67a32530d4de).
cc @caniszczyk

[2022-01-06 07:34] #329 closed

[2022-01-13 20:09] debo19 opened #330 "[bug] Incorrect number of commits in last 3 months for Meshery"
Ref: https://all.devstats.cncf.io/d/54/project-health-table?orgId=1&var-repogroup_name=Meshery

I was looking at some of our stats and I think for some reason we don't see the expected data for Meshery.

- Incorrect last date of commit.
- A missing record of total commits made in the last 3 to 4 months.

[2022-01-14 03:19] leecalcote commented on #330
This page shows data missing since July - https://all.devstats.cncf.io/d/53/projects-health-table?orgId=1 (6 months). @lukaszgryglicki, is this due to a redirect from the old org (github.com) to the new org (gitHub.com/meshery)?

The statistics for the Meshery project will include all repos in the org, right? Not just the meshery/meshery repo.

[2022-01-14 06:48] lukaszgryglicki commented on #330
Will check this and fix this when I can, I'm a bit busy this week, adding this to my TODO list.

[2022-01-14 07:43] lukaszgryglicki commented on #330
Actually will check now, because I'm adding a new project and must regenerate `All CNCF` stats anyway.

[2022-01-14 19:21] leecalcote commented on #330
Excellent timing. 😄

[2022-01-14 20:09] lukaszgryglicki commented on #330
It's not yet fixed, but it's in progress "regenerating All CNCF". :p

[2022-01-17 06:11] lukaszgryglicki commented on #330
Fixed.

[2022-01-17 06:11] #330 closed

[2022-01-25 12:09] lukaszgryglicki commented on #238
Closing this till I have new API requests.

[2022-01-25 12:09] #238 closed

[2022-01-28 10:33] debo19 opened #331 "[bug]Devstats data for Meshery not getting updated."
Recently, the missing data for Meshery was fixed in #330.
However, the stats are not getting updated automatically since then.
It shows `Days since last commit: 14 days`, which is not the case. Same for the other fields as well.

Ref: https://all.devstats.cncf.io/d/54/project-health-table?orgId=1&var-repogroup_name=Meshery

[2022-01-29 02:45] lukaszgryglicki commented on #331
On PTO till 11th Feb, will check after my vacations.

[2022-02-03 13:33] SgtCoDFish opened #332 "[feature request] cert-manager Repo Migration"
We recently migrated the main cert-manager GitHub repository from [`jetstack/cert-manager`](https://github.com/jetstack/cert-manager) to [`cert-manager/cert-manager`](https://github.com/cert-manager/cert-manager). Redirects are in place, so I'd _assume_ that DevStats will continue to work just fine, but still it might be worth updating; I can see the [references to jetstack](https://github.com/cnc

[2022-02-03 16:15] SgtCoDFish commented on #332
Great, thanks @lukaszgryglicki ! Enjoy your vacation :beach_umbrella: !

[2022-02-03 16:48] lukaszgryglicki commented on #332
Done.

[2022-02-03 16:48] #332 closed

[2022-02-14 08:32] lukaszgryglicki commented on #331
Fixed.

[2022-02-14 08:32] #331 closed

[2022-02-15 03:27] debo19 commented on #331
Thank you😄 @lukaszgryglicki

[2022-03-03 06:26] lukaszgryglicki commented on #334
Will update manually today.

[2022-03-03 06:55] lukaszgryglicki commented on #334
OK, I wonder if I should put Splunk for `bogdandrutu` for the all-time range, or Google until some YYYY-MM-DD and then Splunk - the `project-maintainers.csv` file only allows one affiliation.
For now, I'll just leave Google till 3/1/22 and then I'll set Splunk.
cc @SergeyKanzhelev

[2022-03-03 06:58] lukaszgryglicki commented on #334
Actually, I already have:
[code]
So is it bad? If so please create a PR against cncf/gitdm setting the correct affiliations companies & ranges.
Closing this, please let me know if I ned to change anything.

[2022-03-03 06:58] #334 closed

[2022-03-03 07:06] SergeyKanzhelev commented on #334
the issue was about this particular page: https://github.com/cncf/foundation/blob/main/project-maintainers.csv

I don't know if there is a process of updating that table and who manages it. I'd assume gRPC maintainers should as I updated for OpenTelemetry.

If you can move the issue back to cncf/foundation repo, it would be great

[2022-03-03 07:07] lukaszgryglicki commented on #334
Ohh, OK I saw this on DevStats repo, so the fix needs to be done on cncf/foundation repo.

[2022-03-03 07:55] SergeyKanzhelev commented on #334
yes, and again, I'm not sure what's the process for these updates. grpc maintainers list looks stale

[2022-03-06 13:04] naveensrinivasan opened #337 "[feature request] Include OSSF"
It would be great if http://github.com/ossf/ could be included as it is also part of the Linux Foundation.

[2022-03-06 15:07] lukaszgryglicki commented on #337
cc @caniszczyk - not me to decide.

[2022-03-06 17:05] clux opened #338 "[bug] kubers maintainers: affiliation for clux is incorrect"
not sure how to fix this myself, greps and searches turn up nothing.

I should be unaffilated, but all my commits are linked to a [former employer](https://kubers.devstats.cncf.io/d/55/company-prs-in-repository-groups-table?orgId=1) from >2 years go.

[2022-03-06 17:10] lukaszgryglicki commented on #338
Basically, you open a PR against `cncf/gitdm` fixing/adding/updating your affiliations.

[2022-03-06 18:02] clux commented on #338
ah, thank you, clear from there. closing in favour of linked pr.

[2022-03-06 18:02] #338 closed

[2022-03-07 14:36] #337 closed

[2022-03-23 20:10] parispittman commented on #229
Hi all - can we kick this back up again? the outcome of this would help us staff more and get more help in these areas, help with annual reporting for steering, and help the subprojects for contribex with strategy and check in points. happy to get on a call to discuss.

there is an issue I referenced that is linked to the chain here from the annual reports, too. the YouTube bits are extremely key

[2022-03-23 20:45] lukaszgryglicki commented on #229
Might be quite hard for me to work on this, because I'm rather busy at the moment - what exactly is needed - the top mpriority? cc @caniszczyk ?

[2022-03-23 20:48] caniszczyk commented on #229
one simple idea here is to get k8s on insights v2 when launched later this
year https://insights.lfx.linuxfoundation.org/projects

vs trying to get this working in devstats

On Wed, Mar 23, 2022 at 3:45 PM Łukasz Gryglicki ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-03-23 20:50] lukaszgryglicki commented on #229
Basically I agree - DevStats only support git & GitHub, Insights V2 will support more data sources - that's the main difference between them.

[2022-03-23 21:55] jberkus commented on #229
@caniszczyk insights v1 was rather uninspiring.  Do we have confidence that insights v2 will be better?  Or does it not matter because we don't have resources to work on it regardless?  (likely)

[2022-03-23 22:06] lukaszgryglicki commented on #229
I can research new datasources if I get permission to do so.

[2022-03-23 22:32] parispittman commented on #229
I’ll see if I can recruit someone to do this and post it on k8s.dev instead.

[2022-03-23 22:32] #229 closed

[2022-03-31 06:38] jacobweinstock opened #339 "[bug] not all repository groups are showing in "Developer Activity Counts by Repository Group Table" dashboard"
Hi. Thank you for this great resource.

It seems that in this Tinkerbell dashboard: [Developer Activity Counts by Repository Group Table](https://tinkerbell.devstats.cncf.io/d/9/developer-activity-counts-by-repository-group-table?orgId=1&var-period_name=Last%20year&var-metric=contributions&var-repogroup_name=All&var-country_name=All), not all the repository groups available at this dashboard: [Rep

[2022-03-31 06:47] lukaszgryglicki commented on #339
Hi, can you give an example of missing one - maybe it is a repo group that doesn't have that for this time range? I can take a look tomorrow.

[2022-03-31 23:14] howardjohn opened #340 "[bug] Users Statistics by Repository Group page showing errors"
https://istio.teststats.cncf.io/d/48/users-statistics-by-repository-group

Throwing error: `db query error: pq: column "sachithmuhandiram" does not exist`

I assume that is some github username.

If I filter users to a single user like https://istio.teststats.cncf.io/d/48/users-statistics-by-repository-group?var-period=w&var-metric=contributions&var-repogroup_name=All&var-users=howardjohn&orgId=1

[2022-04-01 02:10] craigbox opened #341 "[feature request] Not counting PR reviews?"
None of the SQL files seem to be tracking PR reviews, emitted as PullRequestReviewEvent.
There's a count of the number of comments on a PR review, but no measurement of number of reviews.

I see a report of [this signal not being emitted properly,](https://github.community/t/pullrequestreviewevent-is-never-emitted/14092) and wonder if that was the reason?

[2022-04-01 05:07] lukaszgryglicki commented on #341
Can you please specify what exactly should be visible on this new dashboard?
Should it be per repository group, repository, user? To implement this I need exact specs.

[2022-04-01 05:09] lukaszgryglicki commented on #340
On it.

[2022-04-01 05:51] lukaszgryglicki commented on #340
Fixed, thanks for reporting.

[2022-04-01 05:51] #340 closed

[2022-04-01 06:05] lukaszgryglicki commented on #339
Fixed:
- [tinkerbell/ipxedust](https://tinkerbell.devstats.cncf.io/d/9/developer-activity-counts-by-repository-group-table?orgId=1&var-period_name=Last%20year&var-metric=contributions&var-repogroup_name=tinkerbell%2Fipxedust&var-country_name=All&query=reposit).
- [tinkerbell/dhcp](https://tinkerbell.devstats.cncf.io/d/9/developer-activity-counts-by-repository-group-table?orgId=1&var-period_name=La

[2022-04-01 06:40] craigbox commented on #341
Sorry, this isn't yet a feature request, but it's an investigation.  None of the dashboards measure pull request reviews; they instead measure pull request review _comments_. I wanted to know if that was deliberate, before suggesting anything change.

[2022-04-01 07:49] lukaszgryglicki commented on #341
I've checked the data and indeed we don't have a dashboard based on ``,
This is the data for "All CNCF" project combined:
[code]

Even our contributor/contribution definition is somebody/event that has the following type: `type in ('IssuesEvent', 'PullRequestEvent', 'PushEvent', 'CommitCommentEvent', 'IssueCommentEvent', 'PullRequestReviewCommentEvent')`.

I've investigated why did I overlooked th

[2022-04-01 15:26] jacobweinstock commented on #339
Thank you @lukaszgryglicki !!

[2022-04-06 12:13] lukaszgryglicki commented on #341
Should I add support for a new GitHub event type?

[2022-04-06 12:15] caniszczyk commented on #341
SGTM

On Wed, Apr 6, 2022 at 7:14 AM Łukasz Gryglicki ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-04-06 12:18] lukaszgryglicki commented on #341
So I will start researching this as soon as I can, possibly on Friday.

[2022-04-08 15:29] lukaszgryglicki commented on #341
Added support today and enabled experimentally on `test` (will see if there are no errors over the weekend and then will enable on `prod`), this took quite a bit of effort, see commits from today:
- https://github.com/cncf/devstats/commits/master
- https://github.com/cncf/devstatscode/commits/master
- https://github.com/cncf/devstats-reports/commits/master

[2022-04-08 16:02] lukaszgryglicki commented on #341
Looks like data is starting to come in, for example:
[code]
WIll be observing this and checking - reports/dashboards using this are already updated but it will take some time to gather a substantial amount of data to see the difference.

[2022-04-08 19:56] lukaszgryglicki commented on #341
Everything OK on the `test` instances and multiple sync periods passed. Deploying to `prod`...
cc @craigbox

[2022-04-09 03:33] lukaszgryglicki commented on #341
I can confirm that data started to appear, closing this, please reopen if needed.

[2022-04-09 03:33] #341 closed

[2022-04-13 02:20] craigbox commented on #341
How long will it take before it's all backfilled?

https://istio.teststats.cncf.io/d/5/companies-table?orgId=1&var-period_name=Last%20decade&var-metric=prreviews f.ex.

[2022-04-13 03:28] lukaszgryglicki commented on #341
I didn't say it will be backfilled. To do so I would have to drop the database & recreate it from scratch - events from the past were marked as "processed" and there was no review support at the time they were processed, so it won't add "past data". If you want me to regenerate the full database - let me know.

[2022-04-13 03:46] craigbox commented on #341
Sorry, I inferred that was what was happening from how you had described data coming in.

[2022-04-13 04:27] lukaszgryglicki commented on #341
No problem with regenerating the DB, small downtime can be seen then - do you want me to do that?

[2022-04-13 06:39] lukaszgryglicki commented on #341
I'm populating past data manually, regenerating GHA data starting at 2020-08-18 and when this is ready I'll regenerate TSDB data and dashboards.

[2022-04-13 08:27] craigbox commented on #341
I'm not your boss, I'm just a random guy on the internet.  Best not to ask me for permission 🙂

[2022-04-13 11:03] lukaszgryglicki commented on #341
I was rather asking if you want me to update data or not... anyway - regenerated all data since when the first review events appeared so now data should be complete for reviews.

[2022-04-19 18:31] parispittman commented on #341
@craigbox k8s reviews come in as comments re: "/lgtm" and I think that's the historical reason why we didn't do GH event for reviews from the beginning.

[2022-04-19 18:41] lukaszgryglicki commented on #341
No, because thy weren't there at that time - that specific GitHub event type. See [this](https://github.com/cncf/devstats/issues/341#issuecomment-1085546055) comment.

[2022-04-22 00:16] howardjohn opened #342 "[bug] Data outage since 4/13"
https://istio.teststats.cncf.io/d/47/github-events?orgId=1

Looks like we lost all data for the past week or so

[2022-04-22 03:36] lukaszgryglicki commented on #342
After the last manual data regenerate (to add new reviews data), I forgot to unsuspend the cron job - did it now - it should sync within a few hours from now.

[2022-04-22 03:37] howardjohn commented on #342
Awesome thanks for the quick fix. Appreciate it!

[2022-04-22 06:07] lukaszgryglicki commented on #342
SO the data is there, but Grafana is not showing it - never seen something like this - even in grafana query editor I can see data, but it is not displayed starting from date you specified. Same with random other projects on `teststats.cncf.io` - strange but on `devstats.cncf.io` they're OK. Will investigate this as soon as I can - possibly after about 8 hours from now.
Can you just confirm that y

[2022-04-22 09:47] lukaszgryglicki commented on #342
Fixed, there was a failing replica - I'm usually using R/W service which was OK, but Grafana uses RO connection, so it was falling to a replica that became out of sync, I've recreated that replica from master, and all looks good now.

[2022-04-22 09:47] #342 closed

[2022-05-31 17:52] artursouza opened #344 "[bug] Dapr contributors graph is not loading anymore"
Go to https://dapr.devstats.cncf.io/d/48/users-statistics-by-repository-group?orgId=1&var-period=w&var-metric=contributions&var-repogroup_name=dapr%2Fcommunity&var-users=All

You will see an error message. Something like "db query error: ..." as per screenshot below.

<img width="913" alt="image" src="https://user-images.githubusercontent.com/130954/171252369-13e50716-76cc-4572-9a98-d4b7c7eed0c6.p

[2022-05-31 18:25] lukaszgryglicki commented on #344
Hi, thanks for reporting, will work on this tomorrow.

[2022-06-01 05:34] lukaszgryglicki commented on #344
Fixed:
![Screenshot 2022-06-01 at 07 33 44](https://user-images.githubusercontent.com/2469783/171334737-c88a3708-491f-4e30-943c-df2a5819ef29.png)

[2022-06-01 05:34] #344 closed

[2022-06-08 07:17] JimBugwadia opened #346 "[feature request] Monthly Active Unique Contributors"
I am trying to see a trend line for our project's monthly active unique contributors.

Seems like the data is available, but I am not sure how to properly view it.

Any help would be greatly appreciated. Thanks!

[2022-06-09 04:40] lukaszgryglicki commented on #346
What exactly is needed? I can take a closer look on Friday or during the weekend.

[2022-06-09 05:12] JimBugwadia commented on #346
Thanks @lukaszgryglicki!

We would like to see a graph of monthly unique contributors (issue creators, issue commenters, pull request makers, pull request commenters, committers, and commit commenters) for each repo and across all repos.

[2022-06-10 06:08] lukaszgryglicki commented on #346
Not sure which project you want, this is an example for `Opentelemetry`: https://opentelemetry.devstats.cncf.io/d/74/contributions-chart

You can choose any other CNCF project just replace `opentelemetry` in the URL with another project or click the project icon on https://all.devstats.cncf.io/d/8/dashboards.

While in this view you can choose:
- Repository group (in most CNCF projects they are ma

[2022-06-10 07:06] JimBugwadia commented on #346
This is great! Thanks @lukaszgryglicki!

[2022-06-10 07:06] #346 closed

[2022-06-13 13:14] kundan2707 opened #347 "[bug] Contributions not updated for long time and sometimes missing"
I am doing contribution is SIg-Network
mostly
- cluster-proportional-autoscaler
- external-dns
- gateway-api
- ingress-nginx
- kpng
- network-policy-api
I observed mostly my contribution take too much time to get updated and sometime lost and never updated.

[2022-06-13 13:37] lukaszgryglicki commented on #347
I will take a look but I would help a lot if you can specify which dashboard and some example contributions that are missing...

[2022-06-14 07:54] lukaszgryglicki commented on #347
Please provide more details, also please note that I'll be on PTO starting tomorrow evening, so I will probably be able to take a look at this next week.

[2022-06-15 22:18] jian-he opened #348 "[bug] change kubedl project's repos"
looks like it is currently tracking alibaba/kubedl,   https://github.com/cncf/devstats/blob/master/kubedl/psql.sh#L16

would like to change it to

"kubedl-io/kubedl"
"kubedl-io/morphling"
"kubedl-io/website"
"kubedl-io/morphling-website"

@lukaszgryglicki would you help make that change ?

[2022-06-16 16:36] strongjz opened #349 "[feature request] - adding ingress-nginx as a project to devstats"
We would like to add https://github.com/kubernetes/ingress-nginx to the dashboard so that we as maintainers can discuss and understand who what and where contributions are coming from.

[2022-06-20 05:08] lukaszgryglicki commented on #349
To which project? Kubernetes? We have 120+ projects.

[2022-06-23 14:37] lukaszgryglicki commented on #348
Sorry, I've missed this, I'll update config tomorrow or on Monday.

[2022-06-23 14:46] strongjz commented on #349
Ingress-nginx is a subproject of Kubernetes, so I am not sure what you are asking here.

To add the ingress-nginx project, do we follow this? https://github.com/cncf/devstats/blob/master/ADDING_NEW_PROJECT.md

[2022-06-23 14:57] lukaszgryglicki commented on #349
OK so you want to add `https://github.com/kubernetes/ingress-nginx` repo, but to which CNCF project?
If kubernetes - then it is already tracked in https://k8s.devstats.cncf.io...

[2022-06-24 00:54] strongjz commented on #349
It's fine to add under kubernetes. I don't see ingress-nginx.

[2022-06-24 04:56] lukaszgryglicki commented on #349
OK, I will check when I have some time.

[2022-06-24 05:11] lukaszgryglicki commented on #349
I can see it in database:
[code]
It has two names `kubernetes/ingress-nginx` and `kubernetes/ingress` which means repo was renamed. Now on which dashboard you miss that repo? Note that some dashboards only show top N max active repos, not all.

If any dashboard shows "repository groups" it means that "ingress-nginx" will show as a part of "SIG Network" because it is listed in SIG Network repositor

[2022-06-24 05:17] lukaszgryglicki commented on #348
I will add the entire org: `kubedl-io` as it is the case in all CNCF projects when they move to their own github org.

[2022-06-24 05:47] lukaszgryglicki commented on #348
This is done in all DevStats repos and gitdm. New org will be now tracked, closing.

[2022-06-24 05:47] #348 closed

[2022-06-27 22:51] jian-he commented on #348
thank you !

[2022-06-29 14:39] tormath1 opened #351 "[question] organization renaming"
Hi,

Thanks for this project - by curiosity I successfully set up a test instance to fetch data from `flatcar-linux` github organization (https://github.com/flatcar-linux/).

Repo in this organization moved from `flatcar-linux` -> `kinvolk` -> `flatcar-linux`. We can still see the redirects:
[code]

On the devstat instance, there is a gap during the `kinvolk` period because the `projects.yml` is d

[2022-06-29 15:04] lukaszgryglicki commented on #351
DevStats doesn't do any redirects, I parses files from GHA archives.
To track org and repo you can specify in `projects.yaml`: `command_line` like: `a,b/c` etc.
See CNCF's projects projects.yaml file for details, also see per any project `project-name/psql.sh`.

[2022-06-29 15:56] tormath1 commented on #351
Ouh nice, it seems to do the job, thanks. Just for my knowledge: `command_line` and the value in `psql.sh` - for example `cilium,noironetworks/cilium-net` in:
https://github.com/cncf/devstats/blob/4cdfd0572055a094cb935692e660e6f4e780ac13/cilium/psql.sh#L16

Are the same things ?

[2022-06-29 15:58] lukaszgryglicki commented on #351
Almost the same:
In`project-name/psql.sh` you define "historical" command - that is used for 1st sync - so you also list old names/regexps to get repos/orgs
In `projects.yaml` you define `current` command, so you can skip anything that is already historical now.

[2022-06-29 16:03] #351 closed

[2022-06-29 16:06] lukaszgryglicki commented on #351
Also note that you can specify `regexps` - grep for `regexp` in `projects.yaml` and `*/psql.sh`.

[2022-06-30 02:14] wonderflow opened #352 "[feature request] update logo of KubeVela in devstats to dark mod"
![image](https://user-images.githubusercontent.com/2173670/176578150-203817e8-338c-4c32-ab9f-22fe212aa908.png)

Here's the dark mod logo:

https://kubevela.io/img/logoDark.svg

Please also regenerate the activity data, thanks!

[2022-06-30 02:14] wonderflow commented on #352
![image](https://user-images.githubusercontent.com/2173670/176578291-d35514b6-62aa-4f0a-968a-b6c644fd3432.png)

[2022-06-30 03:51] lukaszgryglicki commented on #352
I can use this: https://github.com/cncf/artwork/blob/master/projects/kubevela/icon/black/kubevela-icon-black.svg
DevStats only uses logos from `cncf/artwork`.

[2022-06-30 04:08] wonderflow commented on #352
Sure , if so, please use the png version, then it will display a white background https://github.com/cncf/artwork/blob/master/projects/kubevela/icon/color/kubevela-icon-color.png

[2022-06-30 04:17] lukaszgryglicki commented on #352
Already updated, grafanas are being restarted and I'm regenerating instance data - I'll LYK once ready.

[2022-06-30 08:54] lukaszgryglicki commented on #349
Closing this, please reopen if needed.

[2022-06-30 08:54] #349 closed

[2022-06-30 08:55] lukaszgryglicki commented on #347
Closing this, please reopen if you have more details.

[2022-06-30 08:55] #347 closed

[2022-06-30 08:56] lukaszgryglicki commented on #352
This is done. Closing.

[2022-06-30 08:56] #352 closed

[2022-06-30 09:02] wonderflow commented on #352
Thanks

[2022-07-15 09:49] luc99hen commented on #339
Hi, @lukaszgryglicki. I am from [OpenYurt community](https://github.com/openyurtio/openyurt). It seems that [our dashboard](https://openyurt.devstats.cncf.io/d/3/stars-and-forks-by-repository?orgId=1) has similar problems.

![image](https://user-images.githubusercontent.com/28707897/179198231-295571a4-7183-42d9-a7e2-e25ea580299f.png)

The available repos showing in the dropdown menu seems to be fr

[2022-07-15 09:54] luc99hen commented on #339
Thank you for your reply :>
The desired behavior would be showing only public repos under [the organization](https://github.com/openyurtio).

[2022-07-15 10:11] lukaszgryglicki commented on #339
Should be good now, pleas echeck & confirm @luc99hen

[2022-07-20 13:09] linsun opened #353 "[feature request] generate company contributions for each year"
For Istio project (In the process of donating to CNCF atm),  is it possible to generate company contributions (top 15 companies) for each year since the project started in 2017.  For example:

2017 (Jan 1) to 2017 (Dec 31)
2018 (Jan 1) to 2018 (Dec 31)
2019 (Jan 1) to 2019 (Dec 31)
2020 (Jan 1) to 2020 (Dec 31)
2021 (Jan 1) to 2021 (Dec 31)
YTD so far since 2022 Jan 1.

for this view: https://isti

[2022-07-20 16:23] lukaszgryglicki commented on #353
Yes, but your "workaround" is not giving you the exact yearly data you originally wanted, do you still need it? If so I can generate tomorrow.

[2022-07-21 09:57] lukaszgryglicki commented on #353
Yeach year generated via command like:
[code]
CSV data is here:
- [2017](https://teststats.cncf.io/backups/istio-report/2017.csv).
- [2018](https://teststats.cncf.io/backups/istio-report/2018.csv).
- [2019](https://teststats.cncf.io/backups/istio-report/2019.csv).
- [2020](https://teststats.cncf.io/backups/istio-report/2020.csv).
- [2021](https://teststats.cncf.io/backups/istio-report/2021.csv).
-

[2022-07-21 12:58] linsun commented on #353
This is super nice to have, thank you @lukaszgryglicki!!

cc @craigbox - we have been trying to get these data for a while!

[2022-07-21 12:58] #353 closed

[2022-07-21 13:04] lukaszgryglicki commented on #353
@linsun - if you need any data that is not directly avail in DevStats - you can always ask me - it is very easy to execute custom SQL and save as CSV for you.

[2022-07-21 19:12] linsun commented on #353
You rock, thanks again!

[2022-07-26 01:24] wonderflow opened #356 "[bug] kubevela devstats is not refresh after 7/16"
The devstats link:  https://kubevela.devstats.cncf.io/d/3/stars-and-forks-by-repository?orgId=1

We can refer stars as example, the devstats show:

![image](https://user-images.githubusercontent.com/2173670/180902245-07fab367-a3dc-4149-aab0-0f84890a7f65.png)

While the actual data is 3981 for now:

![image](https://user-images.githubusercontent.com/2173670/180902352-0acbdc9e-aa48-405a-9302-06c955a

[2022-07-26 01:34] wonderflow commented on #356
If there's anything I can do, just ping me, thanks @lukaszgryglicki

[2022-07-30 03:43] wonderflow commented on #356
The contributions chart is also stop at 6.30 https://kubevela.devstats.cncf.io/d/74/contributions-chart?orgId=1&var-period=m&var-metric=contributions&var-repogroup_name=All&var-country_name=All&var-company_name=All&var-company=all&from=now-1y&to=now

[2022-08-01 09:00] lukaszgryglicki commented on #356
I was on PTO last week, I'll chekc this today.

[2022-08-01 09:16] lukaszgryglicki commented on #356
I've found the bug, fixed it, but I need to regenerate data sice switchover to `kubevela` org - I forgot to update `project.yaml` config to track the new org :(

[2022-08-01 10:39] lukaszgryglicki commented on #356
Both problems resolved, closing. Please reopen if needed.
cc @wonderflow

[2022-08-01 10:39] #356 closed

[2022-08-01 10:45] wonderflow commented on #356
@lukaszgryglicki Thanks very much!

[2022-08-03 19:18] levbogusiewicz opened #357 "[bug] blank Flux graph data"
Flux data 2022-01-01 to 2022-3-31 shows no data for that time period.
<img width="1329" alt="Screen Shot 2022-07-10 at 6 11 02 PM" src="https://user-images.githubusercontent.com/36166779/182691306-a4424483-8b81-41f6-9181-bc5f14bffa81.png">

[2022-08-03 20:28] levbogusiewicz opened #358 "[bug] no data for Falco graph"
No data for time period 2022-04-01 to 2022-06-30. Here is the link: [https://falco.devstats.cncf.io/d/4/company-statistics-by-repository-group?orgId=1&var-period=w&var-metric=activity&var-repogroup_name=All&var-companies=All&from=1648796400000&to=1656658799000]

<img width="1338" alt="Screen Shot 2022-08-03 at 1 26 47 PM" src="https://user-images.githubusercontent.com/36166779/182705523-5d4d59ef-9

[2022-08-04 07:25] lukaszgryglicki commented on #358
Fixed [see the dashboard](https://falco.devstats.cncf.io/d/4/company-statistics-by-repository-group?orgId=1) - sorry I had some major node outage and was fixing this for a few hours...

[2022-08-04 07:25] lukaszgryglicki commented on #357
Fixed [see the dashboard](https://flux.devstats.cncf.io/d/4/company-statistics-by-repository-group?orgId=1) - sorry I had some major node outage and was fixing this for a few hours...

[2022-08-04 07:26] #358 closed

[2022-08-04 07:26] #357 closed

[2022-08-04 22:05] rddanes opened #359 "OTel data"
Check data in Google Sheets for OpenTelemetry.

[2022-08-05 03:41] lukaszgryglicki commented on #359
Answered on slack, actually "quarter from 7/1/22" should be removed because report was generated around July 5th 2022 and data for that quarter is just a few days.

[2022-08-05 03:41] #359 closed

[2022-08-11 03:58] coderanger opened #360 "[kubernetes] Data export request for 2022 Kubernetes Election"
It's that time of year again that we need to pull voter rolls for Kubernetes, anyone with 50 or more contributions on any Kubernetes project. Last year I got pointed here (#316) so figured I would start here again. If I can do a bulk export of this type myself from Devstats I'm happy to do that too!

[2022-08-11 03:58] coderanger commented on #360
Oh and timing wise, the cutoff time is this Friday so if we can pull it around then, that would be great :)

[2022-08-11 04:27] lukaszgryglicki commented on #360
I will generate this data tomorrow, but next time, please inform me a bit earlier than a day before the deadline.

[2022-08-11 05:39] lukaszgryglicki commented on #360
Done, spreadsheet is generated in usual place, ping me on slack or email me for a link because that spreadsheet contains sensitive data.

[2022-08-11 05:39] #360 closed

[2022-08-15 02:48] levbogusiewicz opened #361 "[bug] No data shown - Company Statistics by Repository Group for Knative"
Error message: db query error: pq: column "Mattermost Inc." does not exist

Link [here](https://knative.devstats.cncf.io/d/4/company-statistics-by-repository-group?orgId=1&from=1648796400000&to=1656658799000&var-period=w&var-metric=activity&var-repogroup_name=All&var-companies=All).

[2022-08-16 03:05] levbogusiewicz opened #362 "[bug] No data for company Statistics by Repository Group - in-toto"
db query error: pq: column "Ntt Pc Communications Incorporated" does not exist

Link [here](https://intoto.devstats.cncf.io/d/4/company-statistics-by-repository-group?orgId=1&var-period=w&var-metric=contributions&var-repogroup_name=All&var-companies=All&from=1641024000000&to=1648796399000).

[2022-08-16 05:06] lukaszgryglicki commented on #362
Fixed.

[2022-08-16 05:06] #362 closed

[2022-08-16 05:34] lukaszgryglicki commented on #361
Fixed.

[2022-08-16 05:34] #361 closed

[2022-08-16 08:03] luc99hen commented on #339
Hi @lukaszgryglicki, Thank you for your effort! Our dashboard works fine now.

And there is another question to trouble you. If there is a way to hide some public repos under the organization in the devstatus dashboard. Because we have some public repos whose data don't want to be collected.

[2022-08-16 09:49] lukaszgryglicki commented on #339
You need to send me such an exclusion list and I will update DevStats instanc eto skip them. You also need to let me know if I should also remoe their historical data.

[2022-08-16 12:58] caniszczyk commented on #339
can you be a bit more specific on why you have public repos that shouldn't
be index luc?

On Tue, Aug 16, 2022 at 4:50 AM Łukasz Gryglicki ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-08-18 02:42] luc99hen commented on #339
There are three repos that we don't want to be included in the dashboard:
- [lite-kubelet](https://github.com/openyurtio/lite-kubelet)
- [kole](https://github.com/openyurtio/kole)
- [apiserver-network-proxy](https://github.com/openyurtio/apiserver-network-proxy)

And we don't want their historical data either. Thank you very much!