[2018-03-30 14:17] lukaszgryglicki commented on #86
Dashboard is fixed on both prod & test, but I still don't have new labels list for the drop-down, so currently I didn't change labels set.

[2018-03-30 14:18] lukaszgryglicki commented on #78
All problems described above are now fixed and gone.
The only thing remining it excludoing sandbox repos.
I'm currently doing this on the test but not on the prod.

[2018-04-02 22:00] jberkus commented on #87
Per Devstats and Contribex meetings, please go ahead once you have time.

[2018-04-02 22:04] jberkus commented on #78
This looks good to me, I've thrown it in #devstats to see if I can get more eyeballs on it.  OK if you want to wait for a day just so more people can look for obvious glitches.

[2018-04-03 04:47] lukaszgryglicki commented on #87
OK, so I'll update prod, probably tomorrow.

[2018-04-03 05:15] lukaszgryglicki commented on #87
It's switching now, there will be a small downtime.

[2018-04-03 07:28] lukaszgryglicki opened #91 "No data after 2018-04-02 14:00"
This is due to GitHub archives unknown outage:
https://github.com/igrigorik/gharchive.org/issues/179

[2018-04-03 10:49] lukaszgryglicki commented on #87
OK excluding sandbox repos also live on prod.
But I have a more serious issue now: https://github.com/cncf/devstats/issues/91
Hopefully GHA guys will fix this soon, so I can fix devstats too.
Closing this.

[2018-04-03 10:49] #87 closed

[2018-04-03 10:50] lukaszgryglicki commented on #78
Currently we don't have any data newer than 2018-04-02 14:00 UTC, due to GitHub archives outage: https://github.com/cncf/devstats/issues/91

[2018-04-03 16:16] lukaszgryglicki commented on #91
OK, GHA issue is fixed on the GHA side, DevStats auto healed:
![screen shot 2018-04-03 at 18 15 35](https://user-images.githubusercontent.com/2469783/38261637-177b5270-376b-11e8-899e-13d5a81ac9b6.png)
![screen shot 2018-04-03 at 18 15 30](https://user-images.githubusercontent.com/2469783/38261641-1aa5944c-376b-11e8-9554-c4db5ca6c858.png)

Closing this.

[2018-04-03 16:16] #91 closed

[2018-04-03 16:17] lukaszgryglicki commented on #86
Blocke duntil I have a final labels list.
After I have it, it is just a 2 replacements & regenerating data.

[2018-04-03 16:18] lukaszgryglicki commented on #78
Outage fixed on the GHA side, DevStats has all the data again.

[2018-04-05 10:59] lukaszgryglicki commented on #86
@spiffxp @jberkus ping...

[2018-04-05 11:01] lukaszgryglicki commented on #78
No longer blocked, now just need to confirm that it works ok.

[2018-04-05 11:02] lukaszgryglicki commented on #49
Closing this now, we have custom ranges implemented long time ago and it allows to get infromations needed.
Please reopen if needed.

[2018-04-05 11:02] #49 closed

[2018-04-05 11:04] lukaszgryglicki commented on #88
I'll switch to this tomorrow, unless something other will be needed first.
I'l, try to use new SQLite DB update tool `import_json` for this.

[2018-04-05 11:08] lukaszgryglicki commented on #26
We do have dashboard "Open issues/PRs by milestones".
It allows to choose: repository, SIG, milestone (for any of then you can choose All) and displays open issues/PRs.
I think that dashboard implements this:
https://k8s.devstats.cncf.io/d/22/open-issues-prs-by-milestone?orgId=1

Closing this, please reopen if needed.

[2018-04-05 11:08] #26 closed

[2018-04-05 11:11] lukaszgryglicki commented on #73
Release is planned for 26.04, so the update will probably happen after KubeCon EU Copenhagen.

[2018-04-05 13:18] spzala commented on #26
@lukaszgryglicki thanks and sounds good. I will open a separate issue for triage labels.

[2018-04-05 13:33] lukaszgryglicki commented on #26
OK.

[2018-04-06 10:07] lukaszgryglicki commented on #88
Changed names on the test server, then exported all data as JSONs using `sqlitedb` tool, finally new jsons imported using `sqlitedb` tool on prod.
Renaming worked, but new tags were not imported.
Examined DB [structure](https://github.com/cncf/devstats/blob/master/sqlite/grafana_k8s.sql] for tags and now I see that I need to update one more table `dashboard_tag`.

[2018-04-06 11:42] lukaszgryglicki commented on #88
OK I've managed to mass import tags too - by adding tags sync option to 'sqlitedb' tool see [here](https://github.com/cncf/devstats/blob/master/cmd/sqlitedb/sqlitedb.go#L44-L122).
This task should be ready now,  all changes are both on prod https://k8s.devstats.cncf.io and test: https://k8s.cncftest.io.
@dankohn @jberkus let me know if I should reopen this.

[2018-04-06 11:42] #88 closed

[2018-04-10 15:50] caniszczyk opened #93 "Add filter that shows project stats since CNCF join data"
It would be great to have a quick filter to show the progress of the project since joining CNCF. Each project has joined on different dates: https://github.com/cncf/toc#projects

I'm not sure how easy it is to expose this.

[2018-04-10 16:08] lukaszgryglicki commented on #93
I laready have CNCF join date as an annotation, so adding this to the period selection drop-down will be quite easy. Will work on this in this week, not sur eif tomorrow - I have some other small project to finish.

[2018-04-11 05:38] lukaszgryglicki commented on #93
Working on this.

[2018-04-11 08:05] lukaszgryglicki commented on #93
Done, now all tabular views include "Before joining CNCF" and "Since joining CNCF" periods.
Added in all projects on both test & prod.
![screen shot 2018-04-11 at 10 04 03](https://user-images.githubusercontent.com/2469783/38604142-c64d506e-3d6f-11e8-9a35-44e9a2995272.png)

Closing.

[2018-04-11 08:05] #93 closed

[2018-04-12 00:12] spiffxp commented on #86
@lukaszgryglicki labels list should be
[code]

[2018-04-12 03:47] lukaszgryglicki commented on #86
Thanks, will update soon.

[2018-04-12 05:06] lukaszgryglicki commented on #86
data regenerated but... "do-not-merge/cherrypick-not-approved" should actually be: "do-not-merge/cherry-pick-not-approved", so regenerating again.

[2018-04-12 05:32] lukaszgryglicki commented on #86
Fixed. Now both test and prod envs contain requested label set, closing.

[2018-04-12 05:32] #86 closed

[2018-04-12 22:02] jberkus commented on #88
Cool, thanks, just noticed the change.

[2018-04-13 11:34] IsAmrish opened #94 "Docs correction for setting devstats locally in ubuntu 16"
I am trying to setup a local devstats enviroment using the instructions provided in:
https://github.com/cncf/devstats/blob/master/INSTALL_UBUNTU16.md

While trying to setup devstats in freshly installed ubuntu 16.04 LTS system, scripts was showing error
`fatal: unknown date format unix`  during running `./git/git_tags.sh` which is executed by `annotations.go`

This is happening when you run `./sha

[2018-04-13 12:02] lukaszgryglicki commented on #94
Somebidy already reported this.
You need to update git - Ubuntu 16.04 has too old git version.
This helped for Him.
When you do that, can you open a PR with documentation update about upgrading git?
Issue is just becuase when I last timeinstalled DevStats on Ubuntu 16.04, there was no annotations/git_tags.sh script yet, and I'm working on Ubuntu 17 server(s).
This git version is OK: `git version 2

[2018-04-13 13:15] IsAmrish commented on #94
Sure , will do that.

[2018-04-13 14:34] #94 closed

[2018-04-14 05:44] lukaszgryglicki commented on #78
I'm closing this, please reopen if you find lag/bug.

[2018-04-14 05:44] #78 closed

[2018-04-14 05:48] lukaszgryglicki commented on #29
I can only implement this by ceating custom Grafana.
Grafana guys are not interested in adding quick date ranges from annotations.
I would have to clone Grafana repo, implement this and then use in DevStats (and possibly update every next Grafana instance).
Have this working I can also create PR on Grafana repo, maybe they will accept this...

[2018-04-14 05:53] lukaszgryglicki commented on #73
I'm just planning to do server upgrade instead of a fresh install:
[code]

[2018-04-17 17:03] jberkus opened #96 "Set up read-only access to test PostgreSQL database"
Per discussion on #devstats, please set up read-only access to the test instance of the PostgreSQL github database.  Recommended way to do this is:

1. create a 2nd user under the role ro_user, with its own username/password.
2. set up some kind of key-based ssh bastion for devstats team members (could be a seperate host, could be a restricted homedir on the DB server host).
3. Accept SSH keys fro

[2018-04-17 17:34] lukaszgryglicki commented on #96
I'm not sure if I can create user on cncftest or cncfprod - event to just provide RO access to postgres.
I think it will be more secure to open postgres port 5432 on the test machine and allow access only for one read only user from outside.
@dankohn do you have any opinions?
Or maybe just another extra small server (separate host) that would be whitelisted for postgres on cncftest?
I think (may b

[2018-04-17 17:36] dankohn commented on #96
My thoughts are to defer to @jberkus on the best setup. Using a small server as a bastion host sounds reasonable to me, but Josh is the Postgres expert.

[2018-04-17 17:47] lukaszgryglicki commented on #96
OK thanks. So we will need another packet instance right? The smallest possible one?
So @jberkus can you give me a suggestion how to setup this?
Can I have two listen addresses in Postgres?
One for local access 127.0.0.1:5432 and another for bastion host X.Y.Z.V?
Or how should I setup this?
I'll do some googling tomorrow, but my current knowledge is that I can set inet address to listen (and 0.0.0

[2018-04-17 17:50] jberkus commented on #96
Let's PM about this on Slack, because I want to do some security setup stuff and NOT in a public issue tracker.

[2018-04-17 20:09] lukaszgryglicki commented on #96
It is done. Please contact me or @jberkus if access for more people is needed.

[2018-04-17 20:09] #96 closed

[2018-04-18 05:46] jlewi commented on #72
@lukaszgryglicki I'm part of [Kubeflow](https://github.com/kubeflow/kubeflow). We'd like to get devstats setup for Kubeflow (kubeflow/community#34). We aren't part of CNCF (hopefully one day).

So the expectation was that we'd have to set it up and run it ourselves. We will deploy it on K8s. If you'd be interested in helping us with that it would be greatly appreciated.

@jberkus Did you ever get

[2018-04-18 05:52] lukaszgryglicki commented on #72
I have no experience with K8s, so I can help with anything related to DevStats.
Just ping me here on email (lgryglicki@cncf.io) or slack.

[2018-04-18 07:37] lukaszgryglicki commented on #96
I was interested if DevStats compile on ARMv8 - I’ve installed postgres database, influx database, compiled and all tests passed. So now bastion host has PSQL database locally, Influx database locally - but I’ve didn’t setup my private GitHub OAuth tokens and didn’t installed Grafana and cron jobs. So it just contains data from 3AM today

To access Influx database use:
- `influx -username gha_admi

[2018-04-19 05:59] gaocegege opened #98 "[go] Add vendor to make it easy to build Docker image"
See https://github.com/kubeflow/community/pull/91#discussion_r182616029

Hi, I am a part of Kubeflow and we are trying to dockerize devstats and port it on k8s. I think we could import vendor directory to avoid `go get` in the docker image.

[2018-04-19 07:40] gaocegege commented on #98
/assign @gaocegege

[2018-04-19 12:01] #98 closed

[2018-04-19 19:42] jberkus opened #101 "Consoldiate histograms"
The following five histograms/tables all show counts by github handle with the same filtering controls.  They should be consolidated into a single table.

- Approvers Histogram
- Developers Table
- PR Authors Repository Groups Table
- Reviewers in Repository Groups Table
- Top Commenters in repository groups table

The new table would be called "Developer Activity Counts by Repository Group" and w

[2018-04-19 20:37] jberkus commented on #101
@lukaszgryglicki well, there's two different reviewer charts, one of which I am NOT proposing to consolidate, since its data is differently organized.

[2018-04-20 00:00] jberkus opened #102 "Consolidate Github Charts"
There are several charts which are basically just "Github Stat X by time and repository/repository group".  We'd like to consolidate these down to two charts:

1. Github Stats by Repository Group
2. Github Stats by Repository

This would contain the same selectors you see for Issues by Repository group: Period, Repo Group (or repository), and releases checkbox.  But we'd add a "statistic" selector

[2018-04-20 03:16] jlewi opened #103 "Use config files to configure grafana data sources"
Right now the [instructions](https://github.com/cncf/devstats/blob/master/GRAFANA.md) configure Grafana via the UI.

It would be nice if instead grafana could be configured via [config files](http://docs.grafana.org/features/datasources/influxdb/).

This would make it easier to migrate to managing devstats deployments completely declaratively which would make it a lot easier for folks to deploy an

[2018-04-20 05:27] lukaszgryglicki commented on #102
Ok will work on this.

[2018-04-20 05:38] lukaszgryglicki commented on #103
This is half manual right now.
Automatic deploy script creates customized/branded Grafana installation, see:
`devel/create_grafana.sh`.

Soe work still needs to be done manually. Full Grafana config can be fetched from the test server.
We're configuring N Grafanas on the single host and we're branding them. This is rather CNCF specific. So you may want to change this workflow for your case.
Same w

[2018-04-20 11:19] lukaszgryglicki commented on #103
Added support for importing new dashboards from command line using `sqlite` tool.
See: https://github.com/cncf/devstats/blob/master/devel/import_jsons_to_sqlite.sh

It is now connected as a part of automatic deploy for new projects: https://github.com/cncf/devstats/blob/master/devel/create_grafana.sh#L148-L151

[sqlite tool](https://github.com/cncf/devstats/blob/master/cmd/sqlitedb/sqlitedb.go#L18

[2018-04-20 11:19] #103 closed

[2018-04-20 21:49] Phillels commented on #101
/approve

[2018-04-24 10:57] lukaszgryglicki commented on #102
Actually I can start working on this just now. I had other task last days...

[2018-04-24 11:02] lukaszgryglicki commented on #102
Some of those charts has only "repo groups" version.
There will be two charts finally, and each of them will contain all metrics defined for both "repo" and "repo groups" versions. So I will have to add few metrics under the hood, but no problem.
This is rather big and will take few days IMHO.

[2018-04-24 13:12] lukaszgryglicki commented on #102
I've created Postgres [SQL](https://github.com/cncf/devstats/blob/master/metrics/kubernetes/github_stats_by_repo_groups.sql) that gets data for "repo groups" version of the new chart.
SQL for "repos" version tomorrow. Then YAML, InfluxDB, Dashboard JSON and dropping old data and generating new data first on the test next on the prod.

[2018-04-24 19:22] jberkus opened #104 "Rename select charts"
The Devstats subproject of SIG-Contribex has reviewed the existing charts and tables, and would like to rename the following ones to provide better clarity of the purpose and contents of the chart through its name:

|  Old Name | New Name |
|  ------ | ------ |
|  Companies statistics repository groups | Company Statistics by Repository Group |
|  SIG issues | Issues Opened/Closed by SIG |
|  New

[2018-04-25 07:25] lukaszgryglicki commented on #104
BTW: old links will still work because:

- https://k8s.devstats.cncf.io/d/6/commits-repository-groups?orgId=1
- https://k8s.devstats.cncf.io/d/6/abc?orgId=1

Makes no difference for Grafana. It only cares about `6` - uid value for a given dashboard.
If you put wrong name slug after the uid you will be redirected to the correct dashboard link with this uid (or nowhere if there is no such `uid`)

[2018-04-25 07:31] lukaszgryglicki commented on #104
Done. Let me know if I can close this.

[2018-04-25 07:33] lukaszgryglicki commented on #102
Need to switch for a small one day task. Removing `wip` label.

[2018-04-25 11:03] lukaszgryglicki commented on #102
And query per repo (not repo group) also [ready](https://github.com/cncf/devstats/blob/master/metrics/kubernetes/github_stats_by_repos.sql)

[2018-04-25 14:10] lukaszgryglicki commented on #102
"Repositroy groups" consolidated version ready (only on the test).
- https://k8s.cncftest.io/d/q5EuHkMmz/github-stats-by-repository-group?orgId=1

Now I need to delete dashboards no more needed, drop all unneeded influx data, possibly regenerate database (not sure yet).
I'll add another dashboard on the test server tomorrow. make sure all works OK and there are no unneeded series anymore and final

[2018-04-25 14:11] lukaszgryglicki commented on #102
Ohh and I see it received random uid - ugly one. I'll also fix this tomorrow.

[2018-04-25 16:31] jberkus commented on #104
Looks good, thanks!

[2018-04-25 16:31] #104 closed

[2018-04-26 09:15] lukaszgryglicki commented on #102
Ugly uid fixed, query for "repos" version ready, now Influx data generating for all time data.

[2018-04-26 10:31] lukaszgryglicki commented on #102
This is the first version of "Repository" chart, but it contains "duplicate repos bug"
https://k8s.cncftest.io/d/49/github-stats-by-repository?orgId=1

I'll fix this soon.
This is due to repo renames - so it displays the same data twice or more, while this is just the same renamed repo.
I'll only show the current repo name in the next version.

[2018-04-26 10:58] lukaszgryglicki commented on #102
This is a bit deeper than I thought, need to examine some other charts and tags to see hwo to handle this.
Basically I'll group all repos with the same ID under their newest name.
But need to take a step back here.

[2018-04-26 12:37] lukaszgryglicki commented on #102
Reviewers dashboard had documentation I will move it to new GitHub stats - repos/repo groups.

[2018-04-26 12:47] lukaszgryglicki commented on #102
OK I'll do final regenerate influx DB now, so test server can be unavailable.
I'll update here when done.

[2018-04-26 18:35] lukaszgryglicki commented on #102
Database is regenerated (temp).
I've switched Grafana to use new database that was just generated.
After it is copied to original I'll switch back.
That way there'll be no downtime.

[2018-04-26 20:54] lukaszgryglicki commented on #102
All regenerated on the test server, I'll update prod tomorrow.

[2018-04-27 09:31] lukaszgryglicki commented on #102
Ported documentation from dropped Reviewers dashboard.
It will only appear when "reviewers" statistic is selected from the drop down.
For other stats other docs **will** appear - but currently there are no other docs, so it will either show or hide.

[2018-04-27 09:45] lukaszgryglicki commented on #102
Added on production:
- https://k8s.devstats.cncf.io/d/49/github-stats-by-repository?orgId=1
- https://k8s.devstats.cncf.io/d/48/github-stats-by-repository-group?orgId=1

Closing, please reopen if needed.

[2018-04-27 09:45] #102 closed

[2018-04-27 09:46] lukaszgryglicki commented on #101
Starting very initial research.
This will **NOT** be ready before KubeCon.eu.

[2018-04-28 01:09] jberkus commented on #101
Figured.  Do it when you can!

[2018-04-30 11:07] lukaszgryglicki commented on #101
Done on test and on prod: https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1
Now I need to fix test coverage.
Closing, please reopen if needed.

[2018-04-30 11:07] #101 closed

[2018-04-30 12:25] lukaszgryglicki commented on #101
The funny part is that I wasn't regenerating data, but adding new series.
I've finished all including new dashboard creation, generating data, some fixes, doing the same on the prod etc.
And all this time "InfluxDB" is just dropping data from the old series - no longer used.
Spawned: "delete from /^(approvers_hist|hist_pr_authors|reviewers_hist|top_comm|project_developer)/" command about 3 hours a

[2018-04-30 14:01] IsAmrish opened #105 "K8s DevStats - Link is not working"
Hi,
   I was going through k8s dashboards ( main dashbaord ), then I found a link in not working.

![k8s](https://user-images.githubusercontent.com/6524419/39430996-07ab40ba-4cad-11e8-9433-6fd226ae71fb.png)

In above pics, the postgres sql file link is not working.

I think , this can be solved by changing links in **docs/dashboards/dashboards.md**

[2018-04-30 14:03] lukaszgryglicki commented on #105
Will fix today.
dashboards were renamed several times recently.

[2018-04-30 14:05] IsAmrish commented on #105
if anything I can help you??

[2018-04-30 15:09] lukaszgryglicki commented on #105
Fixed everywhere.
Closing.
Thanks for reporting.

[2018-04-30 15:09] #105 closed

[2018-05-02 13:45] spiffxp opened #106 "Investigate driving grafana directly from postgres instead of influxdb"
Followup from the devstats session I attended at KubeCon EU.  This is driven in part by me experimenting with Postgres->Grafana directly on my system at a small scale with the full 'gha' database for kubernetes/kubernetes.  Curious whether it'd be possible to do this at full scale.

We're starting to get interested in "second order" stats, stats that we can derive from the existing stats.  Trends

[2018-05-02 15:44] lukaszgryglicki commented on #106
After reading [this](http://docs.grafana.org/features/datasources/postgres/) I'm almost sure that we can go with Postgres.

[2018-05-03 21:09] lukaszgryglicki commented on #106
@spiffxp you should observe [this](https://github.com/cncf/devstats/tree/psql_as_tsdb) branch.
I've worked on this about 8 hours today - all seem to be very promising for PSQL as a TS DB.

[2018-05-03 22:08] lukaszgryglicki commented on #106
One day POC seems to work, but it uses [Giant LOCK approach](https://en.wikipedia.org/wiki/Giant_lock) just to check if we can proceed.
If it proves useful and is capable of everything DevStats wants, I'll take a lot more time to get rid of **giant lock**.

[2018-05-06 07:07] lukaszgryglicki commented on #106
Now I have all TS data in PSQL< but seems like Grafana is not yet stable at displaying data from Postgres, see this:
https://k8s.cncftest.io/d/1/activity-repository-groups?orgId=1

Data on postgres is exactly the same as it was on influx:
![screen shot 2018-05-06 at 09 07 11](https://user-images.githubusercontent.com/2469783/39670799-ed67b210-510c-11e8-9794-bba5cb7589b6.png)
![screen shot 2018-05-

[2018-05-06 07:38] lukaszgryglicki commented on #106
All data on [this chart](https://k8s.cncftest.io/d/1/activity-repository-groups?orgId=1) comes from Postgres now.
So annotations, template variables, drop-downs, chart.
This proves that we *can* use Postgres as a data source.
Now I'm generating data for ALL charts, then I will have to update all of them to use different data source and different sysntax for everything everywhere.
Postgres TS datab

[2018-05-06 07:44] dankohn commented on #106
Please report on performance differences when you're ready. How long to
reprocess all data in each approach? How long to do the hourly updates? How
long to run the queries to generate some typical pages?

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Sun, May 6, 2018 at 3:38 AM, Łukasz Gry

[2018-05-06 07:48] lukaszgryglicki commented on #106
Play with this https://k8s.cncftest.io/d/1/activity-repository-groups?orgId=1
I don't see ANY difference in Grafana performance.
Generating data for this chart is about 6 minutes (for all time data). Very similar to InfluxDB one.
But I don't have overall stats yet.
I'll of course report once I have them.

[2018-05-07 06:01] lukaszgryglicki commented on #106
So I've generated all data during the night.
It created 50000+ tables in PSQL.

2 problems:
- There were problems with too long identifier names (Postgres has 63 chars limit that cannot be changed without recompiling). I need to update fiunctions that generate table names to handle this.
- I think I should merge all tables for different periods (like hourly, daily etc) into single tables containin

[2018-05-08 07:15] lukaszgryglicki commented on #106
Solved two problems described above (by adding special/optional merge mode. In merge mode multiple series can be saved under one table, with column "series" containing their supposed series name).
Also problems with indexes and Giant lock are solved too.
Now will try to generate full data for just amy 2018 to see if there are no errors and then will just continue...

[2018-05-08 13:08] lukaszgryglicki commented on #106
Finally after lons struggle (see [this branch](https://github.com/cncf/devstats/commits/psql_as_tsdb) commit history) managed to get rid of Giant LOCK, made histograms works too and balanced series between columns and tables. The final numbe rof series-like table sis < 1000, it was 50000+ for influx. Data seems balanced for me and all metrics worked for just May 2018 (after fixing maybe 5-6 class

[2018-05-08 18:46] lukaszgryglicki commented on #106
@dankohn @spiffxp full regenerate of TS data using PSQL takes 1h45mins for K8s.
For InfluxDB it was taking more than 2 hours but less than 3 AFAIK.
So generating postgres data is about 1.2-1.6 times **faster**.
I'll check default cron sync now - that happens every hour.

I see some more tweaks will be needed in series names, so I'll do another round tomorrow, but I think I'm now very very close to

[2018-05-08 18:54] lukaszgryglicki commented on #106
Horly sync took 2m52s, which is about the same as when using Influx. I remember both higher and lower Influx values, that just depends on data and time of day (some metrics are calculated only at specific hours etc).

Due to redesigning series naming (splitting between table and column names), TSDB data is now 575 tables (i stead of 50000+ series in Influx). Backing it up and restoring is crazy fa

[2018-05-09 08:33] lukaszgryglicki commented on #106
I've generated data for all CNCF project using PSQL. No more issues found during the process.
It took few hours, I was porting dashboards in the meantime.
I think we will have cron job with PSQL running today, and this experimental branch merged to master (and deployed on the test server), then:
- Dashboards on all projects
- Test coverage
- Docs
- All shell scripts
- CI/CD, automatic deployments

[2018-05-09 09:43] lukaszgryglicki commented on #106
Test server now runs postgres-only cron.
Now I'm updating dashboards (k8s) one by one to change their data source.
So now *.cncftest.io mostly doesn't work.
Few first dashboards from k8s.cncftest.io already use PSQL DS.
Also bastion ssh host allows to examine psql data.

[2018-05-09 12:55] lukaszgryglicki commented on #106
Companies table now ported (first histogram).
Also companies stats by repo groups ported.
I've decided to drop "companies velocity" - it had just 6 charts displaying the same data as "companies stats by repo groups" when different metrcis are selected.
It was slower (because needed to draw 6 charts) and no more needed when verion with metric drop-down was added later.
Basically I'm on the "i" lett

[2018-05-09 18:34] lukaszgryglicki commented on #106
After having cron running with psql, results **seem** to be better than Influx overall:
[code]
Will see tomorrow after full 24 hours pass. Some data is only calculated at specific hours. Some special values like tags or annotatnions at midnight. DB backups at 3am etc etc.
But I do see performance boost over IDB, really.

[2018-05-09 22:38] spiffxp commented on #106
@lukaszgryglicki you are a beast! thanks for keeping this up to date, I will play around and see if anything looks wildly out of line

[2018-05-10 05:04] lukaszgryglicki commented on #106
Definitely postgres behaves a lot better under heavy load.
Most time consuming sync happens at midnight and few next hours. Influx was taking anywhere from 40m to 1h20m here, and postgres is **way** better:
[code]
Continuying dashboards from "i" letter...

[2018-05-10 06:10] lukaszgryglicki commented on #106
When data for psql TSDB was generated, I forgot about exclude repos, so I now have some data that shouldn't be there. I need to regenerate all data, but first I'll port all dashboards in case I find some other errors - to save time. Issues age gives slightly other results for last week(s) now due to this.

[2018-05-10 13:47] lukaszgryglicki commented on #106
Now also doing:

Check -race condition, improved log creation by using sync.Once and sync.RWMutex - use Lock() when contex changes, but in other cases just use RLock(), tested full sync with debug info ON, -race on to see if no single race condition is detected.

This is needed again when switched DB engine, devstats is crazy multithreaded and servers are 48 cores, so I'm a bit crazy about double-

[2018-05-10 16:37] jberkus commented on #106
I'll plan on doing a performance audit of the postgresql DB sometime this summer.  In the meantime, if there's specific graphs/operations that are being slow, I can probably fix them, so file an issue and assign them to me.  Postgres perf is what I used to do for a living.

[2018-05-10 16:43] lukaszgryglicki commented on #106
Thanks, you can review [this file](https://github.com/cncf/devstats/blob/master/pg_conn.go) as an expert.
Currently, I have no bottlenecks, and psql performs better than Influx.
But I'll, of course, ask when I stuck on anything.

[2018-05-10 16:53] lukaszgryglicki opened #107 "Investigate correctness and performance of using Postgres as a TSDB"
Investigate speed, correctness of my idea of using Postgres as a time-series DB (PSQLaaTSDB):
All emulation is written [here](https://github.com/cncf/devstats/blob/master/pg_conn.go), function `WriteTSPoints`).
Requested by @jberkus

[2018-05-11 09:47] lukaszgryglicki commented on #106
Porsted all to PRs labels repo groups (including).
See https://k8s.cncftest.io/d/47/prs-labels-repository-groups?orgId=1
This one was hardes one so far.
It selects label-repo combination (single) for singlestats and one top chart. But then it needs to select multiple columns in X, Y directions, like:
- X --> label=const, all repo groups stacked, repo
- Y --> repo group=const, all labels stacked.
A

[2018-05-13 14:37] lukaszgryglicki commented on #106
Just finished "SIG mentions by categories" - it was tricky because I've used join with tags to get name for "metric" column.
The problem was that for different time values we have different metric names, but not always all possible metrics. Even Grafana's "null as zero" won't help here because we don't even have nulls for some metrics values at some time points.
I did the trick:
First create carte

[2018-05-13 14:49] lukaszgryglicki commented on #106
BTW: postgres does a great job.
- No single failure in 4 or 5 days live on test.
- Sync times about 50% time of those using Influx.

This is a detailed log of all CNCF Projects sync times since I connected postgres to cron:
[code]

[2018-05-14 05:15] lukaszgryglicki commented on #106
Multi value drop down values parse in where condition solved and works:
[code]

[2018-05-14 07:13] lukaszgryglicki commented on #106
All k8s dashboards ported.
Now I'll port other project's dashboards (all of them are very similar, but there are plenty of them, I already have some mass update tools - I'll use them).

[2018-05-15 19:21] jberkus opened #108 "GDPR compliance for Devstats"
Devstats is one of the few self-hosted resources for Kubernetes/CNCF which contains personal information. As such, we need to have a GDPR policy for it.

Here's my draft set of recommendations:

1.  Create a gdpr@ alias for requests, to go to a commitee (Elsie/me/Lukasz currently).
2.  Removal requests: replace any user who requests removal with anon-# for their github handle.  As in, we won't del

[2018-05-15 19:25] jberkus commented on #107
I'm having trouble picturing how this is being stored in the DB from the code.  Do we have a version of the DB which is already using this storage?

[2018-05-15 20:03] lukaszgryglicki commented on #107
Use ssh bastion.
Default gha database already has that data:
- Tables starting with "s" stores time series data.
- Tables starting with "t" stores tags data.
- Other tables are just GHA data.

[2018-05-16 18:34] Phillels opened #109 "Drop Graphs from Kubernetes DevStats Dashboard"
ephillip@redhat.com

Please drop the following graphs from the dashboard:

-Activity repository groups
-Approvers repository groups
-PRs Approval repository groups stacked
-PRs Authors Companies table
-SIG mentions categories
-SIG mentions using labels
-Suggested approvers by repository groups

They have been reviewed by the DevStats subproject committee and have been judged to be lacking in value

[2018-05-17 05:35] lukaszgryglicki commented on #109
Done o the test server.
It will be done on prod server when I finish porting TS from influx to Postgres:
- https://k8s.cncftest.io

[2018-05-18 10:12] lukaszgryglicki commented on #73
Updated test server cncftest.io.... but I cannot connect via ssh after reboot, chatting with support atm.
Once I figure out a painless way to upgrade, I'll do the same on the prod.

[2018-05-18 10:40] lukaszgryglicki commented on #73
Fixed by packet.net support, they said it was a hardware problem.

[2018-05-18 15:09] lukaszgryglicki commented on #109
Done on both test & prod.
BTW:
- devstats now use postgres as a time series DB on both test & prod servers.
- OS was updated on both servers to Ubuntu 18.04 LTS on both servers
- Postgres was updated on both to 10.3.

[2018-05-18 15:09] #109 closed

[2018-05-18 15:10] lukaszgryglicki commented on #106
- devstats now use postgres as a time series DB on both test & prod servers.
- OS was updated on both servers to Ubuntu 18.04 LTS
- Postgres was updated on both to 10.3.

Closing.

[2018-05-18 15:10] #106 closed

[2018-05-18 15:10] lukaszgryglicki commented on #73
Updated both test & prod.
Also updated postgres from 9.6 to 10.3.
Closing.

[2018-05-18 15:10] #73 closed

[2018-05-22 04:51] lukaszgryglicki commented on #108
Working on this.

[2018-05-22 14:11] lukaszgryglicki commented on #108
Done.
- I've added instructions how to request some data to be hidden [here](https://github.com/cncf/devstats/blob/master/HIDE_DATA.md), referenced [from README.md](https://github.com/cncf/devstats#data-hiding)
- I've added [hide_data](https://github.com/cncf/devstats/blob/master/cmd/hide_data/hide_data.go) tool that updates [hide/hide.csv](https://github.com/cncf/devstats/blob/master/hide/hide.cs

[2018-05-22 17:00] jberkus commented on #108
OK, the tool is great!

However, we still need a statement linked from the Devstats homepage.

[2018-05-22 17:07] jberkus opened #110 "Combine PR Time to Merge and Time Metrics"
Per meeting discussion:
These two graphs seem to show the same data:

- PR Time to Merge
- Time Metrics by Repository Group

Of the two, "Time Metrics" has richer data, so I propose dropping "PR Time to Merge", and renaming "Time Metrics" to "PR Time to Approve and Merge"

[2018-05-22 17:08] lukaszgryglicki commented on #110
I'll confirm this tomorrow and eventually drop.
If I found some other differences I'll ask here.

[2018-05-23 04:58] lukaszgryglicki commented on #108
It will be discussed on the community meeting.

[2018-05-23 05:00] lukaszgryglicki commented on #110
Working on this

[2018-05-23 06:13] lukaszgryglicki commented on #110
Done. Closing.

[2018-05-23 06:13] #110 closed

[2018-05-23 06:15] lukaszgryglicki commented on #46
Some merging, deleting, updating work was done in different issues. Closing this.

[2018-05-23 06:15] #46 closed

[2018-05-25 09:41] lukaszgryglicki commented on #74
Added docs for:
- GitHub stats per repo/Github stats per repo groups (it only had docs when reviewers metric was selected, now it has docs for all possible stats).
- PR reviews by contributors
- PR workload per SIG chart
- PR workload per SIG table

Working on the remaining dashboards.

[2018-05-25 09:41] lukaszgryglicki commented on #108
Closing this for now. let me know if I need to reopen or do anythign more for this.
Anonymizing data support was added but currently there is no single SHA disabled.

[2018-05-25 09:41] #108 closed

[2018-05-25 11:41] lukaszgryglicki commented on #74
Added docs:
- Blocked PRs
- Bot cmmands.

[2018-05-26 00:52] jberkus opened #111 "Missing some events on CNCFtest"
Lukasz:

I found a case of a missed event causing us to miss a change in issue status.  Take a look at:

https://github.com/kubernetes/kubernetes/issues/59001
This is issue ID 292617119 in the database.

This issue was demoted in priority 3 days ago, when yujuhong made a comment.  Thing is, in the database, the last recorded comment is @tpepper's from 9 days ago, which by my count means we're miss

[2018-05-26 05:25] lukaszgryglicki commented on #111
GHAPI2DB should catch this. I'll investigate on Monday.

[2018-05-28 04:41] lukaszgryglicki commented on #111
I've regenerated data for 2018-05-22 - 2018-05-26 on a temp database and saved all JSON's that I've received from GHA.
None of them contain any event related to [this](https://github.com/kubernetes/kubernetes/issues/59001#issuecomment-391073109) comment.
So it seems like a bug in GitHub archives.
I'll report this on GHA site.
For this issue I'll run ghaap2db manually specifying this issue (ghapi2d

[2018-05-28 04:50] lukaszgryglicki commented on #111
Manually updated issue via `GHA2DB_ONLY_ISSUES="292617119" GHA2DB_DEBUG=1 ./ghapi2db`.
Issue state is now correct in DevStats database.
Reporting bug on GHA.

[2018-05-28 04:55] lukaszgryglicki commented on #111
Issue on github archives created: https://github.com/igrigorik/gharchive.org/issues/187

[2018-05-28 04:55] lukaszgryglicki commented on #111
I'm adding blocked label. I've also asked if this is a very rare case, or maybe GHA just miss some % of events?

[2018-05-28 08:53] lukaszgryglicki commented on #74
Added:
- Open issues/PRs by milestone
- Contributing companies in repo groups
- wip: companies table

[2018-05-29 07:43] lukaszgryglicki commented on #74
Added:

- Issues opened/closed by SIG
- New and episodic issue creators
- New and episodic contributors
- Open PRs age by repo group
- Overall projects statistics

[2018-05-29 10:37] lukaszgryglicki opened #112 "Investigate TimescaleDB"
Investigate [this](http://docs.timescale.com/v0.9/introduction/timescaledb-vs-postgres) approach.
Maybe we can make our current solution even faster?
But the question is - do we need this now?
Maybe it is an over-optimization?
Current solution is fast enough now, and all problems that we had with [b]influx[/b] are gone.

https://github.com/timescale/timescaledb
cc @jberkus @dankohn

[2018-05-29 16:43] jberkus commented on #111
Yeah, the main thing for us at this stage is to figure out how often this happens.

[2018-05-30 07:27] #74 closed

[2018-05-30 09:06] lukaszgryglicki commented on #72
Any news here? progress?

[2018-05-30 09:08] lukaszgryglicki commented on #111
@jberkus take a look at [this](https://github.com/igrigorik/gharchive.org/issues/171)

[2018-05-31 21:14] jberkus commented on #111
So, where does this leave us?  It kinda seems like we've just discovered that our primary way to get data out of github isn't reliable.

[2018-05-31 23:53] jberkus commented on #112
I think we should look at it later.  Right now we have more serious data issues, and migration from Postgres should be simple whenever we do it.

[2018-05-31 23:55] jberkus opened #113 "Data loss for PRs is more severe than for Issues"
Lukasz,

So I was trying to use the database to run some reports on PRs in 1.11.  However, according to the database we have 160 open PRs (and 38 closed ones).  In reality, we have 41 open PRs (and 127 closed ones).

It seems like *most* of the time, close events aren't getting through, and a lot of change milestones aren't either.

[2018-06-01 02:14] dankohn commented on #113
If you put together a really clear set of examples, we can escalate this to
Sam Lambert at GitHub to get it extra attention.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Thu, May 31, 2018 at 7:55 PM, Josh Berkus <notifications@github.com>
wrote:

[2018-06-04 12:40] lukaszgryglicki opened #114 "Add helm project"
- [x] Add Helm project (GHA data & TSDB data).
- [x] Remove `helm` data from Kubernetes project.
- [x] Add script to allow removing specific repo list from database.
- [x] Regenerate Kubertnetes TSDB after this.
- [x] Update repo groups config for "All CNCF" project -> move part of Kubernetes data into Helm and add `helm` org.
- [x] Regenerate TSDB for All CNCF after update.
- [x] First implement

[2018-06-04 13:39] lukaszgryglicki commented on #114
Will be ready tomorrow.

[2018-06-04 14:21] lukaszgryglicki opened #115 "Update all projects to use new contributors definition"
Contributors were defined as people who:
- Made a commit
- Created an issue
- Created a PR.

Add people who:
- Comment on commit, issue or PR.

- [x] All k8s metrics
- [x] All other projects metrics
- [x] On test and prod servers.

[2018-06-05 07:04] lukaszgryglicki commented on #115
Done, closing.

[2018-06-05 07:04] #115 closed

[2018-06-05 07:04] lukaszgryglicki commented on #114
Done, closing.

[2018-06-05 07:04] #114 closed

[2018-06-05 15:33] lukaszgryglicki opened #116 "URL includes encoded documentation when drop-down value changed"
Bug: URL includes encoded documentation when drop-down value changed
When such URL is copied and then pasted it is no longer working.

[2018-06-05 15:33] lukaszgryglicki commented on #116
Will work on this tomorrow.

[2018-06-05 17:17] dgrizzanti opened #118 "Missing author login from gha_commits"
I've noticed that the actor login being stored in gha_commits for a merged PR is the person who merged the PR. The `author_name` field has the commit author's name, but it would be helpful if the `author_login` was also stored.

Was it intentional to leave this out or just an oversight? I think it would be helpful when gathering metrics for commits to have the unique author username.

Here is an e

[2018-06-06 05:28] lukaszgryglicki commented on #116
I've researched Grafana configuration options and didn't find any solution for this.
I've googled a bit and foun d information that grafana always include all template variable values in the url.
But this template variable is hidden and cannot be changed from the UI. It just holds docs.
So I think there is no sense to include its value in URL.
I've created issue on Grafana asking to add support fo

[2018-06-06 05:56] lukaszgryglicki commented on #118
We are not skipping data from GH events.
This is what we get from GHA for `PushEvent` (for example merge):
https://github.com/cncf/devstats/blob/master/analysis/new_0.json
For `commit` part we only have author's name and email (but email is encoded and not usable):
[code]
https://github.com/cncf/devstats/blob/master/analysis/new_0.json#L14-L24

We also have data for actor who made a `PushEvent`:
[

[2018-06-06 09:16] lukaszgryglicki opened #119 "Create new website for cncftest.io and devstats.cncf.io"
As per discussion on DevStats meeting and on slack.
This issue will be used for public discussion.

I've created new static pages for both sites.
- They include short devstats description (what is this etc.).
- They use projects icons to poiunt ot their devstats pages.
- They list databases dumps available by smaller project icons.
- Pages are simple and statc - but @austbot can use icons hrefs/pa

[2018-06-06 13:42] lukaszgryglicki commented on #119
So first comments:
- Currently we are using Apache not nginx. is this a problem for you? I would rather avoid running two different servers.
- There will be a go program that will create requested JSONs daily (but I can also give you this data hourly for webpage being more "up to date")
- Activity totals:
- this is a total for all CNCF projects combined right?
  - commits daily/weekly/monthly - no

[2018-06-06 14:57] dgrizzanti commented on #118
@lukaszgryglicki understood and thanks for the explanation. Kind of a bummer that this info isn't available but you explanation makes sense. Feel free to close this.

[2018-06-06 14:57] lukaszgryglicki commented on #118
OK, so closing then.

[2018-06-06 14:57] #118 closed

[2018-06-06 21:50] lukaszgryglicki commented on #119
- Go program is not there yet, it will be open source of course.
- I would prefer generating stats relative to current time so for example if current hour is 4:15 PM, hour 0 will be 4 PM yeasterday, hour 1 will be 5 PM yester day ... hour 22 will be 3 PM today, hour 23 would be current hour
- Days: day 0 would be 7 days ago, day 1 would be 6 days ago, day 5 would be day ago, day 6 will be today/cu

[2018-06-07 04:35] lukaszgryglicki commented on #119
OK, so I have all data I need.
I can start working on cron tool somewhere around tomorrow not earlier.

[2018-06-07 09:50] lukaszgryglicki commented on #119
As per disussion on slack.
@dankohn can you create `cncf/devstats-website` repo that will hold all website development?

[2018-06-07 11:46] dankohn commented on #119
Done.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Thu, Jun 7, 2018 at 5:50 AM, Łukasz Gryglicki <notifications@github.com>
wrote:

[2018-06-07 12:00] lukaszgryglicki commented on #119
Thanks!

[2018-06-07 16:33] lukaszgryglicki opened #120 "Update Travis to use Postgres 10"
https://github.com/cncf/devstats/blob/13b2dd598c4f4b019c819df5912eaa808b6c58f4/.travis.yml#L35
Forgot to update Travis cfg to use Postgres 10 when I've updated DB on test/prod 9->10.

[2018-06-07 17:17] lukaszgryglicki commented on #120
Done, but LOL Travis is not yet ready for that and suggests "hack" that disabled 9.X first and starts 10 on non-standard port 5433.
See https://docs.travis-ci.com/user/database-setup/#Using-a-different-PostgreSQL-Version
Needed 5 commits to making it work finally.
Psql 10 is out there quite a long ago, so Travis is **a bit** behind the world.

[2018-06-07 17:17] #120 closed

[2018-06-08 07:25] lukaszgryglicki opened #121 "Broken GHA JSON halted sync 2018-06-08 2 AM - critical"
More details here: https://github.com/igrigorik/gharchive.org/issues/190

[2018-06-08 07:38] lukaszgryglicki commented on #121
When I remove broken bytes (0's) JSON is still not parsable:
[code]

[2018-06-08 07:55] lukaszgryglicki commented on #121
OK I've added a mode that allows skipping single JSON from JSON array.
So this is 860th JSON out of 51797 JSONs in 2018-06-08 2 AM.
I'm just ignoring it, but if possible please fix, because I only allow broken JSON when special ENV flag is set, to avoid overlooking more such cases in the future.

It is no longer critical, but say "good to have".

[2018-06-08 09:16] lukaszgryglicki commented on #121
This is already "handled" and data is now OK, but leaving it open for few days for reference.

[2018-06-08 09:32] lukaszgryglicki opened #122 "Git pull terribly slow but only on the test server"
Struggling witrh this 2,5 hours already (in addition to broken GHA JSON [issue](https://github.com/cncf/devstats/issues/121)).
Maybe they're related maybe not - I don't know.

I detected that our get-repos tool is taking 14 minutes to update repos (hurly update) while it was taking about 10-20 seconds usually.

Double checked everything, including commenting out `git`/`GitHub` related calls to com

[2018-06-08 10:32] lukaszgryglicki commented on #122
Now also GitHub API calls fails intermittent with:
[code]

Any ideas?

[2018-06-08 10:33] lukaszgryglicki commented on #122
Similar but many years ago: https://github.com/kubernetes/kubernetes/issues/13382

[2018-06-08 10:38] lukaszgryglicki commented on #122
That only happens on The test server and after searching google it seems like it is sometimes ISP related, maybe I'll ask packet.net team...

[2018-06-08 11:12] lukaszgryglicki commented on #119
Part generating `projects.json` is ready.
This is the generated JSON: https://cncftest.io/jsons/projects.json
[Tool](https://github.com/cncf/devstats/blob/master/cmd/website_data/website_data.go) is not connected to cron yet.

[2018-06-08 11:19] lukaszgryglicki commented on #122
That ***definitely** was GitHub/git fault!!

Now - just as nothing happened - all returned to normal.
`get_repos` is taking about 10-15s to finish.

Leaving it open for a while for reference %$#%##@%#^ ??

[2018-06-08 12:01] lukaszgryglicki commented on #119
I've also added data structures to hold both main (metadata) projects.json and per-project (stats) project-name.json.
See: https://github.com/cncf/devstats/blob/master/cmd/website_data/website_data.go#L13-L52
Main metadata projects.json is ready.
STUB per-projects stats JSON files were generated too, they have the structure but no data yet, see:
http://cncftest.io/jsons/
For example:
https://cncft

[2018-06-11 09:44] lukaszgryglicki commented on #119
All JSONs generated and cron job created.
See (production): https://devstats.cncf.io/jsons/
See (test): https://cncftest.io/jsons/

[2018-06-12 10:53] lukaszgryglicki commented on #122
Closing, all works OK now, seems like it was a gitHub issue.

[2018-06-12 10:53] #122 closed

[2018-06-12 10:53] lukaszgryglicki commented on #121
Also fixed on GHA side by @igirgorik, closing.

[2018-06-12 10:53] #121 closed

[2018-06-12 10:55] lukaszgryglicki commented on #116
I will try to implement this in Grafana tomorrow or Thursday.
I'll also try to upstream this by creating PR on grafana/grafana.

[2018-06-13 12:34] lukaszgryglicki commented on #116
Created PR that implements this: https://github.com/grafana/grafana/pull/12259
Issue here: https://github.com/grafana/grafana/issues/12174#issuecomment-396921234

I need to find a way to create package from a branch - so I can update our Grafanas to have that option turned on before it gets merged.

[2018-06-14 05:53] lukaszgryglicki commented on #116
Fixed by patching Grafana on both test & prod (PR is not merged yet and there is no decision if they need JSON only or UI implementation).

Once (if?) Grafana PR is merged no patched installation will be needed, for now I'm applying [this patch](https://github.com/cncf/devstats/blob/master/grafana/patches/teamplate_variable_value_optional_remove_from_url.patch) to grafana and generating install pa

[2018-06-14 08:18] lukaszgryglicki commented on #116
All Kubernetes dashboards updated, URLs now contain only variables that are changeable for users.
Same for all other CNCF projects.
Done on test & prod servers.
Closing.

[2018-06-14 08:18] #116 closed

[2018-06-14 08:19] lukaszgryglicki opened #123 "Create Ubuntu 18.04 LTS install instruction"
Create Ubuntu 18.04 LTS install instruction.

[2018-06-14 08:19] lukaszgryglicki commented on #123
Working on this. Installing fresh new Ubuntu 18.04 LTS in VirtualBox and creating instruction.

[2018-06-14 09:45] lukaszgryglicki commented on #123
Done: https://github.com/cncf/devstats/blob/master/INSTALL_UBUNTU18.md, closing.

[2018-06-14 09:45] #123 closed

[2018-06-14 16:45] lukaszgryglicki commented on #119
JSONs now have additional `timestamp` field as requested by @austbot (format `"timestamp": "2018-06-14T15:59:12.571317369Z"`).
See: https://cncftest.io/jsons/all.json

[2018-06-15 03:24] cblecker opened #124 "Inactive Org Members"
I don't know if this is something dev stats can do, but I wanted to put it out there.

I'm interested in identifying inactive members of the Kubernetes org. From a defined set of Github users, I'd want to flag anyone who hasn't taken a GH action (comment, review, open issue, open PR) on any Kubernetes org repo in the last 3 months, and identify their username and the time since last action on a re

[2018-06-15 04:55] lukaszgryglicki commented on #124
No problem, I just need that "defined set of GitHub users"
I can even do more - I can identify GitHub users who have been active but more than 3 months ago.
This can be a dashboard but I can also just execute SQL to provide this info one time.

[2018-06-15 15:12] grodrigues3 commented on #124
This sounds great.

[2018-06-15 15:13] lukaszgryglicki commented on #124
Just let me know what do you want, I'll work on this on Monday.
The more details the faster I'll do it.

[2018-06-15 23:47] cblecker commented on #124
@lukaszgryglicki That's awesome! Let me get back to you on the list.. right now org membership isn't completely public, and I'm trying to find out what that's going to look like. Might take a few days to figure out, but this isn't a super urgent task either.

[2018-06-16 06:19] lukaszgryglicki opened #125 "Investigate GitHub events API to fix missing events from GHA"
As disussed on zoom call.

[2018-06-19 14:11] lukaszgryglicki commented on #113
Needed to create really smart algorithm to hanlde rate limits/abuse - still testing it under very heavy multi-sync per hour load.
Created adaptive algorithm (it adjusts number of threads calling GitHub API and wait time when abuse/API limit reached), will be run for tests untill tomorrow on the test server.
It uses GitHub Repo/Issue events API instead of checkign issues that were recently updated

[2018-06-20 13:38] lukaszgryglicki commented on #125
wip, currently testing on the test server.

[2018-06-20 13:55] lukaszgryglicki commented on #111
@jberkus do we also miss PR merge events?
I'm quite sure we don't because k8s-bot comments when merging from submit-queue.
Asking because all Repos/Issues/Events API that I've tried are not returning PR state.
The only info I can get from those APIs is event type = "merged"
For `github.go` sources:
[code]
I was about to try to create some smart PR state objects (as mirror to the Issue) but I'm qui

[2018-06-20 15:18] lukaszgryglicki commented on #111
@jberkus nevermind, after a lot of research I see that for issues that are PRs `IsPullRequest() == true` I would have to call GH PR API anyway - to make sure we have a correct state for a PR.

[2018-06-20 18:29] lukaszgryglicki commented on #111
@dankohn @jberkus finally after another 13-14 hours struggling I think I may have something that will work for us.
I've installed cron on the test and will see results tomorrow - hopefully after 10 successful syncs.
It should handle all we need: changing state of
- Issue
- PR
Due to
- Labels, Milestone, state: Closed/Reopened, Renamed and much more
I'm using GH API to detect what changed recently,

[2018-06-20 19:02] lukaszgryglicki commented on #111
It is even better than what we have before.
Before we were querying current issues state - that were modified recently. But we could miss the updated issue when no event was recorded - it wasn't treated as recently modified then.

Now we're querying GitHub events API to get recent events and then we're getting issues state from the past and for the PRs (issues which are PRs) we're additionally que

[2018-06-20 19:03] lukaszgryglicki commented on #125
Let's continue discussion [here](https://github.com/cncf/devstats/issues/111), closing this as a duplicate.

[2018-06-20 19:03] #125 closed

[2018-06-20 19:04] lukaszgryglicki commented on #113
PR case **should** also be handled - I'll see how it works tomorrow.
Let's continue discussion [here](https://github.com/cncf/devstats/issues/111), closing this as a duplicate.

[2018-06-20 19:04] #113 closed

[2018-06-21 22:34] cblecker commented on #124
@lukaszgryglicki Thanks for your patience! Got a copy of the org posted here: https://github.com/kubernetes/org/blob/master/kubernetes/org.yaml

Priority wise, again, this isn't super urgent. A nice to have when there is cycles. Thank you!

[2018-06-22 00:09] alexcourouble opened #126 "Impossible to install with current HEAD"
Hi,

I wasn't able to install devstats with the current head. I checked out [this commit](https://github.com/cncf/devstats/commit/d1e70145586da0ad4789b50c736f19081bfb471f), which seems to work.

I don't have the exact error message, but the error occured while executing `make`. It seemed to be related to the vet package.

[2018-06-22 05:54] lukaszgryglicki commented on #124
This is my last day before 2 weeks vacation. I'll try to get that list for you today.

[2018-06-22 05:56] lukaszgryglicki commented on #126
Will check on the next build.
You should try `production` branch - this should always work. `master` can be sometimes broken.

[2018-06-22 06:50] lukaszgryglicki commented on #124
So this is done.

- Created [sql query](https://github.com/cncf/devstats/blob/master/util_sql/inactive_org_members.sql) that returns inactive org members data for given `{{period}}`.
- Created [shell script](https://github.com/cncf/devstats/blob/master/util_sh/inactive_org_members.sh) to run that query, you can run it like this: `PG_PASS=... ./util_sh/inactive_org_members.sh '3 months'`.
- Saved r

[2018-07-09 06:17] lukaszgryglicki commented on #126
Strange. My `go vet` is not detecting this error, but you are right.
Can you check now?
hat is your go version?

[2018-07-09 06:35] lukaszgryglicki commented on #124
Closing this, please let me know if you want to reopen.

[2018-07-09 06:35] #124 closed

[2018-07-09 06:35] lukaszgryglicki commented on #112
Closing this.

[2018-07-09 06:35] #112 closed

[2018-07-09 06:36] lukaszgryglicki commented on #111
Can we close this?

[2018-07-09 06:39] lukaszgryglicki opened #127 "Add kubernetes-csi org to Kubernetes and All CNCF projects."
See https://github.com/cncf/gitdm/issues/54

[2018-07-10 09:59] lukaszgryglicki commented on #127
Org added on both test & prod, closing this. `cncf/gitdm` is still wip with new data.

[2018-07-10 09:59] #127 closed

[2018-07-10 18:45] jberkus commented on #111
Nope, we are still missing events.

From Github UI:

[code]

From database:

[code]

So it's *still* the case that close/merge/change milestone events are not getting through to the database.

Three example PRs which are closed in GH, but not in Devstats:

* 56358
* 62692
* 64883

[2018-07-10 18:47] jberkus commented on #111
FWIW, it does look like all PRs assigned to the milestone are being recorded.  It's just closing them or changing their milestone which isn't.

[2018-07-10 19:54] lukaszgryglicki commented on #111
I'll take a look tomorrow at first glance:
- We may have up to hour lag before devstats get data for a given hour.
- Some events could happen before we started to use GH API to get this new events (but such event must have happened more than 16-18 days ago), so we're not in sync for them yet
- Your select refers to non-existing tables - this is some shortcut, right? Anyway I'll check those PRs sta

[2018-07-11 00:01] jberkus commented on #111
The "issues" table is a materialized view in the devstats_team schema.

None of these events occurred in the last hour (the one for the first PR was 20 days ago).

Ah, yeah, if we're not in sync for those, that could explain it.  I'll look specifically for missing events in the last week.

Yes, they're k/k PRs.

[2018-07-11 11:22] lukaszgryglicki commented on #111
I'll probably take a look at this tomorrow, I have a lot of work with updating affiliations (including some unexpected small bug fixes and then retries). Sorry.

[2018-07-12 05:36] lukaszgryglicki commented on #111
From GitHub UI: `is:pr is:open milestone:v1.12` -> `6 Open 16 Closed`.
From your MV (materialized view) after refresh: `select state, count(*) from current_state.issues where is_pull_request and milestone='v1.12' group by state` --> `Open 14 Closed 9`.

`select string_agg(number::text, ', ') from current_state.issues where is_pull_request and milestone='v1.12' and state = 'open/closed'`

Open in G

[2018-07-12 05:46] lukaszgryglicki commented on #111
For example you mentioned 62692 (I've analyzed this first because you listed it as wrong while I didn't detected it as a wrong):
https://github.com/kubernetes/kubernetes/pull/62692
Its state was wrong yesterday, but is OK today because:
- 18 days ago `k8s-bot` removed the milestone (but due to how it works bot commented first (that was registered by devstats) and then removed milestone - which gen

[2018-07-12 05:51] lukaszgryglicki commented on #126
Closing because I've fixed warnings generated by `go vet`.

[2018-07-12 05:51] #126 closed

[2018-07-12 06:05] lukaszgryglicki commented on #111
Open in Devstats, not listed in GH: 62723
Devstats state is: open, v.12
GH state is: no milestone, open (so it is not found in GH query then)
Bot removed v.12 milestone 19 days ago which is about the time when my GH API fix was applied...
Analysed events and I don't see any GH API events on this PR, maybe it was too early will check another ones.

[2018-07-12 06:09] lukaszgryglicki commented on #111
Open in Devstats, closed in GH: 56358
Devstats state is: open, v.12
GH state is: merged, v.12
Bot merged 22 days ago.

[2018-07-12 06:17] lukaszgryglicki commented on #111
57932: merged 21 days ago
63625: merged 22 days ago
64831: merged 21 days ago
64837: merged 22 days ago
64883: merged 21 days ago
65601: merged 12 days ago, and I see GH API events but no merge event, need to investigate this (only this PR has any GH API events)

[2018-07-12 06:35] lukaszgryglicki commented on #111
Ohhhh it seems like for all those PRs correct events (merge, close) are registered (after GH API fix is started) but on the `gha_pull_requests` table, `gha_issues` only holds data shared between issue & PR - this is a GitHub data structure.
Reinvestigating that way...

[2018-07-12 06:44] lukaszgryglicki commented on #111
So now:
If You define materialized view for `PRs` not underlying issues like this:
[code]

You will get "Open 7 Closed 16"
GitHub says "Open 6 Closed 17"

So we're one off - nvestingating this single case...

[2018-07-12 07:11] lukaszgryglicki commented on #111
`select string_agg(number::text, ', ') from current_state.prs where milestone='v1.12' and state = 'open';`

The last problematic on PR have milestone removed from `issue` not `PR` but this is strange investigating, maybe milestones **are** placed on the issue while PR related data on the `pr` - this seems to be an odd case anyway.

[2018-07-12 07:40] lukaszgryglicki commented on #111
@jberkus You are using `issues.dup_created_at AS created_at,` in you mat views definition.
`dup_created_at` comes from event creation date, so for example `issues` will have `created_at` from last event (rank = 1)
You should use:
[code]

[2018-07-12 08:13] lukaszgryglicki commented on #111
For issues case:
GH says: 17 open, 1 closed.
Devstats says: 16 open, 1 closed.
`select string_agg(number::text, ', ') from current_state.issues where milestone='v1.12' and state = 'open' and is_pull_request = false and repo_name = 'kubernetes/kubernetes'`

Devstats returns: 17130, 60712, 51540, 57618, 64164, 62747, 64627, 64530, 65122, 65021, 65392, 65225, 65266, 65718, 65494, 65972
GH returns: 65

[2018-07-12 08:33] lukaszgryglicki commented on #111
62747: we are missing final bot milestone removal, no idea why :-(
58222: bot added milestone on Jun 5 (so GH API fix was not there yet) but then bot commented 22 days ago - we don't have that event at all (seems like GHA missed this which is a known bug) no more events happened later, so I think this case is explained.
58010: we are missing last bots comment (from 12 days ago) but we're also miss

[2018-07-12 08:37] lukaszgryglicki commented on #111
Summing up:
Some issues are from missing GHA events and then no GH API activity after 19 days ago.
But it seems like we're also missing some GH API activity sometimes, but in other cases all is OK.
@jberkus
- Please use suggested `current_state.prs` for querying PRs related informations
- please do not use `dup_created_at` as a issue/milestone creation date in your mat views because it refers to e

[2018-07-12 10:32] lukaszgryglicki commented on #111
So I've examined my GH API code and I think it should be OK. I was skipping some certain APi events (referenced, mentioned, subscribed, unsubscribed, head_ref_deleted, head_ref_restored) becaus ethey're not changing issue/PR state.
But maybe it is worth to record them in case we missed something before, so there is a more chances that we can get updated stated.
I've did that.

I don't know why we

[2018-07-12 13:52] lukaszgryglicki commented on #111
New manual sync tool ready, only need some debug info tweak in both manual and automatic tools.
kind of work in "dry run" mode without DB changing but pointing to what should be fixed.

Tomorrow I will have to tweak both tools for special debug info and see what events automatic tool receives (I hope there is a bug in *my code* and gitHub correctly sends all events) and what is the correct state r

[2018-07-12 17:45] jberkus commented on #111
Ok, let me know when you want me to check the data again.

[2018-07-12 18:09] lukaszgryglicki commented on #111
Will do.
The best possible option (unrealistinc) is tomorrow - assuming that very deep debug will find some problem on my side
The other estimate is unknown.

But I will do my best to fix this ASAP.

[2018-07-12 20:10] jberkus commented on #107
Can we close this?  None of our current issues have anything to do with data storage backend.

[2018-07-13 05:11] lukaszgryglicki commented on #111
back on this.

[2018-07-13 09:39] lukaszgryglicki commented on #111
Hmm I've added a lot of debugging and I'm beginning to think that some events are *NOT* send by GH.
example:
- I've subscribed to k/k 62747
- I've waited 10 mins (to be sure)
- I've received NO GH events (issue events API) about my subscription

GH API says:
[code]

The good part is that I've added handlers to all possible current event types and even warning when new unknown/unhandled event is re

[2018-07-13 10:23] lukaszgryglicki commented on #111
I've subscribed and then 9after some time) unsubscribed to all of PRs/Issues with incorrect state for k/k and milestone v1.12.
No GH API events were returned.
But the code (tripple checked) seems to be ok and many other such "(un)subscribe" events are recorded... the good news is that manual sync tool is able to fix any arbitrary (given by sql) set of issues/PRs.
Also when processing all possible

[2018-07-13 12:38] lukaszgryglicki commented on #111
I'm able to fix data (on the test server) - fixed all last weeks events. But I need to confirm all is OK with this, and also enchanced version of automatic sync will run during the weekend (on the test server only) - I hope that this enchanced version will not generate any out-of-sync data so manual hack won't be needed.

[2018-07-13 18:29] jberkus commented on #111
Can you do a technical writeup of this that we can forward to GitHub?

[2018-07-13 18:31] lukaszgryglicki commented on #111
Not yet. I don't want to write to Github when I'm not sure if the problem is not on my side.

[2018-07-14 05:32] lukaszgryglicki commented on #111
We can eventually send a question to GH:

Hi, I'm using `ListRepositoryEvents`: `https://developer.github.com/v3/issues/events/#list-events-for-a-repository` to get a list of events for a selected repository.
Is it possible that this function does not return all events?

Documentation says:
[code]

I'm opening given repos Issue or PR, subscribing to it then eventually unsubscibing after 10 minutes

[2018-07-16 06:18] jberkus commented on #111
Can we isolate a specifc merge event we don't get?

[2018-07-16 06:52] lukaszgryglicki commented on #111
For example this one: https://github.com/kubernetes/kubernetes/pull/65601
we are missing final bot merge event.
but to really check if no such event was fired I would have to call `ListRepositoryEvents` so many times on `k/k` repos to dig 18 days ago.
It returns 100 events max per page, and in a business days this is something about 1 hour.
This is why I've tested on (un)subscribe events myself.
I

[2018-07-16 08:17] lukaszgryglicki commented on #111
No... this is not this event.
We just had 3 events at the same exact second.
By my algorithm (even the first 20 day old version) deals with this and registers the final state.
And in case of this PR the final state *was* recorded OK - solution was the "current_state.prs" table instead of "current_state.issues".
For this https://github.com/kubernetes/kubernetes/issues/62747 I don't get the "demiles

[2018-07-16 10:17] lukaszgryglicki commented on #111
I've fixed that data (manually updated all issues/PRs from v1.10, v1.11, v1.12 and with no milestone updated during last month) on both test & prod:
PRs:
[code]
![screen shot 2018-07-16 at 12 10 55](https://user-images.githubusercontent.com/2469783/42753466-58b00588-88f1-11e8-8831-96c951d5b56e.png)

Issues:
[code]
![screen shot 2018-07-16 at 12 16 08](https://user-images.githubusercontent.com/2469

[2018-07-21 06:07] lukaszgryglicki commented on #111
I think data should be OK now. I was checking current state issues/PRs every day this week, and they were in sync with GitHub.

[2018-07-25 09:38] lukaszgryglicki opened #128 "Bot commands have no data after 2018-07-15"
This is a bug, I'm fixing now.

[2018-07-25 10:37] lukaszgryglicki commented on #128
Fixed the problem, now regenerating affected dashboards on the test server.

[2018-07-26 10:12] lukaszgryglicki commented on #128
Data regenerated, closing.

[2018-07-26 10:12] #128 closed

[2018-07-26 22:51] Phillels opened #130 "Graph Grouping"
ephillip@redhat.com

Please group graphs according to the second tab of this sheet: https://docs.google.com/spreadsheets/d/1qjjkrDzzKf4ct2rMpdfiLPHOyGFrsjA8VI9s8kIH7qc/edit?usp=sharing

[2018-07-27 05:07] lukaszgryglicki commented on #130
I'll try to use Grafana dashboard folders. I'll first implement on the test server for review.

[2018-07-27 05:47] lukaszgryglicki commented on #130
Home dashboard (main page) cannot be moved to the subfolder. It is a special dashboard that needs to be in the main folder and must be starred to be able to serve as the main page. Updated linked google doc.

[2018-07-27 07:18] lukaszgryglicki commented on #130
So I've added grouping by folders in addition to selecting them by tags.
You can expand/collapse folders when selecting from the main dashboards drop down.
You can see separate folders list in the home dashboard panels.
![screen shot 2018-07-27 at 09 17 22](https://user-images.githubusercontent.com/2469783/43307263-02c03fa4-917e-11e8-9199-502de47a73d7.png)
![screen shot 2018-07-27 at 09 17 33](htt

[2018-07-27 07:19] lukaszgryglicki commented on #130
Closing this, let me know if you want to reopen.

[2018-07-27 07:19] #130 closed

[2018-07-31 21:08] isaachier opened #132 "Incorrect GitHub developer company info"
Incorrect company information for me. I work at Uber. Used to work at Bloomberg ~1 year ago.

[2018-08-01 05:25] lukaszgryglicki commented on #132
I'll implement this on cncf/gitdm side and then sync devstats. Thanks for an info.

[2018-08-01 06:49] lukaszgryglicki commented on #132
Updated cncf/gitdm, imported new config into cncf/devstats and regenerated all charts on both test & prod server, closing.

[2018-08-01 06:49] #132 closed

[2018-08-01 06:50] lukaszgryglicki commented on #111
10 days in the row - number of open/closed issues/PRs in sync with GitHub.

[2018-08-01 08:49] isaachier commented on #132
Thanks!

[2018-08-01 16:37] jberkus commented on #111
OK, seems like a pass.  Thanks so much for figuring out how to fix this!

[2018-08-01 16:37] #111 closed

[2018-08-03 20:29] jberkus opened #134 "Wrong categories in graph headers"
1. Scroll down to "Contributor statistics dashboards"
2. Click on "Bot activity"
3. See header on the Bot Activity graph page:

[code]

That should say:

[code]

[2018-08-03 20:32] jberkus commented on #134
ON a further check, it looks like the category headers are having an "off by one" error.  Because the Community dashboards say "Contributor Statistics".

[2018-08-07 05:57] lukaszgryglicki commented on #134
fixed, thanks for reporting.

[2018-08-07 05:57] #134 closed

[2018-08-15 19:16] caniszczyk opened #136 "Add TiKV"
https://github.com/tikv

TiKV is on its own to the CNCF Sandbox on Aug 28th

[2018-08-15 19:17] lukaszgryglicki commented on #136
Thanks, I'll be prepared for this to enable during the OSS Vancouver.

[2018-08-20 12:55] lukaszgryglicki commented on #136
TiKV is ready to be enabled anytime.

[2018-08-21 05:37] lukaszgryglicki opened #137 "Kubernetes orgs"
Following [this file](https://docs.google.com/spreadsheets/d/1MQwsWGuQvJc_RepCFgQ9HleQD2m3-_2k8utGcPaVHKY/edit#gid=289132963) kubernetes has 18 official orgs.
Currently, we're following 5 of them: `kubernetes,kubernetes-client,kubernetes-incubator,kubernetes-csi,kubernetes-helm` and `kubernetes-helm` belongs to `Helm` project.

Should I add all remaining official orgs to the kubernetes project?
cc

[2018-08-21 10:57] dankohn commented on #137
Yes.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Tue, Aug 21, 2018 at 1:37 AM, Łukasz Gryglicki <notifications@github.com>
wrote:

[2018-08-21 11:00] lukaszgryglicki commented on #137
Ok, I've already added on the test server, so now I'll do the same on the prod.

[2018-08-21 13:09] lukaszgryglicki commented on #137
Updated test & prod, closing.

[2018-08-21 13:09] #137 closed

[2018-08-21 22:14] huygaa11 opened #138 "How to get data straight from github archive?"
I am trying to run devstats without flag `GET=1` to pull data from github archive directly.

When I run the following command with `GET=1` flag, it populates the databases correctly, pulling from cnctest. I can see the Kubernetes dashboards on Grafana.

    EXTERNAL=1 SKIPTEMP=1 INIT=1 PG_PASS=p PG_PASS_RO=p PG_PASS_TEAM=p ONLY=kubernetes SKIPWWW=1 GET=1 GHA2DB_PROJECTS_OVERRIDE="+cncf" ./devel/de

[2018-08-22 05:45] lukaszgryglicki commented on #138
[code]
You will need a `devstats` database as well. `gha_logs` should be in `devstats` database. can you paste the exact output of your `deploy_all.sh` call?
[code]
You need to have a custom `projects.yaml` file. You need to remove all existing projects from this file and create new one, just like you would add new project following `ADDING_NEW_PROJECT.md`.
[code]
To clean up the logs, `log.go` ne

[2018-08-22 13:15] lukaszgryglicki commented on #138
I will have a step-by-step guide about how to install for a single project tomorrow.

[2018-08-22 15:20] lukaszgryglicki commented on #138
Managed to create a step-by-step guide today.
- See [this repo](https://github.com/cncf/devstats-example). It implements simple DevStats deployment for a simple project (Homebrew org picked as an example).
- See [this link](http://147.75.97.234:3001) to see an effective deployment. - It uses no Apache proxy, no SSL certs, and no DNS / domain names. It is just a static IP server with Grafana runnin

[2018-08-29 12:27] dims opened #139 "Contributor focused page with commits, reviews"
Background:
- https://github.com/kubernetes/community/issues/1808
- https://github.com/kubernetes/kubernetes/pull/67980

OWNERS files and OWNER_ALIASES files in various kubernetes repositories frequently go stale. This is because when folks drop out of active contributions when they move on to other projects etc, their entries are not updated. So we need a way to gauge a single contributor's activ

[2018-08-29 13:33] lukaszgryglicki commented on #139
I'm not sure what to do with this? Is this a new dashboard(s) request?

[2018-08-29 13:55] dims commented on #139
@lukaszgryglicki yes, a new dashboard would be good!

[2018-08-29 14:37] lukaszgryglicki commented on #139
I would need an exact description for each dashboard required. The more details, the faster new dashboard will be implemented.
It should also go through [this](https://github.com/cncf/devstats/projects/1).

[2018-09-03 06:24] lukaszgryglicki opened #140 "DevStats API"
I see that few projects are using DevStats as a data source. Maybe we should add some kind of API server to DevStats? If so, we nee a specification of such an API server, for example, RESTful API in OpenMetrics server. I need a community feedback here.

[2018-09-04 14:14] spiffxp opened #141 "Cleanup kubernetes orgs"
The list of kubernetes orgs in projects.yaml does not match [the list of actively used github orgs](https://github.com/kubernetes/community/tree/master/github-management#actively-used-github-organizations) as defined by the project.

Specifically, kubernetes-sigs is missing, and many orgs are included which are not used (just squatted on)

[2018-09-04 14:27] lukaszgryglicki commented on #141
I will update this, but I don't see a way of doing this automatically atm. Especially because changing this list would also affect "past data" which requires regenerating.

[2018-09-05 06:47] lukaszgryglicki commented on #141
Working on this.

[2018-09-05 07:10] lukaszgryglicki commented on #141
I think that I can keep everything in sync if you notify me about changes. Maybe it is possible to add instructions [here](https://github.com/kubernetes/community/tree/master/github-management#actively-used-github-organizations) to notify me about changes - for example via [email](lgryglicki@cncf.io), slack channel (#devstats) or by creating issue here.

[2018-09-05 12:12] lukaszgryglicki commented on #141
I'm regenerating all data for K8s (on the test server). I had a few minor problems related to k8s DB not being regenerated from scratch after new API events were introduced (and they can only be generated for current not past events), so I needed to start again and use the previous database dump to restore past API events - slight workflow modification. It will be ready today or at worst case tomo

[2018-09-05 12:13] lukaszgryglicki commented on #139
I can't start working on this without specs...

[2018-09-05 12:13] lukaszgryglicki commented on #136
TiKV was added during the OSSummit Vancouver, closing.

[2018-09-05 12:13] #136 closed

[2018-09-05 16:45] lukaszgryglicki commented on #141
This is done on both test & prod. I will need to update 'All CNCF' project (containing the summary for all CNCF projects including K8s) tomorrow, but this is out of the scope of this task.
Closing this, @spiffxp please reopen if needed.

Final note for @spiffxp
[code]

[2018-09-06 18:51] dankohn commented on #141
I think it would be better for DevStats to checkout the relevant sig list
on a daily basis and issue a warning if it has changed. There's no need to
add @spiffxp to the loop.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Wed, Sep 5, 2018 at 12:45 PM, Łukasz Gryglicki <notifications@github

[2018-09-07 05:59] lukaszgryglicki commented on #141
OK, I need to find a way to automate this.

[2018-09-07 16:48] spiffxp commented on #141
Honestly for this case I'm fine not automating right now.  Our goal is to stick to just these orgs, maybe shrink to fewer.  If we do, we'll come back and talk to you.

We're moving to a world where we'd like our org/repo configuration to be file driven, so there's likely a set of machine-readable files I could point you at by then.  We're using https://github.com/kubernetes/org for the org managem

[2018-09-07 16:50] lukaszgryglicki commented on #141
So I'll be checking manually periodically and please inform me when something more suitable for automation is ready to be used. Thanks.

[2018-09-07 16:52] dankohn commented on #141
OK, let's leave it manual for now, but please feel free to re-engage with
Lukasz if you'd like DevStats to be the guinea pig in confirming that
future mappings are complete and coherent.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Fri, Sep 7, 2018 at 12:48 PM, Aaron Crickenberger <
noti

[2018-09-18 02:00] spiffxp commented on #141
Closing as good enough for now

[2018-09-18 02:00] #141 closed

[2018-10-03 16:56] jonasrosland commented on #35
I think this is a fantastic idea. There's so much data collected and presented it can be overwhelming if you're new to it and not sure what the graphs mean. Having a "getting started" guide could prove to be very useful.

[2018-10-12 07:37] hidekazuna opened #144 "Incorrect golint installation procedure"
This is a documentation bug  report.

"go get -u github.com/golang/lint/golint" is used in INSTALL_xx.md, but the command does not create binary. "go get -u golang.org/x/lint/golint" should be used.

[2018-10-12 07:46] lukaszgryglicki commented on #144
Possible, this is vendored some time ago.
Please create a PR or I will take a look at this later.
Thanks.

[2018-10-15 05:46] lukaszgryglicki commented on #144
Fixed by 443609e766d2e5cf4dd027a5f6410c94a47c1794, closing. Thanks.

[2018-10-15 05:46] #144 closed

[2018-10-15 05:48] lukaszgryglicki commented on #140
Some very initial API started here: https://github.com/cncf/devstats/blob/master/cmd/devstats_api_server/devstats_api_server.go
We may switch to ElasticSearch API...

[2018-10-17 04:45] lukaszgryglicki commented on #140
ElasticSearch chosen as a new alternate data API (so every metric will be able to optionally output to ES), will start some POC implementation during the next weeks.

[2018-10-18 11:13] nikhita opened #146 "Feature Request: Add country option to the developer activity dashboard"
Currently, the [developer activity count dashboard](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1) has the following drop down options:

- Range
- Metric
- Repository Group

It would be nice to have a fourth option for "Country" so that we can toggle the developer activity count per country.

For example, if I select "China" from the drop down list, I can

[2018-10-18 11:15] nikhita commented on #146
@dims also shared this link on Slack about raw data about contributors: https://raw.githubusercontent.com/cncf/gitdm/master/github_users.json

[2018-10-19 05:41] lukaszgryglicki commented on #146
Working on this.

[2018-10-19 08:40] lukaszgryglicki commented on #146
Done:
- This is for [China](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-country_name=China) and this is for [US](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name

[2018-10-19 08:40] #146 closed

[2018-10-19 08:44] nikhita commented on #146
@lukaszgryglicki thanks for getting this done so quick!

Quick question: where does this get the data from? I am from India and have that on my github profile (since forever) but it doesn't show my name in the [list for India](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-cou

[2018-10-19 08:51] lukaszgryglicki commented on #146
It comes from geonames.org, some algorithms try to parse GitHub location, I'll check yours and let You know.

[2018-10-19 08:54] lukaszgryglicki commented on #146
github_users.son says:
[code]

GHA database says:
[code]

So everything looks good.
How many contributions do you have? Maybe try to search on next pages?

[2018-10-19 08:56] nikhita commented on #146
@lukaszgryglicki I have `4115` contributions, checking it from [this list](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-country_name=All) for all countries.

[2018-10-19 09:19] lukaszgryglicki commented on #146
Got you.
You have an old username and then moved to GH with new user id:
[code]

I need to handle this, thanks.

[2018-10-19 09:20] nikhita commented on #146
Oh yeah! Sorry for making it more complicated for you. :grimacing:

[2018-10-19 09:21] lukaszgryglicki commented on #146
Ohh you new GitHub id doesn't have location info:
[code]
So it is not assigned to a given country.

[2018-10-19 09:47] lukaszgryglicki commented on #146
Here you go: https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-country_name=India

[2018-10-19 10:01] nikhita commented on #146
@lukaszgryglicki Yay, thanks for the quick fix! :rocket:

[2018-10-30 10:05] Frankzhaopku opened #147 "[Doc] Cannot make with the doc instructions"
'Make' will fail on Ubuntu 16 following the instructions, maybe you need to add `go get github.com/olivere/elastic` command.

[2018-10-30 10:40] lukaszgryglicki commented on #147
Fixed by 34e6901753133dba90999fa939a24659b6df5d23 thanks.

[2018-10-30 10:40] #147 closed

[2018-10-30 11:15] Frankzhaopku opened #148 "[Bug] Database dump file restore error"
On Ubuntu 16, follow instructions and no error in progress. But `sudo -u postgres pg_restore -d gha /tmp/gha.dump` command executed with following error message, not sure what's wrong.
[code]

[2018-10-30 11:38] lukaszgryglicki commented on #148
There are ready to go scripts to do that:
- ./devel/restore_db_all.sh
- ./devel/restore_db.sh
Also restoring DB from the test server is a part of new production projects deployment, it worked last time.
- What exactly are you trying to do (step-by-step)?
- Do you have a required 10.x version of PostgreSQL?

[2018-10-30 11:49] lukaszgryglicki commented on #148
-Tested now for a smaller DB (like TUF), restoring it into abc to avoid data loss.
- First abc database does not exists, all is OK:
[code]

- Then restoring onto existing abc (also all OK):
[code]

All works OK IMHO.

[2018-10-30 18:39] caniszczyk opened #149 "Jaegar starts out of date?"
https://jaeger.devstats.cncf.io/d/4/companies-stats?orgId=1&var-period=y&var-metric=activity&var-repogroup_name=All&var-companies=All

this chart seems to have stopped updating on Jan 2018

cc: @lukaszgryglicki

[2018-10-30 18:43] yurishkuro commented on #149
might be some alignment issue based on period=1Y. With smaller periods the stats are up to date.

[2018-10-30 19:31] lukaszgryglicki commented on #149
Each period is only calculated when it is full. So 2018 will be completed 1/1/19 etc.
That behavior changed sometime in this year, so partial data for 2018 is left.
Oct 2018 will be complete 11/1/18, any week will be complete on Monday etc.

[2018-10-30 19:32] #149 closed

[2018-10-31 02:09] Frankzhaopku commented on #148
I do exactly as the document said step by step. But my PostgreSQL version is 9.5.14 and I can't install PostgreSQL 10.x on Ubuntu 16 LTS maybe because of my source repository setting, but there are several posts about this on Google too. So I will try the scripts to auto restore the db file or I can only upgrade my Ubuntu to 18 LTS.

BTW, I don't see any PostgreSQL version requirement in the insta

[2018-10-31 02:12] Frankzhaopku commented on #148
Update: encounter same error with `./devel/restor_db_all.sh` script

[2018-11-03 11:42] lukaszgryglicki commented on #148
Unfortunately cannot reproduce this, never saw something similar. You can just disable `errcheck` in Makefile.

[2018-11-05 09:09] lukaszgryglicki commented on #148
errcheck, lint, usedexports, and all other "check" stuff are only needed for development to ensure correct code quality. If you just want to build you can skip even all checks.

[2018-11-05 09:10] lukaszgryglicki commented on #140
Closing this, currently I've added ElasticSearch output (raw and enriched) and no API server is needed atm.

[2018-11-05 09:10] #140 closed

[2018-11-05 10:19] Frankzhaopku commented on #148
Thx, I will have a try later. I will close this issue for now and if I have further questions about this, I will comment under this issue as well.

[2018-11-05 10:19] #148 closed

[2018-11-05 11:17] jpkrohling opened #150 "Export list of first-time contributors for a period"
This is a feature request, based on this thread: https://twitter.com/jpkrohling/status/1057292924654895104

For the Jaeger monthly newsletter, we like to recognize all our first-time contributors since the last newsletter, which usually means listing all the first-time contributors for the month: https://medium.com/jaegertracing/october-2018-newsletter-22c47541b8b1

My feature request is then to h

[2018-11-05 11:32] lukaszgryglicki commented on #150
@dankohn  this is a feature request, it will require to make a new type of tabular view, that will show data for a period (from, to) selected from the date picker. I think this requires about 2 days to implement (possibly less). let me know if I can work on this.

[2018-11-05 13:02] dankohn commented on #150
+1

[2018-11-05 13:06] lukaszgryglicki commented on #150
OK thanks, will work on this.

[2018-11-06 06:33] lukaszgryglicki commented on #150
So this should be based on PRs only? Or maybe use DevStats approach where contributor is defined as anyone who made:
- issue
- PR
- PR review
- commit
- issue comment
- commit comment
?

[2018-11-06 07:39] lukaszgryglicki commented on #150
Will implement for PRs first (just like the linked article and code), but I can also implement this for contributors defined [above](
https://github.com/cncf/devstats/issues/150#issuecomment-436145835)

[2018-11-06 10:34] jpkrohling commented on #150
For Jaeger's purpose, it's only *commit* (PR merged).

[2018-11-06 10:37] lukaszgryglicki commented on #150
OK.

[2018-11-06 11:54] lukaszgryglicki commented on #150
The dashboard is ready [here](https://jaeger.devstats.cncf.io/d/52/new-contributors-table).
You can select a single repository from the repository group drop-down or display summary for all repositories combined (repository group=All, this is the default).
You can select a date range to display new contributors from the top-right date picker (default is last month).
This is an example [report](htt

[2018-11-06 12:05] lukaszgryglicki commented on #150
Closing.

[2018-11-06 13:03] jpkrohling commented on #150
Thanks, @lukaszgryglicki ! I see some divergences for the month of October. Are you able to investigate why this is not matching? In the blog post, we see the following users as first-time contributors, but they are missing from the dashboard:

* Michael Puncel (@mpuncel)
* Annanay Agarwal (@annanay25)
* Andrew DiNunzio (@adinunzio84)

[2018-11-06 13:15] lukaszgryglicki commented on #150
`mpuncel`: this user had a PR merged on September 19th, so this is not a first merged PR in October: https://github.com/jaegertracing/jaeger-client-go/pull/333
Checking the remaining ones.

[2018-11-06 13:47] lukaszgryglicki commented on #150
I have a bug for 2nd case, but this is a deeper bug, will take some time to fix it.

[2018-11-06 14:24] nikhita opened #151 "Feature Request: New contributor dashboard for Kubernetes devstats"
Similar to https://github.com/cncf/devstats/issues/150 but for Kubernetes devstats. And I think the right dashboard group for this would be `Contributor Statistics`.

/cc @lukaszgryglicki @dims @spiffxp

---

Mentioning the Slack conversation that led to this issue:

@lukaszgryglicki said:

the question is: do we want this dashboard in Kubernetes Devstats?

For now it is possible to see Kubernetes

[2018-11-06 14:35] lukaszgryglicki commented on #150
The case with `annanay25` (2nd case) is fixed. The 3rd case `adinunzio84` cannot be fixed in an easy way - report generates data from what is available from the data source, for this particular PR we're missing merge event (it happens rarely) so, unfortunately, I cannot fix this atm. The 1st case `mpuncel` is wrong in the article IMHO.

[2018-11-06 15:02] lukaszgryglicki commented on #151
What is the category for this dashboard?
Possibilities:
- Community sizing and health assessment dashboards
- Contributor statistics dashboards
- Issue velocity dashboards
- PR velocity dashboards

cc @dankohn

[2018-11-06 15:04] nikhita commented on #151
Contributor statistics seems apt.

[2018-11-06 15:05] lukaszgryglicki commented on #151
OK, will be ready tomorrow.

[2018-11-06 15:32] lukaszgryglicki commented on #151
Dashboard created: https://k8s.devstats.cncf.io/d/52/new-contributors?orgId=1
Used `New contributors` name instead of `Contributor Statistics`, because the latter is already used as a dashboards folder (grouping) name. I can change the name but not to `Contributor Statistics`.
Let me know if you need to change the dashboard name.

[2018-11-06 15:32] #151 closed

[2018-11-06 15:35] nikhita commented on #151
This is perfect, thanks @lukaszgryglicki! I just meant that the dashboard group it should be under should be `Contributor Statistics`. :)

[2018-11-06 15:35] lukaszgryglicki commented on #151
Sorry, my bad, a bit of confusion here.

[2018-11-07 07:10] Phillels opened #152 "Add a readme to the Kubernetes devstats repo"
Have a readme that explains common terms and specifies that the Contrib-X SIG has a subproject that is tied to devstats. Language can be taken from this document: https://docs.google.com/document/d/1WswlD0oi7svkca-46IvKcbfSogjG4rU6dI9FvP_ZpfM/edit?usp=sharing

[2018-11-07 07:12] Phillels opened #153 "Add banner to kubernetes devstats dashboard to point to readme"
Could a banner be added to the top of k8s.devstats.cncf.io that points to a readme specifically for the Kubernetes devstats dashboard? Text for the banner could be taken from this doc: https://docs.google.com/document/d/1WswlD0oi7svkca-46IvKcbfSogjG4rU6dI9FvP_ZpfM/edit?usp=sharing

[2018-11-07 07:46] lukaszgryglicki commented on #152
Added link in the main project README [here](https://github.com/cncf/devstats#github-archives-and-git-grafana-visualization-dashboards) (`More informations about Kubernetes dashboards here`)
Points to [README_K8s.md](https://github.com/cncf/devstats/blob/master/README_K8s.md) which is just a copy of GitHub section from [this document](https://docs.google.com/document/d/1WswlD0oi7svkca-46IvKcbfSogj

[2018-11-07 07:47] #152 closed

[2018-11-07 07:54] lukaszgryglicki commented on #153
On it now...

[2018-11-07 08:03] lukaszgryglicki commented on #153
I've merged the new banner text with the existing text about filing an issue, is this OK for you?
https://k8s.teststats.cncf.io/d/12/dashboards

[2018-11-07 08:10] #153 closed

[2018-11-07 08:13] #150 closed

[2018-11-07 08:43] lukaszgryglicki commented on #150
I will try to fix this but I have no ETA on this, because this also requires work on the GitHub archives side.

[2018-11-07 09:35] lukaszgryglicki commented on #150
@jpkrohling fixed `adinunzio84` case manually: https://jaeger.devstats.cncf.io/d/52/new-contributors-table?orgId=1&from=1538344800000&to=1541026800000

[2018-11-09 05:30] justinsb opened #154 "Reviewers are hard-coded?"
Looking at https://github.com/cncf/devstats/blob/master/grafana/dashboards/kubernetes/pr-reviews-by-contributor.json#L392 , I see that the list of default reviewers is hard-coded.  Is there a reason for that?

[2018-11-09 05:34] lukaszgryglicki commented on #154
They are not hardcoded. This is just a top 20 or 15 selected from the drop-down. Anybody can go to the dashboard and choose any list from a multi-select drop-down.

[2018-11-09 15:51] lukaszgryglicki commented on #154
values are selected from the UI and then dashboard is saved as a JSON, that's why those values are in the JSON file. Drop-down values for all users are fetched using [this tags query](https://github.com/cncf/devstats/blob/master/metrics/shared/reviewers_tags.sql).
Tag is defined [here](https://github.com/cncf/devstats/blob/master/metrics/shared/tags.yaml#L24).
![screenshot 2018-11-09 at 16 49 57](

[2018-11-09 16:16] justinsb commented on #154
It looks like that select statement is unordered?  Can we default to "all" or add an order clause?  My concern is that it gives the impression that these are the top N, but that doesn't appear to be the case.

[2018-11-09 16:21] lukaszgryglicki commented on #154
Select is orderes (it has order by events clause), I cannot just select all, it changes all the time, so drop-down values are different everyday. I can select none if preselecting few is a problem. Anybody can actually select whatever he/she like from the drop down. Tags are updated once a day.

[2018-11-09 16:35] justinsb commented on #154
OK, thank you.  I guess the numbers don't quite match what I'd expect, but I guess I'll just have to do a lot more reviews and see if I pop up there :-)

[2018-11-09 16:43] justinsb commented on #154
Ah - here's one - why doesn't andrewsykim appear here: https://k8s.devstats.cncf.io/d/46/pr-reviews-by-contributor?orgId=1&var-period=d&var-repo_name=kubernetes%2Fkops&var-reviewers=All

He lgtm-ed this PR, for example: https://github.com/kubernetes/kops/pull/5981

[2018-11-09 17:12] lukaszgryglicki commented on #154
It displays top N reviewers, it is impossible to show all of them - drop-down will have hundreds or even thousands of reviewers then.

[2018-11-14 10:12] caniszczyk opened #155 "Add a dashboard that shows basic project health across all CNCF projects"
I'm looking to basically generate a new dashboard that reflects project health in some fashion, basically a table that shows project name, last date of commit, last date of release (git tag), number of contributors in the last 3 months, 6 months, 12 months, mean time to respond to issues, is commit activity up, down, or flat?

I'd probably include prs in 3, 6, 12 months increments too and any othe

[2018-11-14 14:17] lukaszgryglicki commented on #155
I've added code to store all git versions/tags related data into 'All CNCF' project database, this is a first step needed to implement this dashboard. tested and I can access this data from a single database, so I will just add a dashboard probably on Monday.

[2018-11-15 00:12] caniszczyk commented on #155
thank you

On Wed, Nov 14, 2018 at 10:17 PM Łukasz Gryglicki <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-11-19 05:45] lukaszgryglicki commented on #155
Starting work on this.

[2018-11-19 14:47] lukaszgryglicki commented on #155
Dashboard implemented (it required implementation of a new type of custom data histogram, so took a lot more time than a usual dashboard): https://all.devstats.cncf.io/d/53/projects-health?orgId=1

[2018-11-19 15:59] dankohn commented on #155
Please create a table with project logos in the first column and aggregate all of the information into the table. You can keep the current view so that clicking on one of the logos will bring you to the page of detailed info for that project. Logos should be in the same order as devstats.cncf.io (i.e., graduated, incubating, sandbox).

[2018-11-19 16:03] lukaszgryglicki commented on #155
OK, will need to research this...
You mean
1 row = 1 project and then N columns?
1st column = icon, then each column with data for a specific metric?

[2018-11-19 16:23] dankohn commented on #155
Each row is a metric, each column is a project. First row is the list of
projects.
--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Mon, Nov 19, 2018 at 11:03 AM Łukasz Gryglicki <notifications@github.com>
wrote:

[2018-11-19 16:30] lukaszgryglicki commented on #155
Understood, thanks. Will be ready tomorrow.

[2018-11-20 10:44] lukaszgryglicki commented on #155
Ready: https://all.devstats.cncf.io/d/53/projects-health?orgId=1

[2018-11-20 10:46] caniszczyk commented on #155
@lukaszgryglicki I see two "Commits: Last commit date" ?

[2018-11-20 10:47] caniszczyk commented on #155
actually there's dupes of everything

[2018-11-20 10:47] caniszczyk commented on #155
<img width="781" alt="screen shot 2018-11-20 at 5 47 12 pm" src="https://user-images.githubusercontent.com/63777/48768688-55c1c780-ecec-11e8-92e5-69280e013d5b.png">

[2018-11-20 11:05] lukaszgryglicki commented on #155
My bad, missing one check. Fixing.

[2018-11-20 11:15] lukaszgryglicki commented on #155
Fixed.

[2018-11-21 18:34] dankohn commented on #155
Can you try striping the table rows to make them easier to follow. https://www.w3.org/Style/Examples/007/evenodd.en.html

Please use unicode up/down arrows: ⇧⇩

Pleaser add days since last commit.

[2018-11-21 19:04] lukaszgryglicki commented on #155
Will do.

[2018-11-22 07:40] lukaszgryglicki commented on #155
Styling odd/even rows are possible and work OK. When I want to zebra-style columns it also works OK. But when trying to do both *tr* style overwrites *col* style, and even more: *col* only supports background color, not font color. I was trying to zebra-style rows and also make columns more visible by applying slightly different font color. I can only do the opposite: zebra-style columns and then

[2018-11-23 04:05] caniszczyk commented on #155
Add a metric for

"Rate opened vs closed PRs/issues"
"Numbers about NEW contributors in the last 3/6/12 months"
"% of commits coming from the largest contributing organization" - e.g., "90% (IBM)"

[2018-11-23 05:42] lukaszgryglicki commented on #155
Working on this.

[2018-11-23 09:48] lukaszgryglicki commented on #155
Requested metrics are added on the test server.
BTW: we can see that for DragonFly top company is DaoCloud but...
- It has 92.31 % of all *known* commits
- It has 12.66% of *all* commits (including commits from actors without known affiliation).
I didn't yet process DragonFly's actors' affiliations. Once I do this, this number will be higher (compare with other projects)
- `percent of all commits

[2018-11-23 09:58] lukaszgryglicki commented on #155
Added on the prod.

[2018-11-23 11:34] caniszczyk commented on #155
This is great, thank you @lukaszgryglicki, will keep thinking of ideas.

[2018-11-27 22:56] duglin opened #156 "Stats for CNCF WGs"
Is it possible to add CNCF workgroups to the list of groups? In particular, I'm interested in seeing a page like this:
https://cloudevents.devstats.cncf.io/d/9/developers-summary?orgId=1&var-period_name=Last%20month&var-metric=contributions

but for the https://github.com/cncf/wg-serverless repo

[2018-11-27 23:08] dankohn commented on #156
Lukasz, can you please add for the serverless WG.
--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Tue, Nov 27, 2018 at 5:56 PM Doug Davis <notifications@github.com> wrote:

[2018-11-27 23:49] duglin opened #157 "Exporting data"
Perhaps I'm just not seeing it, but is there a way to export the results of the dashboards so that people can programmatically get the data? For example, I would love to be able to (via a program), grab the results (the raw data) of this dashboard: https://cloudevents.devstats.cncf.io/d/9/developers-summary?orgId=1&var-period_name=Last%20month&var-metric=contributions  and reuse it in some of my o

[2018-11-28 05:54] lukaszgryglicki commented on #156
CNCF is not tracked on the production, but it is tracked on the test server.
See: https://cncf.teststats.cncf.io/d/9/developers-summary?orgId=1
Developers summary dashboard does not have "repository group" drop-down.
Should I add CNCF project to the test server and also add repository group drop down to "developers summary" dashboard?

[2018-11-28 06:05] lukaszgryglicki commented on #157
Click on the panel header, then "More -> Export CSV".
This is documented [here](https://github.com/cncf/devstats/blob/master/EXPORT.md)
![screenshot 2018-11-28 at 07 01 42](https://user-images.githubusercontent.com/2469783/49132249-c0ba6200-f2db-11e8-8cf2-5ca16622c793.png)
And this is a dashboard exported to CSV (saved with txt extension because GitHub forbids CSV): [grafana_data_export.txt](https

[2018-11-28 06:05] #157 closed

[2018-11-28 06:47] dankohn commented on #156
Yes, adding workgroups to the drop down would be great, thanks.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation  https://www.cncf.io
+1-415-233-1000  https://www.dankohn.com

[2018-11-28 06:49] lukaszgryglicki commented on #156
Ok, so I'm enabling CNCF on the prod and adding repository groups to the dashboard.

[2018-11-28 07:44] lukaszgryglicki commented on #156
@dankohn, actually I suggest not adding CNCF "project" on the prod server. It is a special project that doesn't belong to Graduated, incubating or Sandbox (I remember that I was requested not to add CNCF stats on the production in the past). The dashboard will be available on the test server, I'll put the final URL here.

[2018-11-28 09:20] duglin commented on #157
oh neat thanks!  Is it possible to get that data/csv via a curl cmd rather than thru the browser?

[2018-11-28 09:21] lukaszgryglicki commented on #156
So the dashboard is implemented in the CNCF project on the test server. You need to select "cncf/wg-serverless" repository from the "repository group" drop-down: https://cncf.teststats.cncf.io/d/9/developers-summary?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=cncf%2Fwg-serverless&var-country_name=All
In the meantime updated ALL projects to use new "Developers

[2018-11-28 09:31] duglin commented on #156
Thanks for the new dashboard - that's what I was hoping for!

[2018-11-28 09:32] lukaszgryglicki commented on #156
You're welcomed.

[2018-11-28 13:58] duglin commented on #156
Not sure how else to ask, so I'll ask here... when I look at https://k8s.devstats.cncf.io/d/9/companies-table   it only shows 7 IBMers - is there a dashboard that shows me who those 7 are? That number seems really low so I'm wondering if there's some tweaking of company affiliation that need to do.

[2018-11-28 14:17] lukaszgryglicki commented on #156
It shows 94 for me: https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1&var-period_name=Last%20decade&var-metric=contributors
Maybe you have selected some more specific filters? like another period? which metric? contributors? committers? commenters?

[2018-11-28 14:21] duglin commented on #156
oh interesting. So I was looking at "committers" and you're looking at "contributors". I was assuming "committers" are people who submit PRs and that "contributors" are people do submit PRs and comment on issues/PRs.  Are those definitions correct? If so, I'm pretty sure we've had more than 7 people submit PRs for all of Kube.  Are the definitions of those terms on the web site?

[2018-11-28 14:41] lukaszgryglicki commented on #156
`select distinct c.dup_actor_login, af.company_name, string_agg(distinct ae.email, ', ') as emails, string_agg(distinct an.name, ', ') from gha_commits c, gha_actors_affiliations af, gha_actors_emails ae, gha_actors_names an where c.dup_actor_id = af.actor_id and af.company_name = 'IBM' and af.dt_from <= c.dup_created_at and af.dt_to > c.dup_created_at and ae.actor_id = af.actor_id and an.actor_id

[2018-11-28 14:45] duglin commented on #156
perfect!  So, let's focus on just one person missing: spzala  .  Is there something about his github profile or other metadata need to get fixed so he shows up as an IBMer?

[2018-11-29 11:08] lukaszgryglicki commented on #155
Closing, now, please reopen with new requests or create a new issue.

[2018-11-29 11:08] #155 closed

[2018-11-29 13:41] duglin commented on #156
@lukaszgryglicki any thoughts on why "spzala" isn't showing up as an IBMer? There are many others missing too, so I'd like to see if we can get this fixed.

[2018-11-29 13:47] duglin commented on #156
digging a little, I do see this: https://github.com/cncf/gitdm/blob/master/cncf-config/email-map#L19282  which looks right.

[2018-11-29 13:51] dankohn commented on #156
Yes, I believe that change makes sense given how the k8s-bot works.
--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Thu, Nov 29, 2018 at 8:50 AM Łukasz Gryglicki <notifications@github.com>
wrote:

[2018-11-29 13:53] lukaszgryglicki commented on #156
Will be done tomorrow. I will have to check all other possible dashboards on all other projects for a consistent committer meaning then.
ETA: tomorrow.

[2018-11-29 14:42] duglin commented on #156
For spzala, I see this list of PRs:  https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Aspzala+is%3Amerged+
He authored those PRs/commits so I would have expected him to show up in our list. If you're saying that because of the merge bot that K8s uses his authorship is now not being picked up, then I agree, that's a problem.

Thanks for looking into this and answering

[2018-11-29 14:49] lukaszgryglicki commented on #156
So we're on the same page.
He authored the PR, but merge was done by the bot:
- We're excluding bot activity (so bot is not shown as a committer), even if we don't exclude bot activity - the bot name would appear as a committer
- So we need to look up another table and also include actual PR's authors here.

ETA: tomorrow.

[2018-11-29 15:00] duglin commented on #156
great - thanks

[2018-11-30 07:14] lukaszgryglicki commented on #156
On it now.

[2018-11-30 08:25] lukaszgryglicki opened #158 "Some K8s repos are not assigned to repo groups"
@spiffxp New K8s repo groups defined [here](https://github.com/cncf/devstats/pull/145) leaves many repositories unassigned to any repository group.
What we can do:
- Ignore this.
- Update your PR to include all possible repositories (but this is very dynamic and change very often).
- Add them somewhere like 'Other' repo group (I can even add a fallback [here](https://github.com/cncf/devstats/blob/

[2018-11-30 08:56] lukaszgryglicki commented on #156
"Companies table" fixed everywhere (all CNCF projects, both test & prod servers). It is called "Companies summary" for all projects other than K8s.
Now investigating all possible dashboards that contain committers info to make sure they're all consistent with committer definition.

[2018-11-30 11:16] lukaszgryglicki commented on #156
Updated K8s "Companie statistics in repository groups" and "Companies tats" for all non-k8s projects on both test & prod servers.

[2018-11-30 12:59] lukaszgryglicki commented on #156
Also updated related dashboards test coverage.
Reviewed all K8s dashboards and I need to check (probably some of them are already OK):
Kubernetes:
- Countries stats
- Timezones stats
- Overall project stats
- Developer activity counts
Non-kubernetes projects:
- Countries stats
- Developers summary
- Gender stats
- Project statistics
- Projects health (only for 'All CNCF' sites)
- Timezone stats
-

[2018-11-30 13:52] duglin commented on #156
This looks much much better thanks!!!

Question: when I look at things like "PR Authors" and "Pull Requests", do those include ALL PRs including PRs that were rejected? I'm guessing it does but wanted to double-check.

[2018-11-30 14:14] lukaszgryglicki commented on #156
Yes, it just counts PRs.

[2018-11-30 14:16] duglin commented on #156
ok thanks for all the quick updates!

[2018-11-30 14:22] lukaszgryglicki commented on #156
NP - there is still a ton of SQLs to update :P

[2018-11-30 17:04] lukaszgryglicki commented on #156
K8s dashboards updated:
- Countries stats
- Timezones stats

Non K8s dashboards updated:
- Countries stats
- Gender stats
- Timezone stats

Remaining:
*Kubernetes*:
- Overall project stats
- Developer activity counts

*Non-kubernetes projects*:
- Developers summary
- Project statistics
- Projects health (only for 'All CNCF' sites)
- Users stats

[2018-11-30 17:18] duglin commented on #156
Nice!

[2018-12-01 08:06] lukaszgryglicki commented on #156
Updated committers definition in developers activity counts (kubernetes) and developers summary (Non-k8s).Remaining:

Non-kubernetes projects:
- Projects health (only for 'All CNCF' sites)
- Users stats

[2018-12-01 12:38] lukaszgryglicki commented on #156
Updated all dashboards in all projects to use new committers definition. test coverage updated too.

[2018-12-01 12:38] #156 closed

[2018-12-01 15:15] duglin commented on #156
@lukaszgryglicki thanks for all of the changes!

[2018-12-04 17:01] nwoods3 opened #159 "Individual Project Health Dashboard"
Feature request:

The Project Health Dashboard is very well done and valuable information: https://all.devstats.cncf.io/d/53/projects-health?orgId=1

For the quarterly individual project velocity reports it would be nice to show maintainers their individual project health in a similar dashboard vs the whole dashboard. Anyway to create this for the January reports? Please.

[2018-12-04 17:07] lukaszgryglicki commented on #159
Not sure what do you mean... Just show a single column for a single project?

[2018-12-04 18:00] nwoods3 commented on #159
Yes, a way to only show one project vs all. Thank you

[2018-12-04 18:04] lukaszgryglicki commented on #159
Shouldn't be difficult, will think about something.
You want this on the all.devstats.cncf.io page, right? Possibly just the same URL but with some drop-down allowing to choose all any specific projects + All options?

[2018-12-18 02:31] lukaszgryglicki commented on #158
OK, would be great to assign them somewhere or just create a fallback group "Other"
I'm in LA now BTW.

[2019-01-09 09:55] lukaszgryglicki commented on #159
Closing this, please reopen if needed.

[2019-01-09 09:55] #159 closed

[2019-01-09 10:15] lukaszgryglicki opened #160 "project(s) health top compamny committers"
From email conversation:
[code]

[code]

[code]

[2019-01-09 10:15] lukaszgryglicki commented on #160
Updated Project health dashboards, so now it supports:
- "percent of all commits authors" (which uses git commit author)
- "percent of all commits" (which uses git committer)
- "percent of all commits pushers" (which uses GitHub pusher)

It compares against known commits and all commit (some committers are just unknown, we don't have their affiliations). It calculates statistics for the last 3 mon

[2019-01-09 10:15] lukaszgryglicki commented on #160
cc @caniszczyk

[2019-01-10 11:44] duglin opened #161 "Feature Request: Per dev stats, filtered by company"
Looking at this page: https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20year&var-metric=prs&var-repogroup_name=All&var-country_name=All
we can see the list of devs (by github id) that submitted PR across on all of Kube. It would be nice to also be able to filter this list by company - for example, so I can see the activity for just the I

[2019-01-10 11:49] lukaszgryglicki commented on #161
Thanks for the feature request. Will work on that.

[2019-01-10 11:52] duglin opened #162 "Feature Request: dev-centric activity table"
https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20year&var-metric=prs&var-repogroup_name=All&var-country_name=All  is really useful when you want to have a holistic view of a dev's activity across all of Kube. There's also a filter that allows us to get those stats for just one github repo. However, for any one particular developer we do

[2019-01-10 11:57] duglin commented on #161
yup - I think so. And if you could add a "Company" column to the table (so we could also sort by it) for cases where more than one company's dev show up, then I think that would address my needs.

[2019-01-10 11:59] lukaszgryglicki commented on #162
In this case, we would rather show "repo group" not repo to be consistent with other Devstats dashboards. I will see what I can do here.

[2019-01-10 12:00] lukaszgryglicki commented on #161
I'll try to do that, not sure if that is possible without bigger changes to this dashboard because it would require extra data-per row and possibly custom view (other than a metric name - metric value). Anyway, this is only the matter of amount work needed to do that.

[2019-01-10 12:08] duglin commented on #162
would that allow me to get the next level of detail for each dev? Meaning, allow me to see for dev (github id) "foo" they submitted 3 PRs for sig-aaa and 4 PRs for sig-bbb ?  The original requests asked of me were something along the lines of: Which areas of Kube are our devs focused on?  And, which dev is working in each of those areas?

I'm trying to avoid having to iterate (manually) thru each

[2019-01-10 12:50] duglin commented on #162
To be clear... I'm not necessarily looking to edit an existing dashboard, if creating a new one would be easier for this request (or my other request) I'm ok with that. I was just focused on that dashboard because it seemed to come closest to what I was looking for.

To be honest, I have a hard time getting info from graphical dashboards like https://all.devstats.cncf.io/d/48/users-stats?orgId=1&v

[2019-01-10 12:53] lukaszgryglicki commented on #162
I will take a closer look and decide between adding this to the current developer table or create another dashboard that displays that. I will let you know when implemented.

[2019-01-10 12:54] lukaszgryglicki commented on #160
Closing this, let me know if something has to be changed there.

[2019-01-10 12:54] #160 closed

[2019-01-10 13:37] lukaszgryglicki commented on #162
@duglin dashboard will be ready later, but for now, I've created a tabular view on google sheets. See [this](https://docs.google.com/spreadsheets/d/1nDz9N10Uf-rzfHS3Dy6swg9r4b_FtEEuP6hgjPLqXlM/edit?usp=sharing). It was implemented here: 7eb447a608cc5f89b92bd19004305dc2e1654e31. The new script allows choosing 'recent range' period and a list of company names to process. Google sheet contains IBM's

[2019-01-14 06:49] lukaszgryglicki commented on #158
@spiffxp any feedback there? Leave it "as is" or just create "Other" repo group, or maybe just create one repo group for each unassigned repo?

[2019-01-14 09:06] lukaszgryglicki commented on #162
Added new dashboard: https://k8s.devstats.cncf.io/d/-OnDtNwik/company-prs-in-repository-groups
It allows choosing one, multiple or all companies from the drop-down.
It allows choosing one, multiple or all repository groups from the drop-down.
It displays company, repo group, GitHub id, known developer names, and emails and opened PRs count.
You can select date ranges from between releases and last

[2019-01-14 09:06] lukaszgryglicki commented on #161
Please see [this comment](
https://github.com/cncf/devstats/issues/162#issuecomment-453937430)

[2019-01-14 12:09] lukaszgryglicki commented on #162
@duglin @dankohn dashboard links were changed in the previous post due to ugly default `uid` value (some random string) - changed it to `55`.

[2019-01-14 12:14] lukaszgryglicki commented on #162
Links:
- [Kubernetes](https://k8s.devstats.cncf.io/d/55/company-prs-in-repository-groups)
- [Prometheus](https://prometheus.devstats.cncf.io/d/55/company-prs-in-repository-groups?orgId=1)
- [All CNCF](https://all.devstats.cncf.io/d/55/company-prs-in-repository-groups?orgId=1)

[2019-01-14 13:31] duglin commented on #162
Will play with it more later today but so far it looks awesome!!!  thanks so much!!!

[2019-01-14 16:56] liggitt opened #163 "Feature request to track PR velocity stats by kind label"
This is a feature request to get more granularity around these PR velocity stats:
* https://k8s.devstats.cncf.io/d/14/pr-time-to-engagment?orgId=1
* https://k8s.devstats.cncf.io/d/25/open-pr-age-by-repository-group?orgId=1
* https://k8s.devstats.cncf.io/d/44/pr-time-to-approve-and-merge?orgId=1

Being able to see velocity over time for different `kind/*` labels of PRs would be very useful (I have

[2019-01-14 17:08] lukaszgryglicki commented on #163
Will check what I can do tomorrow. Thanks for a feature request.

[2019-01-15 07:08] lukaszgryglicki commented on #163
Working on this.

[2019-01-15 07:34] lukaszgryglicki commented on #163
Reviewed many PRs on k/k and /kind is usually set when creating PRs, so possibly it will be OK. This is a bit different with issues and possibly other repos, anyway - there will be `All` value that will keep the current state and then `kind/*` labels to choose, but we need that label to be set since the real beginning which will probably cover most cases at least with `k/k` repo.

[2019-01-15 15:24] lukaszgryglicki commented on #163
Added `kind` filter on 3 dashboards on both test and prod servers:
- [PR time to engagment](https://k8s.devstats.cncf.io/d/14/pr-time-to-engagment?orgId=1)
- [Open PRs age by repo groups](https://k8s.devstats.cncf.io/d/25/open-pr-age-by-repository-group?orgId=1)
- [PRs time to approve & merge](https://k8s.devstats.cncf.io/d/44/pr-time-to-approve-and-merge?orgId=1)
Let me know if you have any feedb

[2019-01-15 15:25] lukaszgryglicki commented on #162
Closing, please let me know if you need to reopen.

[2019-01-15 15:25] #162 closed

[2019-01-22 00:32] jberkus opened #164 "Improving the Project Health dashboard"
Now that we have a Project Health dashboard, let's tweak it!

Dashboard: https://all.devstats.cncf.io/d/53/projects-health?orgId=1

Original Issue: https://github.com/cncf/devstats/issues/155

Please use this issue for your suggestions, questions, and tweaks.

@lukaszgryglicki @caniszczyk @mae

[2019-01-22 00:43] jberkus commented on #164
My feedback, mainly aimed at Kubernetes usage but not exclusively:

1. I don't understand what the line for 6 months is doing there, e.g. "Number of Committers in the last 6 months".  It's not comparable with anything else on the chart.
2. I'd love to have a year vs year comparison as well as quarter vs quarter.  I'm aware that it wouldn't be applicable for some projects.
3. It would be terrific t

[2019-01-22 20:45] duglin commented on #161
We can put it back up w/o the emails then?  Being able to see who worked on what was really really really valuable to us.

[2019-01-22 20:47] lukaszgryglicki commented on #161
The dashboard is still there, only `emails` column was removed.

[2019-01-23 02:34] duglin commented on #161
Ah ok sorry, misread dan's comment

[2019-01-25 00:42] jberkus commented on #164
1. Personally, I'm just as happy to skip the "6 months" entirely, but I'm not the one who asked for it.

3. Sure, WFM

4. I feel like there ought to be a better measure of this, but I'll have to think about what that would look like.  Beyond that, though, I don't think we really need 12 different calculations for company diversity; ideally, we want *one*.  I'll do some thinking about math.

5. Coo

[2019-02-13 16:16] kapilt opened #165 "separate out operations scripts for cncf projects into a separate devstats-ops repo"
I was interested in trying out devstats, but the mix of tooling and operations with the source code, many installation steps involving dozens of interconnected shell scripts, makes its clear it feel like its all geared towards the singleton installation for cncf, rather then use as a general purpose tool. Ideally to be more tool oriented would moving the cncf instance operations to a separate repo

[2019-02-13 16:41] dankohn commented on #165
I think like nearly all projects, DevStats began as a desire to scratch some specific itches CNCF has been dealing with.

That said, we would be happy to accept PRs to generalize it so that it works well for other projects and that onboarding is easier.

[2019-02-13 16:52] lukaszgryglicki commented on #165
There already is a separate repo [devstats-example](https://github.com/cncf/devstats-example) which contains something like a "source-code only" + one example deployment of a single project. there is also a [request](https://github.com/cncf/devstats-example/issues/6) to add a tool that will allow it to customize a new project with a single shell script call. This repo is a full devstats deployment

[2019-02-13 17:06] dankohn commented on #165
We recently refactored the CNCF Interactive [Landscape](https://landscape.cncf.io) so that all of the code is in the upstream repo https://github.com/cncf/landscapeapp and https://github.com/cncf/landscape just contains the data and images. This allowed us to support the LFDL [Landscape](https://landscape.lfll.io) out of its own downstream repo https://github.com/LFDLFoundation/lfdl-landscape.

Th

[2019-02-14 12:42] kapilt commented on #165
i'm a bit reluctant to comment further only because i think i've decided to go my own path on scratching this itch, but a few more thoughts in that the hopes that its helpful. Currently the repos are

  - devstats (go code, shell scripts, cncf project configs)
  - devstats-example ( shell scripts, json/yaml for homebrew)

I'd suggest separating the code in the devstats repo from the configuration

[2019-02-14 13:27] lukaszgryglicki commented on #165
I will work on this in the near future, one thing: configuration files were deliberately skipped in favor of environmental variables because it is easier to configure everything via setting environment variables in a script and they propagate to the other binaries being called, this also allows creating very custom docker/k8s configurations by just passing the correct set of environmental variable

[2019-02-15 07:03] jlewi opened #166 "Allow DataDir to be overwritten"
feature request

Currently DataDir is hardcoded to `/etc/gha2db` it would be nice to allow this to be overwritten by environment variable.
https://github.com/cncf/devstats/blob/d4d1408924569d77d0eff823a556573a633ac6c6/const.go#L7

[2019-02-15 07:06] lukaszgryglicki commented on #166
Good idea, I will work on it. Thanks.

[2019-02-15 13:01] lukaszgryglicki commented on #166
Working on this.

[2019-02-15 13:55] lukaszgryglicki commented on #166
implemented in: 5ce45b4d21c9b7fdd526c30646a637bb448b936c
To specify other (non-default) data directory just prepend commands (even `make install`) with `GHA2DB_DATADIR="/path/to/some/other/directory" ...`.

[2019-02-15 13:56] #166 closed

[2019-02-25 06:56] lukaszgryglicki commented on #163
No more feedback received, closing.

[2019-02-25 06:56] #163 closed

[2019-02-25 06:57] lukaszgryglicki commented on #161
Closing this, the dashboard is ready and functional.

[2019-02-25 06:57] #161 closed

[2019-02-25 06:58] lukaszgryglicki commented on #72
This is currently wip.
I'll split devstats code to one repo, CNCF bare metal deployment to the another, example bare metal deployment to third and Kubernetes deployment to 4th (possibly also create 5th with example Kubernetes deployment).

[2019-02-25 21:20] jberkus commented on #72
@lukaszgryglicki where's your code?  I'll test it.

[2019-02-25 21:25] lukaszgryglicki commented on #72
This is not yet ready to be tested. All code is inside `k8s/` directory and details are in `k8s/README.md`, but again - this is very `wip` atm, give me a few days to clean up make it look good etc.

[2019-02-25 21:30] jberkus commented on #72
ok, I'll take a look and try to improve it

[2019-02-25 21:41] lukaszgryglicki commented on #72
Sure, this is just a work in progress state.
It is missing `PVs` (persistent volumes) config to keep `git repos` clones state across calls (I just need a team friend to set up AWS PVs for that) and it also misses `Helm` charts. I will work on this (and many more) tomorrow.
The almost completed sections are described here:
- https://github.com/cncf/devstats/blob/master/k8s/README.md#secrets
- https

[2019-02-25 21:46] jberkus commented on #72
Yeah, I see creating this as an operator eventually, but that's a longer-term effort.

[2019-02-26 03:28] spiffxp commented on #158
Yet again this fell off my radar, and I'm not going to get to it in the next few days, but bumping for recency again.  Need to dig up the script I used to generate the last grouping.

[2019-02-26 03:37] spiffxp commented on #158
Opened https://github.com/kubernetes/community/issues/3305 so I can /assign for a better shot at finding this next time

[2019-02-26 04:33] nikhita commented on #158
Created https://github.com/cncf/devstats/pull/167 to assign all k8s repos to repo groups

[2019-02-26 06:15] lukaszgryglicki commented on #158
Great, please see [this comment](
https://github.com/cncf/devstats/pull/167#issuecomment-467309642)

[2019-02-26 17:09] lukaszgryglicki commented on #165
`devstats` and `devstats-example` will be split into multiple parts, at least such:
- code
- bare metal deployment for the CNCF projects
- kubernetes deployment for the LF
- docker deployments
- kubernetes deployment
- helm chart
- example deployment on bare metal

Maybe more or less.

[2019-02-26 17:09] lukaszgryglicki commented on #72
@jberkus this is something a bit more mature, but will still work on the next days (it is not yet tested for instance). It was only tested by the `helm install --dry-run` to see if correct YAMLs are generated:
[helm chart](https://github.com/cncf/devstats/tree/master/devstats-helm).
BTW: Devstats repo will be split into multiple parts, as requested [here](
https://github.com/cncf/devstats/issues/1

[2019-03-10 01:01] jberkus opened #168 "Please remove the projects header from k8s.devstats.cncf.io [bug]"
Lukasz,

The "Devstats projects" header on the homepage for k8s.devstats has grown to be a screen-and-a-half of scrolling before the user can get to the actual menu of charts that they are there for.

If they are on k8s.devstats, they are there for Kubernetes, not for 80 other projects.  Please remove this from the home page. Thanks!

[2019-03-10 06:23] lukaszgryglicki commented on #168
Only to confirm, speaking about those links?
Page:
![Screenshot 2019-03-10 at 07 22 40](https://user-images.githubusercontent.com/2469783/54081442-62067a80-4305-11e9-971c-ebe118fe4252.png)
Links:
![Screenshot 2019-03-10 at 07 22 47](https://user-images.githubusercontent.com/2469783/54081446-67fc5b80-4305-11e9-93c5-64174821b177.png)

[2019-03-10 13:32] lukaszgryglicki commented on #72
With last few days update, I almost have DevStats ported to Kubernetes. Grafana is ported, deployment and service too.
Currently missing part is:
- Some real DNS instead of service type LoadBalancer which just outputs some random elb based name  (EKS default).
- SSL/HTTPS support.
- Some dashboards (namely home dashboard for all projects) are using links to images/icons based on the hostname. In t

[2019-03-16 17:06] idvoretskyi commented on #72
/cc

[2019-03-18 14:57] lukaszgryglicki commented on #168
Can you confirm which header should I remove?

[2019-03-18 15:04] lukaszgryglicki commented on #165
I'm in progress of splitting code out of devstats (not modifying original devstats repo yet):
- Code split [here](https://github.com/cncf/devstatscode). It includes test coverage but without testing metrics. That will be present in the deployment repo. Documentation for the new code repo is minimal now because I don't know yet what the final structure will be.
- Made [devstats-example](https://git

[2019-03-18 20:08] jberkus commented on #168
All the logos.

The menu items are fine.  It's that giant block of logos that's the problem.

[2019-03-18 20:25] lukaszgryglicki commented on #168
cc @dankohn

[2019-03-19 02:08] nzoueidi commented on #35
I am seeing that this issue hasn't been updated for a while, if this is still needed I can work on it.

[2019-03-19 05:10] lukaszgryglicki commented on #35
Sure, I'm in the process of splitting DevStats into multiple smaller repositories.

[2019-03-19 05:52] lukaszgryglicki commented on #168
Done, closing.

[2019-03-19 05:52] #168 closed

[2019-03-19 19:59] jberkus commented on #168
Thanks, that's much better!

[2019-03-21 17:43] lukaszgryglicki commented on #165
So the current (very wip) state is:
- [DevStats bare metal deployment + tests for all metrics](https://github.com/cncf/devstats). It is a deployment of:
- - [DevStats CNCF production](https://devstats.cncf.io)
- - [DevStats CNCF test](https://teststats.cncf.io)
- - [DevStats CDF production](https://devstats.cd.foundation)
- [Shared DevStats go code + tests](https://github.com/cncf/devstatscode).
-

[2019-03-22 17:31] lukaszgryglicki commented on #165
OK, all possible deployment split out from `cncf/devstats`. There will also be a new repo with a public kubernetes deployment, something like `cncf/devstats-helm-example`. This will be used for my and @jberkus [talk on KubeCon Barcelona](https://kccnceu19.sched.com/event/MPZG).

[2019-03-22 17:31] #165 closed

[2019-03-27 23:44] oomichi opened #169 "[bug] Cannot show "v1.13.0 - v1.14.0" result"
I am seeing devstat for v1.14.
I can see range `v1.12.0 - v1.13.0` and `v1.14.0 - now` results on the devstat.

However it shows `No data to show` for `v1.13.0 - v1.14.0` as https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1&var-period_name=v1.13.0%20-%20v1.14.0&var-metric=contributions

[2019-03-27 23:48] atoato88 commented on #169
I'm facing same situation,too.

[2019-03-28 06:03] lukaszgryglicki commented on #169
I'm on it now.

[2019-03-28 06:34] lukaszgryglicki commented on #169
It's a bug, I see why it happens.
When a new release is added to the database, the previous period no longer is vx.y - now, it becomes vx.y - vx.z and vx.z - now. The old period is in the past so is treated as "calculated" but its name changed so it has no data. I need to handle this somehow. Will be fixed soon.

[2019-03-28 13:53] lukaszgryglicki commented on #169
OK, I think I have a solution - this is a fix related to detecting if a given period was calculated. I don't want it to run on `prod` yet - it should auto-heal data automatically during the next 24 hours (annotations are calculated once a day). I'm leaving it to test on the `test` server now. Will check that tomorrow and if solution works I'll apply on `prod`: https://github.com/cncf/devstatscode/

[2019-03-29 06:29] lukaszgryglicki commented on #169
Fixed on both test & prod server. Closing. Thanks for reporting 👍

[2019-03-29 06:29] #169 closed

[2019-03-29 17:27] oomichi commented on #169
@lukaszgryglicki Thanks for fixing this issue :-)

[2019-03-29 20:56] craiglpeters opened #170 "[bug] Please track Windows devstats"
We need to track the statistics for contributions to all the code and documentation for SIG-Windows. Thanks!

[2019-03-29 21:51] PatrickLang commented on #170
I do see Windows in the per-SIG views. What areas are missing?

[2019-03-29 21:54] PatrickLang commented on #170
the Kubernetes-sigs/windows-testing repo is tracked

[2019-04-01 08:41] lukaszgryglicki commented on #170
Not sure what I can do.

[2019-04-02 15:51] craiglpeters commented on #170
We can close this issue. I wasn't seeing the data for some reason. Bad eyes I suppose

[2019-04-02 15:53] craiglpeters commented on #170
I see what's missing now. There is no 'SIG Windows' listed in 'Repository Group'.

[2019-04-02 16:09] lukaszgryglicki commented on #170
Yes, there is no SIG Windows repository group defined. It was never defined. I can add it and regenerate data, but I need a list of repositories that will be mapped into 'SIG Windows'

[2019-04-03 04:47] lukaszgryglicki commented on #170
This [PR](https://github.com/cncf/devstats/pull/167/files#diff-8edd0e6ac4b13658e73e02ece2d6a004R243) adds SIG Windows with just 2 repos: `kubernetes-sigs/windows-gmsa` and `kubernetes-sigs/windows-testing` but is not yet approved.

[2019-04-05 17:11] PatrickLang commented on #170
Those are the only two SIG repos I'm aware of to date. Tracking contributions is going to be a bit hard overall because a lot of the files we're changing are in the kubelet & dockershim which have OWNERs set to SIG-Node.

[2019-04-08 15:15] BenTheElder opened #171 "[bug] issue count includes PRs"
This appears to be a straight forward case of using the GitHub V3 API which includes PRs in the issue endpoints. They can be filtered client side or the V4 API can give issues specifically.

Example: compare the numbers here and the repo
https://k8s.devstats.cncf.io/d/7/stars-and-forks-by-repository?orgId=1&var-period=d7&var-repo_name=kubernetes-sigs%2Fkind

[2019-04-08 15:33] lukaszgryglicki commented on #171
No, this report uses [this metric](https://github.com/cncf/devstats/blob/master/metrics/kubernetes/watchers.sql). It is not counting open issues in any way. It is just taking max from `forkee` structure instead. This means that GitHub returns the wrong value.
The only way to fix it would be to replace that SQL with a different query that really counts open issues instead of using a ready value pro

[2019-04-08 15:42] BenTheElder commented on #171
In GitHub's v3 API PRs are Issues, this is well known and documented.

https://developer.github.com/v3/issues/

In V4 they are not.

[2019-04-08 15:51] lukaszgryglicki commented on #171
yes, I know that. But this won't help because I'm not using GitHub API. I'm using GitHub archives, which contains all GitHub data back to 2012. I cannot use any v3 or v4 API here, but I can just count all issues that are not PRs. This is handled in many other dashboards, the only problem here is that it is using a ready value instead of calculating this.

[2019-04-09 10:14] lukaszgryglicki commented on #171
Working on this.

[2019-04-09 10:56] lukaszgryglicki commented on #171
So because this metric value is wrong (misleading) I'll rename it to "Open Issues and PRs". I was just about to add "Open Issues" metric but we already have that metric in another dashboard: [Open issues/PRs by milestone and repository](https://k8s.devstats.cncf.io/d/22/open-issues-prs-by-milestone-and-repository?orgId=1&var-sig_name=All&var-milestone_name=All&var-repo_name=kubernetes-sigs%2Fkind&

[2019-04-09 11:13] lukaszgryglicki commented on #171
Updated charts everywhere (K8s and non-k8s projects on both test & prod servers). Closing. Please reopen if needed.

[2019-04-09 11:13] #171 closed

[2019-04-13 16:56] caniszczyk opened #172 "Questions on infosys contributions"
Hey @lukaszgryglicki, Infosys started to contribute and they don't show up on devstats on the company table:

Git PR                                                              Status as per K8s(Github)         ContributorEmailId
https://github.com/kubernetes/kubernetes/pull/73686     Approved        shivang.goswami@infosys.com
https://github.com/kubernetes/website/pull/12512        Approved

[2019-04-13 17:00] lukaszgryglicki commented on #172
Affiliations are imported about 1-2 times/month. A separate contractor is researching them. Every time new affiliations are imported I'm generating a new task with top-unknown contributors. You will probably see those contributions either when next affiliations are imported (if they were already processed) or at worst case the next one (I'll add those mentioned emails manually to `cncf/gitdm` on M

[2019-04-13 17:04] lukaszgryglicki commented on #172
For now I've added all of them to the main config file: b5f549a05963803b7d308b24024a256e23127013

[2019-04-13 17:41] caniszczyk commented on #172
Thanks @lukaszgryglicki - now I realized why I was going crazy trying to track this down, we should probably add that info to the README about affiliations coming in only a couple times a month

[2019-04-16 06:05] lukaszgryglicki commented on #172
README is updated on both `cncf/devstats` and `cncf/gitdm`. I'm importing new affiliations on the test server. If all is fine I'll also update `prod` soon.

[2019-04-16 06:06] lukaszgryglicki commented on #170
Blocked by https://github.com/cncf/devstats/pull/167/files#diff-8edd0e6ac4b13658e73e02ece2d6a004R243

[2019-04-16 06:06] lukaszgryglicki commented on #158
Blocked by https://github.com/cncf/devstats/pull/167/files#diff-8edd0e6ac4b13658e73e02ece2d6a004R243

[2019-04-16 06:08] lukaszgryglicki commented on #72
Work happens mainly on those repos:
- https://github.com/cncf/devstats-helm-example
- https://github.com/cncf/devstats-docker-images
- https://github.com/cncf/devstats-helm-lf (already existing deployment on EKS)
- https://github.com/cncf/devstats-k8s-lf

[2019-04-17 11:45] lukaszgryglicki commented on #172
new affiliations are imported, they include Infosys affiliations, closing.

[2019-04-17 11:45] #172 closed

[2019-04-24 17:03] yue9944882 opened #173 "Please fix broken link to repo renamed from apiserver-builder to apiserver-builder-alpha"
the repo has been renamed months ago here [kubernetes-incubator/apiserver-builder-alpha](https://github.com/kubernetes-incubator/apiserver-builder-alpha)

https://github.com/cncf/devstats/blob/2441d20143c5452d88b3757eb050a6a7b7995150/scripts/kubernetes/repo_groups.sql#L20

[2019-04-24 17:33] lukaszgryglicki commented on #173
We have a big [issue](https://github.com/cncf/devstats/issues/158) and [PR](https://github.com/cncf/devstats/pull/167) pending about repo names/repo groups I'll mention this issue there so all those updates will come in a single PR merge. then I'll regenerate data - this will include past data too.

[2019-04-24 17:34] lukaszgryglicki commented on #158
This should also include this [issue](https://github.com/cncf/devstats/issues/173).

[2019-05-08 13:43] caniszczyk opened #174 "[discussion] dashboard for company contributions with links to github commits"
There was a recent request where we needed to fetch some data on a particular companies contributions across the CNCF ecosystem, including GitHub commit links.

It would be useful if we could have this built into devstats or at least provide a simple summary for an organization who is looking for a perspective that is narrowly focused on their organization: https://www.stackalytics.com/cncf?compan

[2019-05-08 15:19] lukaszgryglicki commented on #174
Grafana supports links in tabular dashboards - I've never used this but it seems straightforward.
My proposal is to have 2 drop downs:
- Repository group (in "All CNCF" it will be: All, Kubernetes, Prometheus, ..., in Kubernetes DevStats page this will be: Kubernetes, SIG Apps, SIG Node, ..., Other projects have their own repo groups definitions) - single value selection.
- Companies (list compani

[2019-05-08 17:46] lukaszgryglicki commented on #174
Wow - can anybody see how GitHub messed order of all comments?

[2019-05-09 07:37] lukaszgryglicki commented on #174
Working on this.

[2019-05-09 09:16] lukaszgryglicki commented on #174
Added on the prod server too (all projects excluding K8s which requires community approval), for example, Prometheus: https://prometheus.devstats.cncf.io/d/56/company-commits-table?orgId=1
Now I'll add everywhere on the test server (CNCF projects, additional projects, some LF projects), prod, CDF, LF EKS cluster and CNCF EKS cluster (which requires adding new provisioning scripts to add a single m

[2019-05-09 12:01] lukaszgryglicki commented on #174
Implemented everywhere, closing, please reopen if needed.

[2019-05-09 12:01] #174 closed

[2019-05-10 00:24] howardjohn opened #175 "Missing Repos for Istio"
On the dashboard https://istio.teststats.cncf.io/d/dVM-cCCkk/new-prs-in-repository-groups?orgId=1 there is no option for https://github.com/istio/installer

The repo is fairly new (maybe a week)?

Is there anything we need to do to get this on the dashboard? I did a quick grep for the other repos and it doesn't look like we explicitly list them out, so I am not sure if there is a file we need to e

[2019-05-10 01:53] nikhita opened #176 "Don't use company specific dashboards for Kubernetes"
Context for this request: a new dashboard ["Company Commits Table"](https://all.devstats.cncf.io/d/56/company-commits-table?orgId=1) was recently developed for displaying company contributions with links to GitHub commits. To enable this for the Kubernetes devstats, it requires approval from the Kubernetes project.

---

One of the main Kubernetes community values is [**community > company**](http

[2019-05-10 04:40] lukaszgryglicki commented on #176
cc @dankohn
Sure, but company-specific dashboards also show project's diversity, we also have `Independent` showing contributions from unaffiliated people.

[2019-05-10 04:49] lukaszgryglicki commented on #175
That instance wasn't updated (it's not a part of a standard CNCF deployment), I'm updating it right now.

[2019-05-10 05:27] lukaszgryglicki commented on #175
Done, see for example: https://istio.teststats.cncf.io/d/4/company-statistics-by-repository-group?orgId=1&var-period=d7&var-metric=activity&var-repogroup_name=istio%2Finstaller&var-companies=All&from=now-30d&to=now

[2019-05-10 05:27] #175 closed

[2019-05-10 14:16] howardjohn commented on #175
Thank you!

[2019-05-12 04:16] bgrant0607 commented on #176
@nikhita Information about company contributions is actually useful to both the CNCF and to the Kubernetes project, for a variety of reasons.

For CNCF, a diverse contributor base is one sign of project health.

For Kubernetes, it is one mechanism to incentivize companies to invest more in the project (recognition is a well known extrinsic motivator), and also a signal for us to reach out to compa

[2019-05-12 04:57] lukaszgryglicki commented on #176
cc @dankohn @caniszczyk

[2019-05-12 16:46] jberkus commented on #176
Yes ... I find the other company graphs useful.

However, I too am confused as to what the purpose of the new chart is.  It was requested by the CNCF.

[2019-05-12 17:35] caniszczyk commented on #176
Just to followup since I requested this, it's a very common request from organizations and CNCF members to understand:

1) what CNCF projects they contribute
2) who is contributing to these projects
3) when the last time they contributed

There are times this information was used for a legal purpose to understand which authorized contributors from a CLA were contributing to whether an organization

[2019-05-13 15:54] xwu0226 opened #177 "[bug]Can not build"
I am following instructions at https://github.com/cncf/devstats/blob/master/INSTALL_MAC.md to create the dev environment locally.

But when I run the step #4, `make` command, the error happens as following:

[code]

I look at the metrics `metrics_test.go` file, the import tries to bring in
[code]

After I manually clone `devstatscode` to `~/dev/go/src/github.com/cncf/`, `make` still fails.

Actual

[2019-05-13 16:00] lukaszgryglicki commented on #177
Mac instructions are ancient, I'll try to update them when I have time for it.

[2019-05-13 16:34] xwu0226 commented on #177
@lukaszgryglicki Thanks! This dashboard seems only show metrics for Kubernetes/container related projects, will it possible to add any other projects, such as the ones in the area of data & AI?

[2019-05-13 16:43] lukaszgryglicki commented on #177
This dashboard means which? We have a [recent PR](https://github.com/cncf/devstats/pull/167) that updates repo groups for K8s instance

[2019-05-13 18:05] utako commented on #177
Would be great to get an update for the mac instructions! Are there instructions for another OS that are more up to date in the meantime?

[2019-05-13 18:12] lukaszgryglicki commented on #177
I'll update mac instructions. More up to date are Ubuntu 18 instructions, but the best option is to use Kubernetes & Helm, see: https://github.com/cncf/devstats-helm-example

[2019-05-13 18:14] xwu0226 commented on #177
@lukaszgryglicki Ubuntu 18 instructions have the same problem.. The `metrics_test.go` assumes package `devstatscode` already exists under `/data/dev/src/github.com/cncf/`.

[2019-05-13 18:16] xwu0226 commented on #177
@lukaszgryglicki I mean the whole devstats tool only supports projects related to Ks8, right?

[2019-05-13 18:18] lukaszgryglicki commented on #177
No, we do have a lot of other projects covered, see:
- https://devstats.cncf.io
- https://devstats.cd.foundation
- https://devstats.graphql.org

[2019-05-13 18:32] utako commented on #177
I'm not sure if this helps you, but I'm getting the following error after following the instructions on Mac with some variation:

[code]

Would you like me to PR my edits to `INSTALL_MAC.md` to get to this failure?

[2019-05-13 18:34] lukaszgryglicki commented on #177
`make` on this repo actually executes metrics test coverage (there is no code here) - all you need to do is just `make install` on this repo.
You should do `make` followed by `make install` on `cncf/devstatscode`.
Due to recent porting to Kubernetes and splitting devstats into multiple repos, mac install docs are outdated.

[2019-05-14 05:30] lukaszgryglicki commented on #177
I'll fix build & build instructions now.
regarding your test failures - this is because you have Postgres database locale collation other than `en_US.UTF-8`.
I'm dealing with this for example when executing tests from a docker container:
- https://github.com/cncf/devstats-docker-images/blob/master/images/Dockerfile.test#L6
- https://github.com/cncf/devstats-docker-images/blob/master/tests/test.sh#

[2019-05-14 06:20] lukaszgryglicki commented on #177
Fixed build instructions for Mac and other OSes, tested them on Ubuntu 18.04 LTS and macOS. Closing, please reopen if you still have issues.

[2019-05-14 06:20] #177 closed

[2019-05-14 12:38] caniszczyk opened #179 "Affiliation misattribution"
https://tikv.devstats.cncf.io/d/56/company-commits-table?orgId=1

It appears to be GitHub user "disksing" email i@disksing.com who as far as I can tell has no affiliation to Docker at all (definitely not in the Docker GitHub org) but the stats attribute to Docker.

[2019-05-14 12:39] lukaszgryglicki commented on #179
I'll check that manually, we have so many affiliations (almost 100k atm) so mistakes may happen.

[2019-05-14 12:42] lukaszgryglicki commented on #179
I'll change to PingCAP manually in this case: https://github.com/disksing, it will be visible after new affiliations are imported (probably after the KubeCon). I'm working on this now, but not sure if that will be finished before KC.

[2019-05-14 22:47] utako commented on #177
[code]

also, the mac instructions refer to a shell script with linux system call paths: [./cron/sysctl_config.sh](https://github.com/devstatscode/blob/master/cron/sysctl_config.sh)

[2019-05-14 22:49] utako opened #180 "Can not build on mac"
Following #177, since I didn't open it and can't reopen the issue.

[code]

also, the mac instructions refer to a shell script with linux system call paths: [./cron/sysctl_config.sh](https://github.com/cncf/devstatscode/blob/master/cron/sysctl_config.sh)

I uninstalled fzf for the time being, but it doesn't seem ideal to have my bash profile defaults mess with a test...

[2019-05-14 23:53] xwu0226 commented on #180
Same here.

[2019-05-15 00:27] xwu0226 commented on #180
On Mac, I still got this:

[code]

[2019-05-15 04:33] lukaszgryglicki commented on #180
I've updated mac docs, unfortunately, I cannot replicate your issues with `errcheck`, so I don't know why it fails. `errcheck` is a static code analysis tool, you can disable this check in `Makefile` and proceed.

[2019-05-15 18:07] utako commented on #180
@lukaszgryglicki thanks for your responsiveness, i really appreciate it.

I'm still getting the same test failures when running `make` in devstats.
[code]

You mentioned Postgres database locale collation, but I'm seeing:

[code]

Can I provide anything else to help debug this issue?

[2019-05-15 18:31] lukaszgryglicki commented on #180
I had exactly the same issue and collation fixed that, I'm setting this explicitly in a docker build, no idea why it happens for you now, my settings are:
[code]
Maybe DB version then, really have no idea and cannot replicate.
You know that `make` is not required to install devstats, right? On this repo you just need to run `make install`.

[2019-05-15 18:47] utako commented on #180
I was just following 11 in the mac installation. I'll skip it.

[2019-05-15 19:34] lukaszgryglicki commented on #180
New Mac instructions no longer list `make` as necessary on `cncf/devstats` repo, see step 7 (https://github.com/cncf/devstats/blob/master/INSTALL_MAC.md) - only `make install` is needed. Make & make test are for `cncf/devstatscode` repo - see steps 4, 5, 6.

[2019-05-15 23:01] utako commented on #180
Thank you. I'm now using gha2db to grab my data. I appear to be missing some tables like `sannotations` and `sevents_h`. I've looked through the devstats repos to see how they might be introduced. Did I miss a step in my setup?

[2019-05-16 04:27] lukaszgryglicki commented on #180
`gha2db` is only a data source tool - it grabs data from GitHub archives. You need to run full stack, so for the bare metal deployment you need to add a cron job that runs `devstats` binary, which calls all other tools with correct order and parameters.

[2019-05-16 05:39] xwu0226 commented on #180
@lukaszgryglicki
On Ubuntu 18 deployment, the `make install` under `devstatscode` output the following:

[code]
What does wait_for_command.sh do? do we expect to see `exit 2` and `devstats,devstats_others,devstats_kubernetes,devstats_allprj were not running` ? Are they supposed to be running?

[2019-05-16 05:42] xwu0226 commented on #180
I do need to comment out the `errcheck` for proceed. On both Mac and Ubuntu. Thanks!

[2019-05-16 05:50] lukaszgryglicki commented on #179
This was fixed.

[2019-05-16 05:50] #179 closed

[2019-05-16 05:52] lukaszgryglicki commented on #180
Yes, this is expected (`wait_for_command.sh` just check if the hourly cronjob is not running atm, this can happen when devstats is already deployed).
You can also take a look at more modern, [Kubernetes+Helm](https://github.com/cncf/devstats-helm-example) deployment mode.

[2019-05-16 17:36] utako commented on #180
@lukaszgryglicki for the kubernetes + helm deployment mode, are you recommending i add the istio project as outlined [here](https://github.com/cncf/devstats-helm-example/blob/master/ADDING_NEW_PROJECTS.md)?

i can open a new issue there if you'd prefer. i've deployed an EKS cluster and DNS pointing at the nginx server on EKS. i really just want a working grafana gathering data at a reasonable facs

[2019-05-16 18:37] lukaszgryglicki commented on #180
I will respond to this when I have time, basically yes - I would fork `cncf/devstats-helm-example` and adjust it to your needs. ADDING_NEW_PROJECTS.md will help/give suggestions on how to do that.

[2019-05-16 19:15] xwu0226 commented on #180
Does this only work on AWS? or it can be on any Kubernetes cluster?

[2019-05-16 19:19] xwu0226 commented on #180
For the Ubuntu instructions, I am confused from step 11. do I need to run `devel/create_grafana.sh` ?

[2019-05-16 19:30] lukaszgryglicki commented on #180
Ad. AWS - this is a very wip atm. It currently works on 3 different AWS clusters. I was trying to independent from cloud provider but some things obviously are provider dependent now. They should be easy to update for any other cluster - you're welcomed to try on the other provider and then upload your changes here. This deployment `devstats-helm-example` is actually a deployment for KubeCon talk.

[2019-05-16 19:53] xwu0226 commented on #180
Thanks! I have gone through most of step 11, and just wondering `devel/create_grafana.sh` should be run before step 12?
I don't want to make things complicated yet, so skipping the SSL.

[2019-05-16 19:59] lukaszgryglicki commented on #180
I can add `Istio` deployment for `devstats-helm-example` just like I've recently added Kubeflow. I'm not adding any more bare metal projects...
Also Istio already has bare metal non-official deployment here: https://istio.teststats.cncf.io/d/8/dashboards?refresh=15m&orgId=1

[2019-05-17 07:01] lukaszgryglicki commented on #180
I'm adding Istio Helm deployment here: https://istio.devstats-demo.net, see this [helm repository](https://github.com/cncf/devstats-helm-example), Istio added [here](https://github.com/cncf/devstats-helm-example/blob/master/devstats-helm-example/values.yaml#L198-L205) - I was just following adding a new project [instructions](https://github.com/cncf/devstats-helm-example/blob/master/ADDING_NEW_PRO

[2019-05-17 11:39] lukaszgryglicki commented on #180
Istio [deployed](https://istio.devstats-demo.net/d/8/dashboards?orgId=1) on Kubernetes/Helm using `devstats-helm-example`:

[2019-05-17 16:10] xwu0226 commented on #180
@lukaszgryglicki I managed to the point at step 12 where I ran `./devel/deploy_all.sh`, after I manually run some instructions from [SSL](https://github.com/cncf/devstats/blob/master/SSL.md) to get certbot. But command
[code]
failed with
[code]
Please advice!

[2019-05-17 16:19] lukaszgryglicki commented on #180
You need your own domain and you need to change `teststats.cncf.io` into your own domain name everywhere. What you did was to attempt to get certificates for CNCF `teststats` domain from your computer.

[2019-05-17 16:19] xwu0226 commented on #180
@lukaszgryglicki The whole purpose of what I am trying is to setup my own dev environment(may become production hosted on my own cluster or contribute the new projects to the production on devstats.cncf.io), and add new projects.

[2019-05-17 17:23] utako commented on #180
@lukaszgryglicki do you maintain https://istio.teststats.cncf.io?  trying to figure out how to get access so i can get to work on [this issue](https://github.com/istio/istio/issues/13891)

[2019-05-17 17:29] lukaszgryglicki commented on #180
Yes, I'm maintaining both https://istio.teststats.cncf.io (bare metal) and https://istio.devstats-demo.net (Kubernetes).
If you see any bugs or want new dashboard just create a bug/feature request issue here.

[2019-05-17 17:34] utako commented on #180
Ok. I'll do that.

[2019-05-17 17:34] #180 closed

[2019-05-17 17:48] utako opened #181 "[feature request] Extend Istio dashboards to better measure process health"
I'm looking to add charts for Istio that track the following metrics so we can better assess project process health:

- [x] Time it takes to triage an issue after it has been filed (assign someone)
- [x] Time it takes to close an issue after it has been filed.
- [x] Time it takes for the first comment on an issue (not the submitter)
- [x] Time it takes between comments on an issue. (This is primar

[2019-05-17 18:02] lukaszgryglicki commented on #181
cc @dankohn

[2019-05-17 22:53] howardjohn opened #182 "PR Authors Table seems inaccurate"
https://istio.teststats.cncf.io/d/23/prs-authors-table?panelId=1&fullscreen&orgId=1&var-period_name=Last%20decade&var-repogroup_name=istio%2Fistio

On this table it shows that I have 314 PRs opened, but it seems like it should be about 1/3 of this (https://github.com/istio/istio/pulls?q=is%3Apr+author%3Ahowardjohn+is%3Aclosed)

golangcibot also has 350 PRs, but they don't actually open PRs, they j

[2019-05-20 15:53] caniszczyk opened #183 "Project Dashboard for Doc Contribution"
It would be great to get a dashboard reflecting contributions purely to documentation.

Maybe it's *.md, *.html etc?

[2019-05-20 16:13] zacharysarah commented on #183
Consider [PRs merged to `kubernetes/website`](https://k8s.devstats.cncf.io/d/49/github-stats-by-repository?orgId=1&from=now-2y&to=now&var-period=w&var-repos=%22kubernetes%2Fwebsite%22&var-stat=prmerged). It lacks nuance in that it ignores contributions like reviews, but it's a place to start.

<img width="1519" alt="Screen Shot 2019-05-20 at 6 10 51 PM" src="https://user-images.githubusercontent.c

[2019-05-20 16:18] caniszczyk commented on #183
@zacharysarah are there particular files outside of *.md that contain documentation?

[2019-05-20 16:31] lukaszgryglicki commented on #183
I can track commit files and filter by known doc-related files (would need a list - or ideally a regex that define a doc file). We can then assign commits as non-doc, only-doc, mixed and create a dashboard based on this.
Makes sense?

[2019-05-20 16:40] zacharysarah commented on #183
@caniszczyk The overwhelming majority of doc content resides in *.md* files. The federation API reference uses HTML files, but it’s a unique phenomenon. Some site config files also fall outside the lines, but yes, Markdown files are safely representative of doc contributions.

[2019-05-24 08:09] lukaszgryglicki commented on #182
I'll take a look on Monday. Sorry for the delay, I was at KubeCon this week.

[2019-05-27 04:45] lukaszgryglicki commented on #183
@caniszczyk @dankohn should I work on some example dashboard? If so please let me know how should it look like?
A table? A stacked chart?
What filters/drop-downs?
A repository group drop-down? SIG drop-down? Others?

[2019-05-27 04:48] lukaszgryglicki commented on #181
Currently, the easiest way of deploying DevStats is by using [Kubernetes and Helm](https://github.com/cncf/devstats-helm-example). This example uses AWS EKS cluster, but we're working now on a bare metal Kubernetes deployment - it that case all you need would be a cluster made of at least 3 nodes, no matter what kind of nodes.

[2019-05-27 07:21] lukaszgryglicki commented on #182
Yes this is true, current approach just counts PR creations but also comments (any activity on a PR) then groups by activity authors (so if you commented on a PR it will count that). I'll fix this and regenerate data, thanks for reporting!
The actual SQL is [here](https://github.com/cncf/devstats/blob/master/metrics/shared/hist_pr_authors.sql) - I just need to filter events by type `create`).

[2019-05-27 10:21] lukaszgryglicki commented on #182
I've made full research on all deployments, all projects, and all dashboards and this also requires fixing (in addition to PRs authors table):
- PRs authors companies table
- Company PRs in repository groups
- New contributors table
- PR authors repository group

On it now.

[2019-05-27 11:13] lukaszgryglicki commented on #182
Fixed on bare metal deployments (test & prod), Istio in particular: https://istio.teststats.cncf.io/d/23/prs-authors-table?orgId=1&var-period_name=Last%20decade&var-repogroup_name=istio%2Fistio
Now fixing on CDF and then will fix on GraphQL (k8s), LF (k8s) and CDF (bare metal).

[2019-05-27 12:07] lukaszgryglicki commented on #182
Updated CDF (bare metal) deployment, GraphQL (K8s) deployment, DevStats talk (K8s) deployment and LF headless (K8s + Aurora) deployment.
Istio on [bare metal](https://istio.teststats.cncf.io/d/23/prs-authors-table?orgId=1&var-period_name=Last%20decade&var-repogroup_name=istio%2Fistio)
Istio on [kubernetes](https://istio.devstats-demo.net/d/23/prs-authors-table?orgId=1&var-period_name=Last%20decade

[2019-05-27 12:07] lukaszgryglicki commented on #182
Closing, please reopen/comment here if you need more work on this.

[2019-05-27 12:07] #182 closed

[2019-05-27 13:09] lukaszgryglicki commented on #176
Should we close this?

[2019-05-27 15:00] cblecker commented on #176
@lukaszgryglicki Thanks for checking in, but no. This is still a topic of active discussion.

[2019-05-27 15:01] lukaszgryglicki commented on #176
OK, so just let me know.

[2019-05-27 15:43] howardjohn commented on #182
Thanks! looks good now

[2019-05-28 05:02] lukaszgryglicki commented on #181
This metric is already implemented:
- [Time it takes before the first human response to a PR being created](https://istio.teststats.cncf.io/d/10/pr-time-to-engagement?orgId=1).
I'm starting working on the remaining ones, I'll be asking for clarifications/examples during the process.
Now working on: `Time it takes to triage an issue after it has been filed (assign someone)`.

[2019-05-28 05:43] lukaszgryglicki commented on #181
So for the first metric - some issues are self-assigned by the author in the same second when they're created - my guess is that some users can do that and we would rather like to measure issues that are assigned later (probably by someone other or bot or any other process), so I would skip those auto-assigned issues when calculating time percentiles (I'll leave code to include that commented out

[2019-05-28 07:36] lukaszgryglicki commented on #181
So, this is the first metric: [Time it takes to triage an issue after it has been filed (assign someone)](https://istio.teststats.cncf.io/d/57/time-to-triage-an-issue?orgId=1), it includes documentation (at the bottom), you can choose all repositories or any of them. You can choose aggregating period: week, 7 Days moving average, month, etc. let me know if that is OK for you.

[2019-05-28 07:39] lukaszgryglicki commented on #181
Now wip on this `Time it takes to close an issue after it has been filed`.

[2019-05-28 07:58] lukaszgryglicki commented on #181
We already have a dashboard for [Time it takes to close an issue after it has been filed](https://istio.teststats.cncf.io/d/11/issues-age-by-repository-group?orgId=1). So I'll start `Time it takes for the first comment on an issue (not the submitter)`.

[2019-05-28 08:34] lukaszgryglicki commented on #181
Dashboard for `Time it takes for the first comment on an issue (not the submitter)` [ready](https://istio.teststats.cncf.io/d/58/time-to-first-comment-on-the-issue?orgId=1).

[2019-05-28 08:35] lukaszgryglicki commented on #181
Now wip on a bit more complex: `Time it takes between comments on an issue`.

[2019-05-28 09:52] lukaszgryglicki commented on #181
`Time it takes between comments on an issue` [done](https://istio.teststats.cncf.io/d/59/time-between-comments-on-the-issue).
- `Time it takes from an issue being fixed to an artifact being available for the customer which incorporates the fix (i.e. in a release)` is not clear enough for me - need more info what exactly should I calculate.
- Will now work on `Time it takes to assign reviewers to a

[2019-05-28 11:04] lukaszgryglicki commented on #181
`Time it takes to assign reviewers to a PR` [finished](https://istio.teststats.cncf.io/d/60/time-to-assign-reviewers-to-a-pr).

[2019-05-28 11:05] lukaszgryglicki commented on #181
I'll research the remaining missing metrics, but ideally I wouldf need a more detailed description of what exactly should I calculate for them (please provide details for all non-finished ones).

[2019-05-28 12:07] lukaszgryglicki commented on #181
@utako :
- `Time it takes from an issue being fixed to an artifact being available for the customer which incorporates the fix (i.e. in a release).` Needs detail how to detect that, time from issue close event to what *exactly*?
- `Track how many issues are closed as fixed, duplicate, stale, or unknown` - take closed issues and the how *exactly* detect that issue was fixed or duplicate or stale or

[2019-05-29 06:35] lukaszgryglicki commented on #181
I'm staring work on `The number of PRs experiencing a test flake (PRs with label: has-experienced-a-flake)` - will calculate the number of PRs opened in a given aggregation period that ever had `has-experienced-a-flake` label.

[2019-05-29 06:52] lukaszgryglicki commented on #181
There is no such label as `has-experienced-a-flake`
This is the full list of all Istio labels found across entire org, the only similar is `flaky-test` which I'll try to use instead:
[code]

[2019-05-29 07:09] lukaszgryglicki commented on #181
Also seems like this label was only applied to a PR once. It is applied to issues instead. I'm not proceeding on this dashboard because this label was only applied to 8 issues across 3+ years, so all charts will just be flat, please take a look at the query's [SQL](https://github.com/cncf/devstats/blob/master/metrics/istio/flaky_prs.sql) and possibly identify other labels instead or suggest a diff

[2019-05-29 07:24] lukaszgryglicki commented on #183
I would start to create a preview dashboard but I need those minimal details mentioned [here](https://github.com/cncf/devstats/issues/183#issuecomment-496075668) first...

[2019-05-29 13:19] caniszczyk commented on #183
table with the ability to filter by repo group

[2019-05-29 13:24] lukaszgryglicki commented on #183
Table showing doc contributors right?
like for example
- select date range
- select repo group or all
then table:
- contributor1, N1 doc contributions
- contributor2, N2 doc contributions
...

Doc contribution defined as any commit that includes changes or creating to *.md file(s)?

[2019-05-29 13:26] caniszczyk commented on #183
actually can we just make it two, basically model it after this:

https://all.devstats.cncf.io/d/7/companies-contributing-in-repository-groups?orgId=1 (for only docs)
https://all.devstats.cncf.io/d/5/companies-table?orgId=1 (for only docs)

[2019-05-29 14:12] lukaszgryglicki commented on #183
So the first showing number of distinct docs contributors and distinct docs contributing companies and the second one showing the number of doc contribution grouped by companies? Both allowing filter by repo groups, right?

[2019-05-30 15:21] idealhack opened #184 "[bug] dashboard not working when filter value contains commas"
e.g., https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-country_name=Korea,%20Republic%20of not working.

Not sure about other dashboards but this one works https://k8s.devstats.cncf.io/d/50/countries-stats?orgId=1&var-period_name=Quarter&var-countries=%22Korea,%20Republic%20of%2

[2019-05-30 17:05] MarkEWaite opened #185 "[feature-request] Add jenkins-infra/jenkins-io to jenkins project metrics"
The Jenkins project keeps its documentation in the [jenkins-infra/jenkins.io repository](https://github.com/jenkins-infra/jenkins.io).  The [Jenkins Documentation Special Interest Group](https://jenkins.io/sigs/docs/) would like to recognize new contributors and encourage more contribution from all.  We think devstats metrics can be used to identify new contributors and highlight increasing contri

[2019-05-31 04:50] lukaszgryglicki commented on #185
Will add, ETA - Monday.

[2019-05-31 04:50] lukaszgryglicki commented on #184
Thanks for reporting, I'll check this.

[2019-05-31 04:51] MarkEWaite commented on #185
Thanks very much!

[2019-05-31 05:01] lukaszgryglicki commented on #185
Should I add entire jenkins-infra org, or just this single repo? Should I start tracking this from now (which can be done anytime)? Or regenerate all historical data with that repo included (which requires full regenerate on jenkins project data)?

[2019-05-31 08:21] lukaszgryglicki commented on #184
This is not due to comma, this is due to dashboards metrics - one returns data for `Korea, Republic of` and another one doesn't - investigating.

[2019-05-31 09:22] idealhack commented on #184
I forgot to one point here that I checked other country names with a comma, not working as well

[2019-05-31 09:26] lukaszgryglicki commented on #184
OK, fixed (it *was* due to comma), regenerate that dashboard and confirmed that it [works OK](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=korea&var-country_name=Korea%20Republic%20of).

[2019-05-31 09:29] lukaszgryglicki commented on #181
Prod also [fixed](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20year&var-metric=contributions&var-repogroup_name=All&var-country_name=Korea%20Republic%20of).

[2019-05-31 09:29] idealhack commented on #184
yeah, [it works](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-country_name=Korea%20Republic%20of), the `country_name` could be improved though.

[2019-05-31 09:29] lukaszgryglicki commented on #184
Prod also [fixed](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20year&var-metric=contributions&var-repogroup_name=All&var-country_name=Korea%20Republic%20of).

[2019-05-31 12:53] MarkEWaite commented on #185
That's a great question.  Considering the small number of repositories in the jenkins-infra organization, I would prefer that all the repositories be added.

Regenerating all the historical data for the entire Jenkins project (2000+ repos) seems like a lot of work for relatively little benefit.

I'd prefer that we start tracking the data from now.  That will let me use the arriving data to discove

[2019-05-31 12:59] lukaszgryglicki commented on #185
No problem with regenerating, in any case I'll update on Monday.

[2019-05-31 13:16] MarkEWaite commented on #185
If regenerating is not too painful, then full historical data is very attractive, since it will give me additional insights into the repository history.

[2019-05-31 13:37] lukaszgryglicki commented on #185
I'll regenerate data on Monday. Tuesday worst case.

[2019-05-31 14:37] #184 closed

[2019-06-03 10:39] lukaszgryglicki commented on #185
Done.

[2019-06-03 19:28] MarkEWaite commented on #185
That looks great!  Thanks very much!

[2019-06-03 19:29] #185 closed

[2019-06-04 11:21] lukaszgryglicki commented on #183
Added one new dashboard for all projects (excluding Kubernetes which requires explicit approval), for example [dashboard for All CNCF projects combined](https://all.devstats.cncf.io/d/61/documentation-committers-in-repository-groups?orgId=1).
Instead of adding new tabular dashboard (2nd request) I've added new drop-down filter values for the [existing dashboard](https://all.devstats.cncf.io/d/5/co

[2019-06-06 12:07] lukaszgryglicki opened #186 "[bug] Wrong opened PRs data"
So devstats is showing Kubernetes closing PRs a bunch faster starting january 2019

I'm not finding anything to indicate that this is a data artifact, but can you double-check?
I'm gonna be reporting on it Thursday
https://k8s.devstats.cncf.io/d/25/open-pr-age-by-repository-group?orgId=1
that seems to show that we're getting a lot more PRs in Kubernetes, and closing them faster
but are we really?

[2019-06-06 12:08] lukaszgryglicki commented on #186
This data is 99% a bug, because of somethging amazing:
The same GitHub repo ID is used for multiple repository names (which is quite OK):
[code]

[2019-06-06 12:56] lukaszgryglicki commented on #186
Fixed by dc4f67ac9db47600ce444da4d024c294a4e85e7e, now I'll regenerate data everwhere - that will take some time.

[2019-06-06 13:55] lukaszgryglicki commented on #186
@jberkus fixed on the test server so that you can access data on https://k8s.teststats.cncf.io. Prod server is regenerating right now (to the temp database). Once it is regenerated successfully it will switch to a new database and drop previous database (this is a new approach to regenerate data without downtime)

[2019-06-06 19:33] lukaszgryglicki commented on #186
data regenerated, closing.

[2019-06-06 19:33] #186 closed

[2019-06-07 17:31] howardjohn opened #187 "Pull Requests Created includes closing PRs"
Example: https://istio.teststats.cncf.io/d/48/users-statistics-by-repository-group?orgId=1&from=now-30d&to=now&var-period=d&var-metric=prs&var-repogroup_name=istio%2Fistio&var-users=All

See user duderino on 6/1. The charts say 24 PRs were created on this day. If you look on Github, you can see this user has not made this many PRs total: https://github.com/istio/istio/pulls/duderino

I know they c

[2019-06-10 22:14] nzoueidi commented on #72
Actually, I have started working on this without knowing that there is an issue associated for it.
I have been working on a docker image (Ubuntu 18.04) including all the steps needed to deploy devstats.
- I am now trying to setup all the components to talk with each other (Postgresql, Grafana and the docker image).
- I am also working on setting all the needed environment variables through configm

[2019-06-10 22:55] jberkus commented on #72
I'm  going to close this issue because the primary work is done.  We need to improve the current implementation, but that is better done through specific issues.

@nzoueidi, if you want to add a backup tool or similar, please open an issue or PR for it?

[2019-06-10 22:55] #72 closed

[2019-06-11 05:18] lukaszgryglicki commented on #72
We already support backups. Bare metal had full backups. I could do the same for Kubernetes deployments, but we don't really need to have full backups because almost all data comes from GHA (GitHub archives) and git, so it's 100% redoable. the only data that is not redoable is the data coming from GitHub API every hour. This data requires GitHub API tokens to be used and can only be run for the cu

[2019-06-11 17:37] KeyboardNerd opened #188 "[bug] No DevStats projects link on Dashbords works"
Goto: https://all.devstats.cncf.io/d/8/dashboards?orgId=1&refresh=15m
Under All CNCF projects, DevStats projects: Click on any one project e.g. k8s
It fails with DNS_PROBE_FINISHED_NXDOMAIN.
example URLs:
https://linkerd.devstats-provision-all/
https://k8s.devstats-provision-all/

[2019-06-11 17:43] lukaszgryglicki commented on #188
Will check tomorrow. thanks for reporting. This is due to switch to Kubernetes just about an hour ago. I'll correct that.

[2019-06-12 05:19] lukaszgryglicki commented on #188
Fixed.

[2019-06-12 05:19] #188 closed

[2019-06-12 10:13] lukaszgryglicki commented on #183
Closing, please reopen if needed.

[2019-06-12 10:13] #183 closed

[2019-06-12 20:15] oomichi opened #189 "[feature request] Add ranking number of contribution table"
When seeing https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1&var-period_name=v1.14.0%20-%20now&var-metric=contributions it is a little difficult to understand what ranking number for each company because of no index on the table.

The following picture is a sample which contains the index on the left side of each company name:

![Capture](https://user-images.githubusercontent.com/1287154/5

[2019-06-13 03:01] lukaszgryglicki commented on #189
OK will work on that soon.

[2019-06-13 05:09] lukaszgryglicki commented on #189
@oomichi done.

[2019-06-13 05:09] #189 closed

[2019-06-13 08:23] lukaszgryglicki commented on #187
WIll check this.

[2019-06-13 10:27] Mohit-Nain opened #190 "Infosys Contributions count Not reflected at devstats"
Hi @lukaszgryglicki , again there have been contributions from Infosys where PRs have been merged to Kubernetes website but the count is not reflect at devstats.
Below are the PRs:
https://github.com/kubernetes/website/pull/14669
https://github.com/kubernetes/website/pull/14440
https://github.com/kubernetes/website/pull/14439
https://github.com/kubernetes/website/pull/14383
https://github.com/kube

[2019-06-13 10:30] lukaszgryglicki commented on #190
I don't have that user data imported into DevStats yet. It will be imported during the next affiliations import, ETA Monday. Please also let me know which dashboard you are referring to.

[2019-06-13 10:33] Mohit-Nain commented on #190
https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1

this is the one we are referring

[2019-06-13 10:34] lukaszgryglicki commented on #190
OK, will import new affiliations and then let you know when corrected. Please note that we're importing new affiliations data about 1-2 times/month.

[2019-06-13 16:38] oomichi commented on #189
@lukaszgryglicki Thanks for your work. That is so faster than I expected ! :-)

[2019-06-13 16:46] lukaszgryglicki commented on #189
You're welcome.

[2019-06-13 16:51] oomichi opened #191 "[feature request] Exclude All from company contribution ranking"
Now as the following, the table shows All is 1st on the ranking.
However All is not company and it is nice to exclude the ranking number from All.
![Capture](https://user-images.githubusercontent.com/1287154/59451327-0c3be580-8dc0-11e9-93f8-80b8a18d4284.JPG)

[2019-06-13 16:59] lukaszgryglicki commented on #191
Have other stuff to do, will return to this next week, I can make All `rank 0` and eventually hide that 0 (will research that).

[2019-06-17 06:06] lukaszgryglicki commented on #191
Working on this.

[2019-06-17 06:11] lukaszgryglicki commented on #191
Done. Closing.

[2019-06-17 06:11] #191 closed

[2019-06-17 06:20] lukaszgryglicki commented on #190
It now shows [152 contributions](https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1&var-period_name=Last%20decade&var-metric=contributions) from [5 contributors](https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1&var-period_name=Last%20decade&var-metric=contributors). I've also double checked [rajesh.deshpande02](https://raw.githubusercontent.com/cncf/devstats/master/github_users.json)

[2019-06-17 06:25] lukaszgryglicki commented on #187
Yes this is true, dashboard calculates all PullRequests events (so opening, closing, merging) and then the number of distinct PRs from those events. I will update this dashboard data.

[2019-06-17 08:57] Mohit-Nain commented on #190
is there a way to check details of these 5 contributors?

[2019-06-17 09:32] lukaszgryglicki commented on #190
There is no dashboard showing all those details, k8s community didn't want such company-related additional dashboards.
I've pulled this data for you manually:
[code]
This is for all actors affiliated to Infosys - their details, emails and names. There can be more than 1 row for single actor - like multiple names, emails etc.

[2019-06-17 11:14] lukaszgryglicki commented on #187
Fixed, also on all other projects. Now I'm only calculating opened PRs/issues.

[2019-06-17 11:14] #187 closed

[2019-06-18 06:38] lukaszgryglicki commented on #190
I'm closing this, please let me know if you need to reopen.

[2019-06-18 06:38] #190 closed

[2019-06-27 06:22] lukaszgryglicki commented on #158
Fixed by #192

[2019-06-27 06:23] lukaszgryglicki commented on #173
Fixed by #192

[2019-06-27 06:23] #173 closed

[2019-06-27 06:25] lukaszgryglicki commented on #170
Fixed by #192

[2019-06-27 06:25] #170 closed

[2019-06-27 07:14] vnktram commented on #35
@lukaszgryglicki I can pick this up.

[2019-06-27 07:17] lukaszgryglicki commented on #35
Sure, go ahead.

[2019-07-03 00:29] oomichi opened #193 "[feature request] Add ranking number of Developer Activity Counts"
As the same as https://github.com/cncf/devstats/issues/189 it is nice to add ranking number to `Developer Activity Counts` as https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1

[2019-07-03 09:14] lukaszgryglicki commented on #193
I'll work on this maybe next week, thanks.

[2019-07-04 03:49] gaocegege opened #194 "[question] The status of non-cncf projects"
I saw there are some directories in this repo, e.g. https://github.com/cncf/devstats/tree/master/kubeflow. Are we considering show these projects in the devstats?

In kubeflow community, we maintained a deployment of devstats. If we could support non-cncf projects in the cncf devstats, I think it will be betters.

Maybe we could refer to the design of https://www.stackalytics.com/.

![Screenshot f

[2019-07-04 04:19] lukaszgryglicki commented on #194
DevStats only shows CNCF projects. You can take a look at `cncf/devstats-helm` and deploy your own installation for whatever project(s) you want.

[2019-07-04 04:23] gaocegege commented on #194
Gotcha. Then what's the purpose of https://github.com/cncf/devstats/tree/master/kubeflow or https://github.com/cncf/devstats/tree/master/knative

[2019-07-04 04:27] lukaszgryglicki commented on #194
There are some projects that were added to devstats but only on a test server. Some of them are still there and some of them are no longer maintained.

[2019-07-04 06:08] gaocegege commented on #194
@lukaszgryglicki Thanks for your reply! I am closing it.

[2019-07-04 06:08] #194 closed

[2019-07-05 07:49] lukaszgryglicki commented on #193
Done, closing.

[2019-07-05 07:49] #193 closed

[2019-07-05 18:26] oomichi commented on #193
@lukaszgryglicki Thanks for doing this, that is so fast :-)
I confirmed this works well as https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1

[2019-07-19 23:27] howardjohn opened #195 "pq: permission denied for table gfa_vars"
When accessing https://istio.teststats.cncf.io/d/8/dashboards?orgId=1&refresh=15m, all dashboards fail to load with error `pq: permission denied for table gfa_vars`

[2019-07-20 06:04] lukaszgryglicki commented on #195
Will work on that on Monday, thanks for reporting.

[2019-07-22 05:21] lukaszgryglicki commented on #195
Working on this.

[2019-07-22 09:11] lukaszgryglicki commented on #195
Fixed. Thanks for reporting, other projects were broken too - my bad.

[2019-07-22 14:27] howardjohn commented on #195
Thanks! it is working well again

[2019-07-22 14:27] #195 closed

[2019-07-22 15:12] mrbobbytables opened #196 "[Feature Request] Add additional time ranges to the Developer Activity Counts dashboard"
Dashboard: https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1

Right now it is a bit difficult to track year-over-year trends with the current available selection of time ranges. Would it be possible to add a few more options such as `Last 2 Years` and `Last 3 Years`?

Thanks!

[2019-07-22 15:46] lukaszgryglicki commented on #196
We can do that, but we can only have a fixed specific list of periods. Currently, we have "Last X" where X is a day, week, month, quarter, year, decade ... and then inter-release ranges like `v0.1 - v0.2`, `v0.2 - now`. Having this means we have to add a lot of data to the database (to store precalculated data).
cc @dankohn

[2019-07-23 06:09] #107 closed

[2019-07-23 06:10] #29 closed

[2019-07-29 20:08] oomichi opened #197 "[feature request] Exclude Independent from company ranking index"
Independent is 5th on company ranking as https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1&var-period_name=v1.14.0%20-%20v1.15.0&var-metric=contributions
But Independent is not a company, it is better to exclude it from company ranking index like putting empty as Independent's rank.

[2019-07-30 06:28] lukaszgryglicki commented on #197
This needs discussion
cc @dankohn @spiffxp @jberkus

[2019-07-30 10:35] dankohn commented on #197
One of the inspirations for DevStats was gitdm and the Who Writes Linux report. See [2017's report](https://go.pardot.com/l/6342/2017-10-24/3xr3f2/6342/188781/Publication_LinuxKernelReport_2017.pdf). None, meaning independent, has always been an entry there (see page 14), so I would suggest we keep it here.

[2019-07-30 11:17] lukaszgryglicki commented on #197
I would also keep `Independent` in place, that's why I'm asking. It actually tells a story about how many un-affiliated developers are contributing to the project.

[2019-07-31 00:19] oomichi commented on #197
@dankohn @lukaszgryglicki Thanks for your information, that makes sense for me.

[2019-07-31 00:19] #197 closed

[2019-08-16 18:35] utako commented on #181
Thanks for your patience @lukaszgryglicki and I appreciate you working on this.

This looks good.

I expect this means time from issue close to the date of a release that includes an associated PR. Does the Github API actually give you enough information to track this?

There is a stale label, but I'm in the process of asking about the others.

Yes. Hopefully we'll have added this label to more PR

[2019-08-16 19:16] mfdii opened #199 "[feature request] Summary dashboard for Falco project"
The Falco maintainer team is trying to focus on improving a few key metrics, and thus we'd like to have these metrics in a single dashboard in order to make it easier to review the metrics on a regular basis. All these metrics exist as individual dashboards now, so it's just a matter of making one dashboard to combine them all.

We'd like to have a dashboard of the following:

- [x] Stars and Fork

[2019-08-19 05:37] lukaszgryglicki commented on #181
OK, great so I'm waiting for the final feedback and then I'll get back to the remaining items - probably in September after my vacation (last week of August).

[2019-08-19 05:44] lukaszgryglicki commented on #199
On it now, but please not the drop-downs can only be defined in the header row, so this big dashboard will have all drop-downs from the listed dashboards at the top and then all panels copied.

[2019-08-19 05:55] lukaszgryglicki commented on #199
And possible drop-down values for the period will contain only values shared from all sub-dashboards.

[2019-08-19 06:53] lukaszgryglicki commented on #199
Almost ready but the last problems:
One of those dashboards has "repository group" multi-select drop-down, while others have single value select.
I will create two:
- "Repository group" - for single value select
- "Repository groups" - for multi-value select.

Also, one dashboard used "priority" drop-down (based on labels), but I don't see any data when selecting a value from that priority drop-do

[2019-08-19 07:17] lukaszgryglicki opened #200 "Remove/archive rkt project."
Remove/archive rkt project.

[2019-08-19 07:20] lukaszgryglicki commented on #199
@mfdii dashboard implemented [here](https://falco.devstats.cncf.io/d/65/summary-dashboard?orgId=1). 4 dropdowns finally needed: Period, repository (single repo for forks/stars, etc), repository group (single value select) and repository groups (multi-select for PRs merged in repo groups). The period drop-down contains minimal common set (7 Days MA, Week, Month, Quarter).

[2019-08-19 07:22] lukaszgryglicki commented on #200
Removing from `prod` servers, leaving on `test` servers.

[2019-08-19 10:10] lukaszgryglicki commented on #200
Done.

[2019-08-19 10:10] #200 closed

[2019-08-19 20:53] mfdii commented on #199
Thanks for the fast response. This looks good to us. If we have any issue we'll reopen this issue.

[2019-08-19 20:53] #199 closed

[2019-08-23 20:12] tigrannajaryan opened #201 "Bug: company stats are not a sum of affiliated developers"
I am affiliated with Omnition. The affiliation data in https://github.com/cncf/gitdm seems to be correct. Yet, my personal stats don't seem to contribute correctly to the company stats.

[Here](https://github.com/cncf/devstats/issues/new?assignees=&labels=&template=issue.md&title=) it shows that I (@tigrannajaryan) have 703 contributions to OpenTelemetry.

However when I check [company contributio

[2019-08-24 07:45] lukaszgryglicki commented on #201
Affiliations from `cncf/gitdm` are periodically imported into DevStats (usually 1-2 times per month). Seems like your affiliations are not imported yet. They will be correct after next import.

[2019-08-26 02:04] howardjohn opened #202 "Issues Opened/Closed (siopened/siclosed) include PRs as well"
This is likely due to GitHub API essentially treating them the same, seems like a common issues with things that consume Github APIs.

I am pretty sure this is the case, as if you look at https://istio.teststats.cncf.io/d/12/issues-opened-closed-by-repository-group?orgId=1&fullscreen&panelId=3&var-period=d7&var-repogroup_name=istio%2Finstaller (if link doesn't work, this is [istio/installer](https

[2019-08-26 15:25] caniszczyk opened #203 "[feature request] add devstats for serverless projects"
This can be on teststats or another instance but I'm interested in adding:

AWS SAM: https://github.com/awslabs/aws-sam-cli + https://github.com/awslabs/serverless-application-model
AZF: https://github.com/Azure/Azure-Functions#github-repositories
Pivotal Riff: https://github.com/projectriff
Google KNative: https://github.com/knative
Oracle Fn: https://github.com/fnproject
Apache OpenWhisk: https:

[2019-09-02 06:03] lukaszgryglicki commented on #203
Will work on this as soon as I can.

[2019-09-02 06:04] lukaszgryglicki commented on #201
Closing, please let me know if you need to reopen this.

[2019-09-02 06:04] #201 closed

[2019-09-02 06:14] lukaszgryglicki commented on #202
1. yes this counts both issues and PRs - I'll change this into 2 charts (PRs and issues).
2. I'll add non-stacked chart below the stacked one.

[2019-09-02 10:57] lukaszgryglicki commented on #202
Preview (but very wip): https://istio.teststats.cncf.io/d/12/issues-opened-closed-by-repository-group?orgId=1&var-period=d7&var-repogroup_name=istio%2Finstaller

[2019-09-02 11:48] lukaszgryglicki opened #204 "[Feature request] Add Strimzi to CNCF Sandbox (DevStats pages)"
Add `Strimzi` project DevStats pages (prod and test, sandbox level), see: https://github.com/cncf/devstats/issues/203.

[2019-09-02 11:48] lukaszgryglicki commented on #204
Will work on this tomorrow. ETA tomorrow.

[2019-09-02 12:04] lukaszgryglicki commented on #204
Initial research started today.

[2019-09-02 12:05] lukaszgryglicki commented on #203
Will work on this after adding Strimzi, start work on Wednesday.

[2019-09-02 14:20] howardjohn commented on #202
Nice! looks great

On Mon, Sep 2, 2019, 3:57 AM Łukasz Gryglicki <notifications@github.com>
wrote:

[2019-09-02 16:29] lukaszgryglicki commented on #202
Actually finished, forgot to close, thanks.

[2019-09-02 16:29] #202 closed

[2019-09-03 08:20] lukaszgryglicki commented on #204
Already deploying on the headless server, then on the test finally on the prod.

[2019-09-03 12:54] lukaszgryglicki commented on #204
Devstats [test](https://strimzi.teststats.cncf.io) and [prod](https://strimzi.devstats.cncf.io) pages ready, but: I need a script that will merge new projects just added into existing 'All ...' database, so it will include data from the past too. Otherwise projects health9s) metric won't have past data to show stats, working on this.

[2019-09-03 14:32] lukaszgryglicki commented on #204
Problem is a bit more complex, at least when dealing with this for the first time. ETA for "All CNCF" to become ready is tomorrow then.

[2019-09-03 16:26] howardjohn opened #205 "PRs closed/opened may be inaccurate"
Slack conversation captured:

John Howard 8:55 AM
@lukaszgryglicki Is it possible the sprclosed table doesn't treat merged PRs as closed or something? It seems like there are some closed PRs missing somehow? From https://istio.teststats.cncf.io/d/12/issues-opened-closed-by-repository-group?orgId=1&fullscreen&panelId=14&var-period=d7&var-repogroup_name=istio%2Fistio there are 4.7k total opened PRs

[2019-09-03 16:28] lukaszgryglicki commented on #205
GitHub events will show more, because it counts all possible events. Anyway, I'll check this and eventually correct. Thanks for reporting.

[2019-09-04 05:41] lukaszgryglicki commented on #204
Done. Missing artwork, used `cncf` icons instead (same with `in-toto`), closing.

[2019-09-04 05:41] #204 closed

[2019-09-04 05:42] lukaszgryglicki commented on #203
Starting to work on this.

[2019-09-04 06:23] lukaszgryglicki commented on #203
We already have Knative (a long long time): https://knative.teststats.cncf.io/d/8/dashboards?orgId=1&refresh=15m

[2019-09-04 10:27] lukaszgryglicki commented on #203
Researched all repo names changes histore in all those projects to enable correct DevStats data retrieve params, see:
[code]

[2019-09-04 10:57] lukaszgryglicki commented on #203
Final PSQL configs taking into account all orgs/repos lists per serverless projects added here: 59b6eaa63193fcc41b50c3c9b1ad2a11fd127877

[2019-09-04 13:26] lukaszgryglicki commented on #203
I'm also updating `cncf/velocity` project to correctly identify all those new serverless projects.

[2019-09-05 06:11] lukaszgryglicki commented on #203
Finished:
- Oracle Fn https://fn.teststats.cncf.io
- Apache OpenWhisk: https://openwhisk.teststats.cncf.io
- AWS SAM: https://sam.teststats.cncf.io
- OpenFaaS: https://openfaas.teststats.cncf.io
- Knative: https://knative.teststats.cncf.io
- AZF: https://azf.teststats.cncf.io
- Pivotal Riff fixed: https://riff.teststats.cncf.io
Closing.

[2019-09-05 06:12] #203 closed

[2019-09-05 06:12] lukaszgryglicki commented on #205
Will work on this on Friday.

[2019-09-05 07:32] lukaszgryglicki commented on #205
@howardjohn I see what's wrong:
Issues and PRs are stored on the same table `gha_issues`.
There is `is_pull_request` flag in this table that specifies if a given issues is actually an issue or PR.
Now for "issues" flagged as PRs there is `gha_pull_requests` table, which holds data specific only to PRs. When PRs got closed/merged - `closed_at` is updated on this `gha_pull_requests` table but not al

[2019-09-05 07:34] lukaszgryglicki commented on #205
For issues (not PRs) data in `gha_issues` seems to be OK:
[code]

[2019-09-05 07:42] lukaszgryglicki commented on #205
Seems like after SQL fix all should be fine (data regenerate pending), see:
[code]

[2019-09-05 07:57] lukaszgryglicki commented on #205
SQL fixed here: 464ef491efef13484b7c7648aeec4545a0eb91a9, test coverage updated here: 267579f73560d05a02bba0d5675a59160cc51a7d

[2019-09-05 08:17] lukaszgryglicki commented on #205
Finished, data regenerated on all 40+ projects on both test and prod servers. Closing.

[2019-09-05 08:17] #205 closed

[2019-09-05 13:51] howardjohn commented on #205
thanks!! looks great now

[2019-09-09 11:58] dims opened #206 "[feature request] Please add Company to developer-activity-counts-by-repository-group page"
Could we please add the company information to the following page:
https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1

[2019-09-09 12:00] dims opened #207 "[feature request] Please add country information to company-prs-in-repository-groups"
Can we please add country column to the following page:
https://k8s.devstats.cncf.io/d/55/company-prs-in-repository-groups?orgId=1

[2019-09-09 12:02] lukaszgryglicki commented on #206
@dankohn @spiffxp I can add this, but I need some approval I presume?

[2019-09-09 12:05] lukaszgryglicki commented on #207
Same here: @spiffxp @dankohn I can add this, but for K8s dashboards I need k8s team to approve that feature.

[2019-09-09 12:10] dankohn commented on #206
Approved, thanks.

[2019-09-09 12:11] dankohn commented on #207
Please feel free to mention on #devstats and see if anyone objects. But otherwise please go ahead. Note that the previous issue was concern about including email addresses, which this does not do.

[2019-09-09 12:14] lukaszgryglicki commented on #207
OK will do and eventually start working on #206 and #207 tomorrow.

[2019-09-10 12:43] lukaszgryglicki commented on #207
Done ok [K8s](https://k8s.devstats.cncf.io/d/55/company-prs-in-repository-groups?orgId=1), other projects pending.

[2019-09-10 12:43] lukaszgryglicki commented on #206
Done on [K8s](https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1), other projects pending.

[2019-09-10 14:43] lukaszgryglicki commented on #206
Other projects finished too, for example [All CNCF](https://all.teststats.cncf.io/d/9/developer-activity-counts-by-repository-group-table?orgId=1).

[2019-09-10 14:43] lukaszgryglicki commented on #207
Other projects finished too, for example [All CNCF](https://all.teststats.cncf.io/d/55/company-prs-in-repository-groups-table?orgId=1).

[2019-09-10 14:45] dims commented on #206
@lukaszgryglicki is it easy to add a drop down list box for “Company” alongside the “Country”?

[2019-09-10 14:46] dims commented on #207
@lukaszgryglicki Could we please add a Country Drop Down list? (next to the Companies)

[2019-09-10 15:38] lukaszgryglicki commented on #206
Done.

[2019-09-10 15:38] lukaszgryglicki commented on #207
Done.

[2019-09-10 23:21] liggitt commented on #206
Can we restore the ability to see a developer's activity count aggregated across their company memberships (I'm currently 6 and 26 on the default view of the list, which is pretty confusing)

[2019-09-10 23:27] dims commented on #206
+1 to what @liggitt said, we should be able to view across all companies as well!

[2019-09-11 04:44] lukaszgryglicki commented on #206
To display company I must group data by the company if you take last decade you will see 2 entries for 2 companies you worked for. I can either roll back to what we have before this feature request or leave it as is. If I add another special entry like "All" companies it will be confusing with "All" selection that allows displaying all companies. If you want to see your recent rank, please select

[2019-09-11 04:50] lukaszgryglicki commented on #207
Closing, please reopen if needed.

[2019-09-11 04:50] #207 closed

[2019-09-11 04:52] lukaszgryglicki commented on #206
Ohh, maybe I will just add another panel to this dashboard - one will show per company data and another summary data (regardless of the company).